---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/grupoEtapas/img1.png";
import img2 from "../../imagens/analiseFisica/img1.png";
import img3 from "../../imagens/analiseFisica/img2.png";
import img4 from "../../imagens/analiseFisica/img3.png";
import img5 from "../../imagens/analiseFisica/img4.png";
import img6 from "../../imagens/analiseFisica/img5.png";
import img7 from "../../imagens/analiseFisica/img6.png";
import img8 from "../../imagens/analiseFisica/img7.png";
import img9 from "../../imagens/analiseFisica/img8.png";
import img10 from "../../imagens/analiseFisica/img9.png";
import img11 from "../../imagens/analiseFisica/img10.png";
import img12 from "../../imagens/analiseFisica/img11.png";
import img13 from "../../imagens/analiseFisica/img12.png";
---

<Layout title="Tipos de Análises Físicas">
  <main>
    <h1>Tipos de Análises Físicas</h1>

    <p>Acessar o Menu/ Químicas / Tipos de Análises Físicas:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>
      A análise física é utilizada para verificar se o produto produzido está
      dentro dos padrões de produção e especificações técnicas. Por exemplo
      tempo de secagem, resistência. Utilizado no Controle de Qualidade ou no
      Apontamento.
    </p>
    <img src={img3} alt="" />

    <p>Informar a descrição da Análise.</p>
    <img src={img4} alt="" />

    <p>Informar a sigla da Unidade de Medida para a Análise.</p>
    <img src={img5} alt="" />

    <p>
      Informar os parâmetros que serão obrigatórios durante o uso do Controle de
      Qualidade.
    </p>
    <img src={img6} alt="" />

    <p>
      Se a Análise necessita uso de equipamento, assinalando este parâmetro,
      torna-se obrigatório informá-lo.
    </p>
    <img src={img7} alt="" />

    <p>
      Se este tipo de análise estará visível na impressão no Certificado de
      Análise.
    </p>
    <img src={img8} alt="" />

    <p>Este tipo de análise estará visível na impressão no Boletim Técnico.</p>
    <img src={img9} alt="" />

    <p>
      Assinalando este parâmetro a análise fica desobrigada de preenchimento no
      Controle de Qualidade.
    </p>
    <img src={img10} alt="" />

    <p>
      Em caso de obrigatoriedade de informar Instrumento, informar o
      Equipamento.
    </p>
    <img src={img11} alt="" />

    <p>
      <b
        >Para acessar o Manual de Cadastro de Equipamentos/Instrumentos <a
          href=""
          target="_blank">clique aqui</a
        >.</b
      >
    </p>

    <p>
      Informar a Máscara padrão da Análise, por exemplo, a máscara é o tipo de
      unidade de média que será utilizada na Engenharia e no Apontamento, por
      exemplo, uma análise de tempo de secagem seria 2 casas para minutos e duas
      para segundos, ficando desta forma (xx’ : xx”).
    </p>
    <img src={img12} alt="" />

    <p>
      <b
        >Para acessar o Manual de Cadastro de Máscaras <a
          href=""
          target="_blank">clique aqui</a
        >.</b
      >
    </p>

    <p>
      Dados Adicionais contém os campos Inclusão e Última alteração, onde audita
      o usuário que criou e/ou alterou o registro.
    </p>
    <img src={img13} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
