---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/apontamento/img1.png";
import img2 from "../../imagens/apontamento/img2.png";
import img3 from "../../imagens/apontamento/img3.png";
import img4 from "../../imagens/apontamento/img4.png";
import img5 from "../../imagens/apontamento/img5.png";
import img6 from "../../imagens/apontamento/img6.png";
import img7 from "../../imagens/apontamento/img7.png";
import img8 from "../../imagens/apontamento/img8.png";
import img9 from "../../imagens/apontamento/img9.png";
import img10 from "../../imagens/apontamento/img10.png";
import img11 from "../../imagens/apontamento/img11.png";
---

<Layout title="Apontamento">
  <main>
    <h1>Apontamento</h1>

    <p>Acessar o menu Produção / Apontamento:</p>
    <img src={img1} alt="" />

    <p>
      O Apontamento é utilizado para registrar o início, conclusão e etapas que
      o produto passou durante o processo de produção.
    </p>
    <img src={img2} alt="" />

    <p>
      Ao gerar a Ficha de produção na parte superior direita contém o código de
      barras que pode ser bipada para confirmar a abertura do processo de
      produção.
    </p>
    <img src={img3} alt="" />

    <p>
      E quando parametrizada a obrigatoriedade de registro dos processos, a
      ficha também conterá o código de barras para a bipagem de abertura e
      encerramento das etapas.
    </p>
    <img src={img4} alt="" />

    <p>
      Quando parametrizado no Grupo de Etapas a obrigatoriedade de informar o
      colaborador, a tela terá este formato para ser escolhido o funcionário.
    </p>
    <img src={img5} alt="" />

    <p>Assim como o equipamento utilizado.</p>
    <img src={img6} alt="" />

    <p>
      Ao finalizar todas as etapas, para conclusão da ficha deve ser informada a
      quantidade final produzida (para receitas e produtos químicos).
    </p>
    <img src={img7} alt="" />
    <img src={img8} alt="" />

    <p>
      A tela de apontamento contém informações do produto, o local de estoque de
      saída das Matérias-Primas, e a entrada do Produto Acabado. A quantidade
      original da ordem, adicionais de perda e acréscimos.
    </p>
    <img src={img9} alt="" />

    <p>Tela para informar as matérias-primas e quantidades utilizadas.</p>
    <img src={img10} alt="" />

    <p>Confirmação de finalização da Ficha.</p>
    <img src={img11} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>20/02/2023</p>
    </div>
  </main>
</Layout>
