---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/baixaTitulosReceber/img1.png";
import img2 from "../../imagens/baixaTitulosReceber/img2.png";
import img3 from "../../imagens/baixaTitulosReceber/img3.png";
import img4 from "../../imagens/baixaTitulosReceber/img4.png";
import img5 from "../../imagens/baixaTitulosReceber/img5.png";
import img6 from "../../imagens/baixaTitulosReceber/img6.png";
import img7 from "../../imagens/baixaTitulosReceber/img7.png";
import img8 from "../../imagens/baixaTitulosReceber/img8.png";
import img9 from "../../imagens/baixaTitulosReceber/img9.png";
import img10 from "../../imagens/baixaTitulosReceber/img10.png";
import img11 from "../../imagens/baixaTitulosReceber/img11.png";
import img12 from "../../imagens/baixaTitulosReceber/img12.png";
import img13 from "../../imagens/baixaTitulosReceber/img13.png";
import img14 from "../../imagens/baixaTitulosReceber/img14.png";
import img15 from "../../imagens/baixaTitulosReceber/img15.png";
import img16 from "../../imagens/baixaTitulosReceber/img16.png";
import img17 from "../../imagens/baixaTitulosReceber/img17.png";
import img18 from "../../imagens/baixaTitulosReceber/img18.png";
import img19 from "../../imagens/baixaTitulosReceber/img19.png";
import img20 from "../../imagens/baixaTitulosReceber/img20.png";
import img21 from "../../imagens/baixaTitulosReceber/img21.png";
---

<Layout title="Titulos a Receber">
  <main>
    <h1>Baixa de Titulos a Receber</h1>

    <p>Acesse o menu Baixa Títulos a Receber.</p>
    <img src={img1} alt="" />

    <p>Ou</p>
    <p>Acessar o Menu/ Compras / Controle de Pesagens:</p>
    <img src={img2} alt="" />

    <p>
      Na baixa de titulos a receber existem três quatro filtros, e é possivel
      utilizar mais de um filtro para buscar um titulo.
    </p>
    <img src={img3} alt="" />

    <p>
      No filtro por Remetente/Sacador, é possivel filtrar pelo cliente ou pelo
      fornecedor.
    </p>
    <img src={img4} alt="" />

    <p>
      Para titulos vindos de convénios, é possivel filtrar pelo código do
      responsavel pelo convenio.
    </p>
    <img src={img5} alt="" />

    <p>É possivel também filtrar pelo Numero da parcela.</p>
    <img src={img6} alt="" />

    <p>E pela data de vencimento do Titulo.</p>
    <img src={img7} alt="" />

    <p>
      Após filtrar e clicar em buscar, o sistema apresentará todos os titulos
      que respeitam o filtro feito.
    </p>
    <img src={img8} alt="" />

    <p>
      Em seguida é necessário selecionar os titulos que serão baixados e clicar
      no botão "Incluir Título(s) Selecionados(s)". (É possivel selecionar um ou
      mais titulos).
    </p>
    <img src={img9} alt="" />

    <p>
      Após esse processo os titulos selecionados aparecerão na parte de baixo da
      tela, esses titulos serão os titulos que vão ser baixados. A baixa pode
      ser completa, ou uma baixa parcial.
    </p>
    <p>
      É possivel alterar o valor que será baixado de cada titulo, o Valor de
      desconto, e o Juros cobrado.
    </p>
    <img src={img10} alt="" />

    <p>
      A coluna Vr. Saldo, é o valor total do titulo, e a aba baixa é o valor que
      será baixado desse titulo.
    </p>
    <img src={img11} alt="" />

    <p>
      Outra opção é a de ratear o valor, que será usado quando o cliente tem um
      debito maior que o valor que está sendo pago.
    </p>
    <p>
      No exemplo os titulos somam o valor de R$154,96, mas foi passado apenas R$
      140,00.
    </p>
    <p>
      Clicando em no botão Ratear Vr. da Baixa, ele abrirá um campo para
      informar o valor que foi pago, e esse valor fará a baixa inicialmente do
      titulo mais antigo, caso esse titulo tenha um valor maior que o valor
      pago, ele ainda ficará com um valor em aberto. Caso esse titulo seja menor
      que o valor pago, ele fará a baixa completa e o restante irá baixar o
      proximo titulo, e assim por diante.
    </p>
    <img src={img12} alt="" />

    <p>Após esse processo basta clicar em Baixar Titulos.</p>
    <img src={img13} alt="" />

    <p>
      Nessa proxima tela será informada a forma de pagamento. É possivel usar
      uma ou mais formas de pagamento.
    </p>
    <img src={img14} alt="" />

    <p>
      No campo de Saldo Devedor, o campo Vr. Saldo Devedor, é a soma de todos os
      titulos.
    </p>
    <p>O campo Vr. Baixa, é a soma dos valores que serão baixados.</p>
    <p>
      O campo Vr. Juros, é a soma dos juros de todos os itens que serão
      baixados.
    </p>
    <p>
      O campo Vr. Abatimento, é a soma de todos os valores já baixados
      anteriormente desse titulos selecionados.
    </p>
    <p>E o Vr. a Receber, é o valor que será baixado.</p>
    <img src={img15} alt="" />

    <p>
      Na parte de Forma de Pagamento, é necessário informar o valor que será
      baixado no campo, e em seguida pressionar a tecla Enter.
    </p>
    <img src={img16} alt="" />

    <p>
      Para a forma de pagamento Dinheiro e Crédito em Conta, é necessário
      informar em qual conta o dinheiro está entrando, o valor e clicar em
      Adicionar.
    </p>
    <img src={img17} alt="" />

    <p>
      Para a forma de pagamento PIX, também basta informar o numero da Chave
      Pix, e o valor que está sendo pago.
    </p>
    <img src={img18} alt="" />

    <p>
      <b
        >A Chave PIX precisa ser cadastrada previamente, para acessar o manual
        de cadastro de chave pix, <a href="/manuais/contaCofre/" target="_blank"
          >clique aqui</a
        >:</b
      >
    </p>

    <p>
      Sendo recebimento em cheque, informar o valor total e na tela seguinte
      informar o numero do banco, o CPF/CNPJ caso o cheque seja de terceiro, o
      numero da folha, a emissão e a data de vencimento (“Bom p/”), e o valor da
      folha caso seja utilizado mais de um cheque para recebimento. Ao informar
      todas as folhas, clique em OK.
    </p>
    <img src={img19} alt="" />

    <p>
      Para recebimento em debito e credito, as informações serão iguais. É
      necessário informar a operadora do cartão, o numero de parcelas e o valor,
      em seguida clicar em adicionar.
    </p>
    <img src={img20} alt="" />

    <p>
      <b
        >O cadastro de cartões de débito e credito deve ser feito previamente,
        para acessar o manual de cadastro de cartões <a
          href="/manuais/cartoes/"
          target="_blank">clique aqui</a
        >:</b
      >
    </p>
    <p>
      É possivel fazer a baixa dos titulos de duas maneiras, basta informar o
      valor que será baixado no campo da forma do pagamento, fazer o processore
      referênte a ele visto acima, em seguida informar o valor que será baixado
      no campo da outra forma de pagamento, fazer o processo acima.
    </p>
    <p>
      Após finalizar as informações dos valores e as formas de pagamento basta
      clicar em processar para fazer a baixa dos titulos.
    </p>
    <img src={img21} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>17/01/2023</p>
    </div>
  </main>
</Layout>
