---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/baixaCheque/img1.png";
import img2 from "../../imagens/baixaCheque/img2.png";
import img3 from "../../imagens/baixaCheque/img3.png";
import img4 from "../../imagens/baixaCheque/img4.png";
import img5 from "../../imagens/baixaCheque/img5.png";
import img6 from "../../imagens/baixaCheque/img6.png";
import img7 from "../../imagens/baixaCheque/img7.png";
import img8 from "../../imagens/baixaCheque/img8.png";
import img9 from "../../imagens/baixaCheque/img9.png";
import img10 from "../../imagens/baixaCheque/img10.png";
import img11 from "../../imagens/baixaCheque/img11.png";
import img12 from "../../imagens/baixaCheque/img12.png";
---

<Layout title="Baixa de Cheque">
  <main>
    <h1>Baixa de Cheque</h1>

    <p>Acessar Sistema / Contas a Receber / Cheques de Terceiros:</p>
    <img src={img1} alt="" />

    <p>
      Recurso utilizado para realizar a baixa e lançamento de crédito na conta
      bancária referente a baixas de títulos a receber realizadas por cheque.
    </p>
    <img src={img2} alt="" />

    <p>
      Campos para informar se a busca dos lançamentos de cheque será pela data
      de emissão ou pelo vencimento. Informar a data inicial e final.
    </p>
    <img src={img3} alt="" />

    <p>Também pode ser filtrados pela situação.</p>
    <img src={img4} alt="" />

    <p>Ou por numeração de cheque também.</p>
    <img src={img5} alt="" />

    <p>
      Também pode ser filtrados cheques pelo cadastro do cliente, CPF/CNPJ, pelo
      terceiro proprietário do cheque ou pela rede bancária.
    </p>
    <img src={img6} alt="" />
    <br />
    <img src={img7} alt="" />

    <p>Ao escolher o tipo de filtro, clique em Buscar.</p>
    <img src={img8} alt="" />

    <p>Escolha os Cheques que pretende realizar a baixa.</p>
    <img src={img9} alt="" />

    <p>Clique em Incluir Cheques Selecionados.</p>
    <img src={img10} alt="" />

    <p>
      Ao separar os cheques que irá realizar o processo, clique em Baixar
      Cheques.
    </p>
    <img src={img11} alt="" />

    <p>
      Informar a data da baixa, O tipo de Baixa, a conta bancária a operação e
      se necessário os dados adicionais. Clique em Processar.
    </p>
    <img src={img12} alt="" />

    <p>
      Após a baixa, o cheque estará como a compensar no lançamento bancário. Ao
      constatar o crédito em conta, para realizar a conciliação bancária, é
      necessário realizar a compensação.
    </p>

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>21/02/2023</p>
    </div>
  </main>
</Layout>
