---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/baixaCartoes/img1.png";
import img2 from "../../imagens/baixaCartoes/img2.png";
import img3 from "../../imagens/baixaCartoes/img3.png";
import img4 from "../../imagens/baixaCartoes/img4.png";
import img5 from "../../imagens/baixaCartoes/img5.png";
import img6 from "../../imagens/baixaCartoes/img6.png";
import img7 from "../../imagens/baixaCartoes/img7.png";
import img8 from "../../imagens/baixaCartoes/img8.png";
---

<Layout title="Baixa de Cartões">
  <main>
    <h1>Baixa de Cartões</h1>

    <p>Acessar Sistema / Contas a Receber / Baixa de Cartões:</p>
    <img src={img1} alt="" />

    <p>
      Recurso utilizado para realizar a baixa e lançamento de crédito na conta
      bancária referente a vendas ou recebimentos realizados por cartão de
      credito ou débito.
    </p>
    <img src={img2} alt="" />

    <p>
      Informar se a pesquisa será pela data de emissão (venda/recebimento) ou
      pela data de vencimento (prazo para crédito em conta)
    </p>
    <img src={img3} alt="" />

    <p>
      Caso haja necessidade de ser filtrada apenas uma operadora, pode ser
      informado no campo Administradora Cartão.
    </p>
    <img src={img4} alt="" />

    <p>Clique em pesquisar.</p>
    <img src={img5} alt="" />

    <p>Escolha os lançamentos que foram compensados na conta.</p>
    <img src={img6} alt="" />

    <p>Clique no botão Baixar.</p>
    <img src={img7} alt="" />

    <p>Informe a data de Crédito e a conta que houve a compensação.</p>
    <img src={img8} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>21/02/2023</p>
    </div>
  </main>
</Layout>
