---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/centroCusto/img1.png";
import img2 from "../../imagens/banco/img1.png";
import img3 from "../../imagens/banco/img2.png";
import img4 from "../../imagens/banco/img3.png";
import img5 from "../../imagens/banco/img4.png";
import img6 from "../../imagens/banco/img5.png";
---

<Layout title="Bancos">
  <main>
    <h1>Cadastro Bancos</h1>

    <p>Acessar o Menu/ Cadastros / Financeiro/ Bancos:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>
      Utilizado no para cadastro de Contas Bancárias, Lançamento de contas a
      pagar, lançamento de Cheques.
    </p>
    <img src={img3} alt="" />

    <p>
      Informar o código da Instituição Bancaria, por exemplo, Itaú 341, Bradesco
      239, Banco do Brasil 001.
    </p>
    <img src={img4} alt="" />

    <p>Informar o Nome da Instituição Bancária.</p>
    <img src={img5} alt="" />

    <p>Clique em Salvar para finalizar o processo.</p>
    <img src={img6} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
