---
import Layout from "../../layouts/Layout.astro";

import img1 from "../../imagens/cadastrosNFe/img1.png";
import img2 from "../../imagens/cadastrosNFe/img2.png";
import img3 from "../../imagens/cadastrosNFe/img3.png";
import img4 from "../../imagens/cadastrosNFe/img4.png";
import img5 from "../../imagens/cadastrosNFe/img5.png";
import img6 from "../../imagens/cadastrosNFe/img6.png";
import img7 from "../../imagens/cadastrosNFe/img7.png";
import img8 from "../../imagens/cadastrosNFe/img8.png";
import img9 from "../../imagens/cadastrosNFe/img9.png";
import img10 from "../../imagens/cadastrosNFe/img10.png";
import img11 from "../../imagens/cadastrosNFe/img11.png";
import img12 from "../../imagens/cadastrosNFe/img12.png";
import img13 from "../../imagens/cadastrosNFe/img13.png";
import img14 from "../../imagens/cadastrosNFe/img14.png";
import img15 from "../../imagens/cadastrosNFe/img15.png";
import img16 from "../../imagens/cadastrosNFe/img16.png";
import img17 from "../../imagens/cadastrosNFe/img17.png";
import img18 from "../../imagens/cadastrosNFe/img18.png";
import img19 from "../../imagens/cadastrosNFe/img19.png";
import img20 from "../../imagens/cadastrosNFe/img20.png";
import img21 from "../../imagens/cadastrosNFe/img21.png";
import img22 from "../../imagens/cadastrosNFe/img22.png";
import img23 from "../../imagens/cadastrosNFe/img23.png";
import img24 from "../../imagens/cadastrosNFe/img24.png";
import img25 from "../../imagens/cadastrosNFe/img25.png";
import img26 from "../../imagens/cadastrosNFe/img26.png";
import img27 from "../../imagens/cadastrosNFe/img27.png";
import img28 from "../../imagens/cadastrosNFe/img28.png";
/*import img29 from "../../imagens/cadastrosNFe/img29.png";*/
import img30 from "../../imagens/cadastrosNFe/img30.png";
import img31 from "../../imagens/cadastrosNFe/img31.png";
import img32 from "../../imagens/cadastrosNFe/img32.png";
import img33 from "../../imagens/cadastrosNFe/img33.png";
import img34 from "../../imagens/cadastrosNFe/img34.png";
import img35 from "../../imagens/cadastrosNFe/img35.png";
import img36 from "../../imagens/cadastrosNFe/img36.png";
import img37 from "../../imagens/cadastrosNFe/img37.png";
import img38 from "../../imagens/cadastrosNFe/img38.png";
import img39 from "../../imagens/cadastrosNFe/img39.png";
import img40 from "../../imagens/cadastrosNFe/img40.png";
import img41 from "../../imagens/cadastrosNFe/img41.png";
import img42 from "../../imagens/cadastrosNFe/img42.png";
import img43 from "../../imagens/cadastrosNFe/img43.png";
import img44 from "../../imagens/cadastrosNFe/img44.png";
import img45 from "../../imagens/cadastrosNFe/img45.png";
import img46 from "../../imagens/cadastrosNFe/img46.png";
import img47 from "../../imagens/cadastrosNFe/img47.png";
import img48 from "../../imagens/cadastrosNFe/img48.png";
import img49 from "../../imagens/cadastrosNFe/img49.png";
import img50 from "../../imagens/cadastrosNFe/img50.png";
import img51 from "../../imagens/cadastrosNFe/img51.png";
import img52 from "../../imagens/cadastrosNFe/img52.png";
import img53 from "../../imagens/cadastrosNFe/img53.png";
import img54 from "../../imagens/cadastrosNFe/img54.png";
import img55 from "../../imagens/cadastrosNFe/img55.png";
import img56 from "../../imagens/cadastrosNFe/img56.png";
import img57 from "../../imagens/cadastrosNFe/img57.png";

import "./style.css";
---

<Layout title="teste">
  <main>
    <h1>Manual para Cadastros Tipo de Movimento e aba Fiscais</h1>
    <h2></h2>

    <p>
      O processo de emissão de NF-e começa com a criação das operações fiscais.
    </p>
    <p>Acessar o Menu/ Fiscais / Operações Fiscais:</p>
    <img src={img1} alt="" />

    <p>
      Informar a descrição, a descrição da Natureza que será visualizada na
      cabeça da nota.
    </p>

    <p>
      Informar o modelo de NF-e (55 ou 65) e a serie (esta informação é
      levantada junto ao ciente.
    </p>
    <p>Informar a Finalidade da nota e o tipo de operação.</p>
    <img src={img2} alt="" />
    <br />
    <img src={img3} alt="" />
    <br />
    <img src={img4} alt="" />

    <p>
      A seguir será necessário cadastrar os tipos de movimentos para emissões de
      nota:
    </p>
    <img src={img5} alt="" />
    <br />
    <img src={img6} alt="" />

    <p>Informar um código para o movimento e a descrição.</p>

    <p>
      Informar a operação fiscal e se o movimento irá gerar Financeiro ou não.
    </p>
    <p>Informar se o rateio será por item ou Movimento.</p>
    <p>Informar quantas casas decimais serão após a virgula.</p>
    <p>Nota: NF-e Não movimenta estoque</p>
    <p>Informar a classificação (NF-e)</p>
    <p>A forma de numeração das parcelas e sequencial.</p>
    <p>Informar se o peso será calculado ou Automático.</p>
    <p>Se será transmitido automaticamente após efetivar.</p>
    <p>E informar o indicador de presença.</p>
    <img src={img7} alt="" />

    <p>
      Na aba tributação, utiliza-se a amarração de um padrão tributário
      especifico para este movimento de nota.
    </p>
    <img src={img8} alt="" />

    <p>
      Na aba Financeiro utiliza-se parametrizações para amarrações de Prazo de
      pagamento, Espécie de Documento, Plano Financeiro, Moeda, Conta e Layout
      Bancário.
    </p>
    <img src={img9} alt="" />

    <p>
      Na aba Transportes pode-se parametrizar uma transportadora, e a
      responsabilidade do frete.
    </p>
    <img src={img10} alt="" />

    <p>
      Na aba Parâmetros, utiliza-se validade o limite de credito, quando o
      movimento da nota gerar financeiro, o nome fantasia do destinatário nos
      dados adicionais da nota.
    </p>
    <p>
      A referencia do produto no corpo da nota, considerar condicional de boleto
      no cliente (caso o tipo de movimento gere financeiro).
    </p>
    <p>
      O Fator é para o valor do produto ser dividido (por exemplo meia nota).
    </p>
    <p>
      O Intermediador por Terceiros utiliza-se para vendas em plataformas de
      e-commerce.
    </p>
    <p>
      E finalmente o Mov. p/ Industrialização e saída-Remessa p/
      industrialização, utilizam-se em emissão de notas que a empresa irá enviar
      produtos para industrializar.
    </p>
    <img src={img11} alt="" />
    <!-- Perguntar para o Bruno -->

    <p>
      A aba Operações fiscais permitidas pode-se criar amarrações da operação
      fiscal do tipo de movimento as operações criadas, por exemplo Vendas,
      restringindo assim na emissão da nota a opção apenas dos mesmos tipos de
      operações.
    </p>
    <img src="" alt="" />
    <br />
    <img src="" alt="" />

    <h2>Mensagem Fiscal</h2>
    <p>
      Após as Operações Fiscais outro recurso que pode ser utilizado é o
      cadastro de mensagens Utilizadas nas observações da nota
    </p>
    <img src={img12} alt="" />
    <br />
    <img src={img13} alt="" />

    <h2>Cadastro CFOP</h2>

    <p>
      A seguir temos o cadastro de CFOPs, os utilizados já vem cadastros no
      template de N2.
    </p>
    <img src={img14} alt="" />

    <p>
      A CFOP é utilizada para identificar se a operação é Estadual ou
      Interestadual e o seu tipo (venda, revenda, devolução).
    </p>
    <img src={img15} alt="" />

    <h2>Cadastro Padrão Tributario</h2>
    <p>A seguir é cadastrado os padrões tributários:</p>
    <img src={img16} alt="" />
    <p>
      Após criar a Descrição começaremos a utilizar os demais cadastros criados
      anteriormente:(Operação Fiscal, CFOP)
    </p>
    <img src={img17} alt="" />

    <p>Aqui é classificado o tipo de operação</p>
    <img src={img18} alt="" />

    <p>E neste local a classificação comercial.</p>
    <img src={img19} alt="" />

    <p>
      Na aba IPI é informado o Código de Situação Tributaria (CST). Esta
      informação sempre é levantada junto ao contador do cliente.
    </p>
    <img src={img20} alt="" />

    <p>A seguir informar de onde será capturado a alíquota do IPI</p>
    <img src={img21} alt="" />

    <p>
      E neste local, é assinalado quais campos não afetarão a base de cálculo do
      IPI.
    </p>
    <img src={img22} alt="" />

    <p>A seguir os parâmetros do ICMS precisam ser informados:</p>
    <p>
      A empresa sendo do Regime Normal a CST será de 2 dígitos, sendo Simples
      Nacional o CSOSN será de 3.
    </p>
    <img src={img23} alt="" />

    <p>
      Dependendo do tipo de operação, a empresa emissora da nota sendo
      enquadrada no Simples Nacional e o destinatário da nota ser do regime
      normal necessita ser informado o % de credito de ICMS a ser aproveitado.
    </p>
    <img src={img24} alt="" />

    <p>
      A seguir deve ser informado a modalidade da Base de calculo da operação.
    </p>
    <img src={img25} alt="" />

    <p>
      O Fundo de Combate a Pobreza é uma arrecadação para ajudar pessoas
      carentes.
    </p>
    <p>Neste local informa-se de onde será captado a Alíquota.</p>
    <img src={img26} alt="" />

    <p>E aqui o percentual caso a opção seja buscar do Padrão Tributário.</p>
    <img src={img27} alt="" />

    <p>
      Neste local pode ser informado uma redução de imposto caso a CST do ICMS
      indicar.
    </p>
    <p>
      Aqui o sistema funciona da seguinte maneira: se a redução for de 33,33%,
      no campo em destaque deve ser informado 66,67%.
    </p>
    <p>
      Também precisa ser indicado onde será aplicada a redução, Na base de
      calculo ou na Alíquota.
    </p>
    <img src={img28} alt="" />

    <p>
      Logo abaixo pode ser informado se haverá desoneração de ICMS e o código do
      motivo conforme indicado abaixo.
    </p>
    <!--img29-->
    <img src="" alt="" />

    <p>
      Também necessita ser informada a condição da operação fiscal, e quais
      campos não afetarão a base de calculo do ICMS.
    </p>
    <img src={img30} alt="" />

    <p>
      A próxima aba necessita ser preenchida quando o Padrão tributário criado
      abrange a condição da Substituição Tributária.
    </p>
    <p>
      Informar a modalidade da Base de Cálculo, De onde será capturada a
      Alíquota.
    </p>
    <img src={img31} alt="" />

    <p>
      Assim como de onde será feito a busca da Alíquota do Indie de Valor
      Agregado (IVA).
    </p>
    <img src={img32} alt="" />

    <p>
      E este parâmetro assim como no ICMS indicará de onde será capturado a
      Alíquota do Fundo de Combate a Pobreza para a Substituição tributaria.
    </p>
    <img src={img33} alt="" />

    <p>A próxima aba a ser preenchida será do PIS e COFINS.</p>
    <p>Informar a CST, de onde será captado a alíquota.</p>
    <img src={img34} alt="" />
    <br />
    <img src={img35} alt="" />

    <p>
      E no caso de ser do padrão tributário, no campo % Alíquota informar o
      valor.
    </p>
    <img src={img36} alt="" />

    <p>
      O parâmetro Abater ICMS da BC é utilizado para uma recuperação de credito
      retroativo de PIS e COFINS.
    </p>

    <p>
      Na aba Mensagens Fiscais utiliza-se as mensagens cadastradas
      anteriormente, caso seja inerente ao padrão tributário.
    </p>
    <p>
      Nota, esta mensagem informada constará apenas nas observações da impressão
      da nota, não sendo possível manipula-la nas observações do cadastro da
      nota.
    </p>
    <img src={img37} alt="" />

    <p>
      No cadastro da empresa na aba Alíquotas Estaduais preencher a alíquota
      interna e entre estados para uso do calculo do ICMS-ST.
    </p>
    <img src={img38} alt="" />
    <br />
    <img src={img39} alt="" />

    <h2>Cadastro NCM e CEST</h2>

    <p>
      Em cadastros / Fiscais / NCM cadastrar a Nomenclatura Comum do Mercosul,
      onde identifica o tipo de produto junto ao fisco.
    </p>
    <p>
      Este cadastro é utilizado no cadastro de produto. Sem o NCM no produto a
      nota fiscal será rejeitada pela SEFAZ.
    </p>
    <img src={img40} alt="" />
    <br />
    <img src={img41} alt="" />

    <p>
      Informar o código do NCM e a Descrição, já os campos de % de IPI, COFINS e
      PIS necessitarão ser preenchidos caso nos padrões tributários estiverem
      apontados para o NCM.
    </p>
    <img src={img42} alt="" />

    <p>
      Escala Relevante ou não relevante esta relacionado ao
      Fornecedor/Fabricante
    </p>
    <img src={img43} alt="" />
    <br />
    <img src={img44} alt="" />

    <p>
      E ambas Informações vem de encontro a esta aba no cadastro de produto.
    </p>
    <img src={img45} alt="" />

    <p>A regra tributaria abordaremos com maior profundidade a seguir.</p>
    <p>A unidade de medida é utilizada para notas de exportação.</p>
    <img src={img46} alt="" />

    <p>
      Complementada por este cadastro na aba Cadastros/Estoques/Unidades
      Comerciais.
    </p>
    <img src={img47} alt="" />

    <p>Ainda em Cadastros / Fiscais temos o cadastro do CEST.</p>
    <img src={img48} alt="" />

    <p>
      Assim como no NCM o contador do usuário possui esta informação, onde é
      necessário informar o código, a descrição e quais os NCMs participantes
      estão subordinados a este CEST.
    </p>
    <img src={img49} alt="" />

    <p>
      Na aba do Índice de Valor Agregado (IVA) carregar os estados, e de acordo
      com o estado informar o % do IVA, e caso haja alguma redução informar.
    </p>
    <p>
      Assim como no padrão tributário, em caso de redução na base de calculo,
      informar o % do restante e não do abatimento.
    </p>
    <img src={img50} alt="" />

    <p>
      O NCM e CEST são utilizados na aba Estoque dentro do Cadastro de Produtos.
    </p>
    <img src={img51} alt="" />

    <h2>Uso dos Padões Tributários</h2>
    <p>
      O sistema segue uma hierarquia de prioridade de informação. No caso da
      emissão de nota, a prioridade é o cliente/fornecedor, a seguir o produto,
      o tipo de movimento, depois o NCM e a seguir a cabeça da nota.
    </p>
    <p>
      Em cadastro / Clientes na Aba Padrões Tributários pode ser criada a
      amarração da empresa, a operação com o cliente, e o tipo de padrão
      tributário padrão.
    </p>
    <img src={img52} alt="" />

    <p>
      Já no cadastro de produto, a mesma amarração pode ser feita na aba Regras
      Tributarias / Padrões para Faturamento.
    </p>
    <img src={img53} alt="" />

    <h2>Introdução a Regra Tributaria</h2>
    <p>
      Em cadastros / Fiscais / Regras tributarias pode ser criado uma regra ou
      padrão de tributação de acordo com o tipo de produto e operação para ser
      utilizada no cliente, produto ou NCM.
    </p>
    <img src={img54} alt="" />
    <br />
    <img src={img55} alt="" />

    <p>
      É Informado o código, nome da regra, restrições ao tipo de pessoa, ramo de
      atividade, tipo de contribuinte e regime de tributação.
    </p>
    <img src={img56} alt="" />

    <p>
      A seguir Qual a empresa receberá esta regra (caso haja mais de uma empresa
      que utilizar regras tributarias, precisam ser adicionadas as informações
      das regras para todas as empresas).
    </p>
    <img src={img57} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>

<style></style>
