---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/calendarioFeriado/img1.png";
import img2 from "../../imagens/calendarioFeriado/img2.png";
import img3 from "../../imagens/calendarioFeriado/img3.png";
import img4 from "../../imagens/calendarioFeriado/img4.png";
import img5 from "../../imagens/calendarioFeriado/img5.png";
import img6 from "../../imagens/calendarioFeriado/img6.png";
import img7 from "../../imagens/calendarioFeriado/img7.png";
import img8 from "../../imagens/calendarioFeriado/img8.png";
import img9 from "../../imagens/calendarioFeriado/img9.png";
import img10 from "../../imagens/calendarioFeriado/img10.png";
import img11 from "../../imagens/calendarioFeriado/img11.png";
import img12 from "../../imagens/calendarioFeriado/img12.png";
import img13 from "../../imagens/calendarioFeriado/img13.png";
import img14 from "../../imagens/calendarioFeriado/img14.png";
---

<Layout title="Cadastro Calendario e Feriados">
  <main>
    <h1>Cadastro Calendario e Feriados</h1>

    <p>Acessar Cadastros/Auxiliares /Controle de Ponto/Cargos:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />
    <img src={img3} alt="" />

    <p>
      Este registro é a criação dos feriados e datas que serão abonadas durante
      o ano vigente.
    </p>
    <img src={img4} alt="" />

    <p>Informar a descrição do ano.</p>
    <img src={img5} alt="" />

    <p>Informar o ano de vigência.</p>
    <img src={img6} alt="" />

    <p>
      Clicando em novo os dados da compensação deve ser informados de maneira
      manual.
    </p>
    <img src={img7} alt="" />

    <p>
      Informar o dia, mês descrição da compensação e se o mesmo trata-se de um
      feriado nacional, estadual, municipal
    </p>
    <img src={img8} alt="" />
    <img src={img9} alt="" />

    <p>Clicando em carregar Feriados fixos:</p>
    <img src={img10} alt="" />

    <p>O sistema irá perguntar se deseja carregar os feriados fixos:</p>
    <img src={img11} alt="" />

    <p>
      Os principais já serão carregados, sendo necessario informar manualmente
      os especificos ou pontes.
    </p>
    <img src={img12} alt="" />
    <br />
    <img src={img13} alt="" />
    <p>
      Aba Adicionais contem os campos Inclusão e Última alteração, onde audita o
      usuário que criou e/ou alterou o registro.
    </p>
    <img src={img14} alt="" />
  </main>
</Layout>
