---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/conciliacaoBancaria/img1.png";
import img2 from "../../imagens/conciliacaoBancaria/img2.png";
import img3 from "../../imagens/conciliacaoBancaria/img3.png";
import img4 from "../../imagens/conciliacaoBancaria/img4.png";
import img5 from "../../imagens/conciliacaoBancaria/img5.png";
import img6 from "../../imagens/conciliacaoBancaria/img6.png";
import img7 from "../../imagens/conciliacaoBancaria/img7.png";
import img8 from "../../imagens/conciliacaoBancaria/img8.png";
import img9 from "../../imagens/conciliacaoBancaria/img9.png";
import img10 from "../../imagens/conciliacaoBancaria/img10.png";
import img11 from "../../imagens/conciliacaoBancaria/img11.png";
import img12 from "../../imagens/conciliacaoBancaria/img12.png";
import img13 from "../../imagens/conciliacaoBancaria/img13.png";
import img14 from "../../imagens/conciliacaoBancaria/img14.png";
import img15 from "../../imagens/conciliacaoBancaria/img15.png";
---

<Layout title="Conciliação Bancária">
  <main>
    <h1>Conciliação Bancária</h1>

    <p>Acessar o menu Bancos/Cofres - Conciliação Bancária por OFX.</p>
    <img src={img1} alt="" />

    <p>
      O Extrato de arquivo em formato OFX (Open Financial Exchange) é um tipo de
      arquivo usado para armazenar informações de movimentações financeiras, em
      resumo é um extrato bancário, só que transformado neste formato.
    </p>
    <img src={img2} alt="" />

    <p>Acessar os 3 pontos, escolher o local que foi salvo o arquivo;</p>
    <img src={img3} alt="" />

    <p>Escolher o arquivo:</p>
    <img src={img4} alt="" />

    <p>Clicar no botão Ler Arquivo.</p>
    <img src={img5} alt="" />

    <p>
      Na aba Resumo Operações contém agrupadas todas as operações que estão no
      arquivo. E precisa ser informado o tipo de operação e também se a operação
      irá criar um lançamento na conta bancária.
    </p>
    <img src={img6} alt="" />

    <p>
      Para acessar o manual de Operações Bancárias
      <b>
        <a href="" target="_blank">clique aqui</a>
      </b>:
    </p>

    <p>
      Após informar as Identificações de operação, clique em criar lançamentos.
    </p>
    <img src={img7} alt="" />

    <p>
      Na aba movimentações pode ser tratado o tipo de operação individualmente e
      se o mesmo já se encontra vinculado a um lançamento bancário.
    </p>
    <img src={img8} alt="" />

    <p>
      Caso tenha feito manualmente o lançamento de uma operação e deseje
      vincular a uma operaçao clique no local indicado.
    </p>
    <img src={img9} alt="" />
    <br />
    <img src={img10} alt="" />

    <p>Escolha a data do lançamento</p>
    <img src={img11} alt="" />

    <p>Clique em filtrar, escolha os lançamentos e clique em transportar.</p>
    <img src={img12} alt="" />
    <br />
    <img src={img13} alt="" />

    <p>O lançamento bancário ficará vinculado à operação no arquivo OFX.</p>
    <img src={img14} alt="" />

    <p>
      Quando conciliar todas as movimentações, clique em Finalizar Conciliação.
    </p>
    <img src={img15} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>20/03/2023</p>
    </div>
  </main>
</Layout>
