---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/consignado/img1.png";
import img2 from "../../imagens/consignado/img2.png";
import img3 from "../../imagens/consignado/img3.png";
import img4 from "../../imagens/consignado/img4.png";
import img5 from "../../imagens/consignado/img5.png";
import img6 from "../../imagens/consignado/img6.png";
import img7 from "../../imagens/consignado/img7.png";
import img8 from "../../imagens/consignado/img8.png";
import img9 from "../../imagens/consignado/img9.png";
import img10 from "../../imagens/consignado/img10.png";
import img11 from "../../imagens/consignado/img11.png";
import img12 from "../../imagens/consignado/img12.png";
---

<Layout title="Consignados">
  <main>
    <h1>Consignados</h1>

    <p>Acessar o Menu/ Vendas / Consignados:</p>
    <img src={img1} alt="" />

    <p>
      A primera informação que o sistema irá solicitar após clicar para gerar o
      Consignado é o tipo de movimento utilizado.
    </p>
    <img src={img2} alt="" />

    <h2>Aba Dados Consignado</h2>
    <img src={img3} alt="" />
    <img src={img4} alt="" />
    <img src={img5} alt="" />
    <img src={img6} alt="" />

    <h2>Aba Entregas/Devoluções</h2>
    <h3>Entregas</h3>
    <img src={img7} alt="" />

    <h3>Devoluções</h3>
    <img src={img8} alt="" />

    <h2>Aba Acerto Consignado</h2>
    <img src={img9} alt="" />

    <h2>Aba Comercial</h2>
    <img src={img10} alt="" />

    <h2>Aba Adiantamentos Financeiros</h2>
    <img src={img11} alt="" />

    <p>Após fazer todo o processo, basta salvar o consignado.</p>
    <p>
      E após ele estar todo finalizado, o cliente ter devolvido oque não foi
      utilizado e for fazer o pagamento, basta ir em ferramentas na parte
      superior do consignado, e clicar em Efetivar
    </p>
    <p>Após efetivar é gerado o titulo.</p>
    <img src={img12} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>02/02/2023</p>
    </div>
  </main>
</Layout>
