---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/controleEntrega/img1.png";
import img2 from "../../imagens/controleEntrega/img2.png";
import img3 from "../../imagens/controleEntrega/img3.png";
import img4 from "../../imagens/controleEntrega/img4.png";
import img5 from "../../imagens/controleEntrega/img5.png";
import img6 from "../../imagens/controleEntrega/img6.png";
---

<Layout title="Controle de Entregas">
  <main>
    <h1>Controle de Entregas</h1>

    <p>Acessar o Menu/ Vendas /Controle de Entregas:</p>
    <img src={img1} alt="" />

    <p>
      Na tela de Controle de Entregas é necessário informar a Dt. Entrega, se o
      transporte e Próprio ou de Terceiros, e o veiculo.
    </p>
    <p>O campo Dados Adicionais é reservado para observações.</p>
    <img src={img2} alt="" />

    <p>
      Logo a baixo clicando em Novo Registro é possivel selecionar os pedidos
      referentes a essa entrega.
    </p>
    <img src={img3} alt="" />

    <p>
      Para a seleção dos pedidos é possivel filtrar pela data de Emissão ou
      Efetivação, Cliente ou pelo Numero do Pedido.
    </p>
    <img src={img4} alt="" />

    <p>
      Selecionando os pedidos eles vão aparecer na tela anterior, no campo
      Pedidos Selecionados.
    </p>
    <p>
      Após finalizar todas as informações do Controle de Entrega, basta salvar o
      controle.
    </p>
    <img src={img5} alt="" />

    <p>Depois de salvar basta ir em Ferramentas e Liberar Para Entrega.</p>
    <img src={img6} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>13/02/2023</p>
    </div>
  </main>
</Layout>
