---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/controlePonto/img1.png";
import img2 from "../../imagens/controlePonto/img2.png";
import img3 from "../../imagens/controlePonto/img3.png";
import img4 from "../../imagens/controlePonto/img4.png";
import img5 from "../../imagens/controlePonto/img5.png";
import img6 from "../../imagens/controlePonto/img6.png";
import img7 from "../../imagens/controlePonto/img7.png";
import img8 from "../../imagens/controlePonto/img8.png";
import img9 from "../../imagens/controlePonto/img9.png";
import img10 from "../../imagens/controlePonto/img10.png";
import img11 from "../../imagens/controlePonto/img11.png";
---

<Layout title="Cadastro Controle de Ponto/Jornadas">
  <main>
    <h1>Cadastro Controle de Ponto/Jornadas</h1>

    <p>Acessar Cadastros/Auxiliares /Controle de Ponto/Jornadas:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />
    <img src={img3} alt="" />

    <p>
      Este registro é a criação de Jornadas de trabalho das equipes de
      colaboradores para utilização no Controle de Ponto (entradas e saídas).
    </p>
    <img src={img4} alt="" />
    <br />
    <img src={img5} alt="" />
    <p>Bloqueia o uso do Registro no Cadastro do Funcionário.</p>

    <p>
      <b
        >Para cadastro de Funcionário <a
          href="/manuais/funcionario"
          target="_blank">clique aqui</a
        >.</b
      >
    </p>

    <p>Informar o nome do Departamento ou equipe que utilizará a jornada.</p>
    <img src={img6} alt="" />

    <p>
      Informar se haverá tempo para carência em caso de atrasos ou antecipação
      do registro do ponto, por exemplo:
    </p>
    <p>
      A jornada se inicia as 7:00, e o ponto foi registrado as 7:02, tendo 5
      minutos de carência, não será considerado como atraso.
    </p>
    <img src={img7} alt="" />

    <p>
      Clique em Gerar Jornada para o sistema carregar a carga horária semanal.
    </p>
    <img src={img8} alt="" />

    <p>
      Informe os horários de entradas e saídas da jornada semanal referente a
      equipe que está sendo cadastrada.
    </p>
    <img src={img9} alt="" />

    <p>
      Dados Adicionais contem os campos Inclusão e Última alteração, onde audita
      o usuário que criou e/ou alterou o registro.
    </p>
    <img src={img10} alt="" />
    <img src={img11} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
