---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/controlePesagem/img1.png";
---

<Layout title="Controle de Pesagens">
  <main>
    <h1>Controle de Pesagens</h1>
    <p>Acessar o Menu/ Compras / Controle de Pesagens:</p>
    <img src={img1} alt="" />

    <p>
      O controle de Pesagem é utilizado em grande parte em Depósitos de Sucatas,
      onde o caminhão chega com uma quantidade de material e é realizada a
      medição de pesagem, e após descarregado é pesado novamente para verificar
      quantos kilos a menos o caminhão está, e este peso irá se referir a
      quantidade de material foi descarregado.
    </p>
    <img src={img2} alt="" />

    <p>Informar o Fornecedor ou Clique que será registrada a pesagem.</p>
    <img src={img3} alt="" />

    <p>Parâmetro para mostrar se o controle de pesagem já foi impresso.</p>
    <img src={img4} alt="" />

    <p>Escolher o produto da pesagem.</p>
    <img src={img5} alt="" />

    <p>Informar a placa do veículo.</p>
    <img src={img6} alt="" />

    <p>
      Informar o nome do motorista do veículo e o nome do operador da máquina
      que descarrega o material.
    </p>
    <img src={img7} alt="" />

    <p>Informar o peso total do caminhão com o material.</p>
    <img src={img8} alt="" />

    <p>Informar o peso do caminhão após a retirada do material.</p>
    <img src={img9} alt="" />

    <p>
      Em capturar imagem, pode ser utilizado para acessar a tela de anexo, onde
      por print ou salvo, pode ser anexado uma foto da balança ou documento.
    </p>
    <img src={img10} alt="" />
    <br />
    <img src={img11} alt="" />

    <p>
      Após informar a pesagem de saída, o sistema irá calcular a diferença da
      entrada e esta será a quantidade de material, e o será demonstrado o valor
      unitário do produto escolhido, e multiplicando terá o preço total.
    </p>
    <img src={img12} alt="" />

    <p>Campo destinado a observações de entrada.</p>
    <img src={img13} alt="" />

    <p>Campo destinado a observações de saída.</p>
    <img src={img14} alt="" />

    <p>Após o processo Acessar o botão Ferramentas/Finalizar Pesagem.</p>
    <img src={img15} alt="" />
    <br />
    <img src={img16} alt="" />

    <p>Ao confirmar será disponibilizado documento de impressão.</p>
    <img src={img17} alt="" />

    <p>Caso necessário a pesagem pode ser reaberta para manutenção.</p>
    <img src={img18} alt="" />

    <p>Informar a justificativa.</p>
    <img src={img19} alt="" />

    <p>
      O Histórico de pesagem pode ser auditado as informações de entrada e
      saída, para ser verificado as alterações que foram realizadas.
    </p>
    <img src={img20} alt="" />
    <br />
    <img src={img21} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>31/12/2022</p>
    </div>
  </main>
</Layout>
