---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/controleEntrega/img1.png";
import img2 from "../../imagens/controleEntrega/img2.png";
import img3 from "../../imagens/controleEntrega/img3.png";
import img4 from "../../imagens/controleEntrega/img4.png";
import img5 from "../../imagens/controleEntrega/img5.png";
---

<Layout title="Controle de Entregas">
  <main>
    <h1>Controle de Entregas</h1>

    <p>Acessar o Menu/ Vendas /Controle de Entregas:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />
    <img src={img3} alt="" />
    <img src={img4} alt="" />
    <img src={img5} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>13/02/2023</p>
    </div>
  </main>
</Layout>
