---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/contratos/img1.png";
import img2 from "../../imagens/contratos/img2.png";
import img3 from "../../imagens/contratos/img3.png";
import img4 from "../../imagens/contratos/img4.png";
import img5 from "../../imagens/contratos/img5.png";
import img6 from "../../imagens/contratos/img6.png";
import img7 from "../../imagens/contratos/img7.png";
import img8 from "../../imagens/contratos/img8.png";
import img9 from "../../imagens/contratos/img9.png";
import img10 from "../../imagens/contratos/img10.png";
import img11 from "../../imagens/contratos/img11.png";
import img12 from "../../imagens/contratos/img12.png";
import img13 from "../../imagens/contratos/img13.png";
import img14 from "../../imagens/contratos/img14.png";
import img15 from "../../imagens/contratos/img15.png";
import img16 from "../../imagens/contratos/img16.png";
import img17 from "../../imagens/contratos/img17.png";
import img18 from "../../imagens/contratos/img18.png";
import img19 from "../../imagens/contratos/img19.png";
import img20 from "../../imagens/contratos/img20.png";
import img21 from "../../imagens/contratos/img21.png";
import img22 from "../../imagens/contratos/img22.png";
import img23 from "../../imagens/contratos/img23.png";
import img24 from "../../imagens/contratos/img24.png";
import img25 from "../../imagens/contratos/img25.png";
import img26 from "../../imagens/contratos/img26.png";
import img27 from "../../imagens/contratos/img27.png";
import img28 from "../../imagens/contratos/img28.png";
import img29 from "../../imagens/contratos/img29.png";
import img30 from "../../imagens/contratos/img30.png";
import img31 from "../../imagens/contratos/img31.png";
import img32 from "../../imagens/contratos/img32.png";
import img33 from "../../imagens/contratos/img33.png";
import img34 from "../../imagens/contratos/img34.png";
import img35 from "../../imagens/contratos/img35.png";
import img36 from "../../imagens/contratos/img36.png";
import img37 from "../../imagens/contratos/img37.png";
import img38 from "../../imagens/contratos/img38.png";
import img39 from "../../imagens/contratos/img39.png";
---

<Layout title="Contratos">
  <main>
    <h1>Contratos</h1>

    <p>Acesse o Menu Vendas /Contratos:</p>
    <img src={img1} alt="" />

    <p>
      O recurso de Contratos é utilizado para gerar os valores de prestações de
      serviços que tem um financeiro mensal, como locações ou serviços, por
      exemplo.
    </p>
    <img src={img2} alt="" />

    <p>Informar o número do contrato.</p>
    <img src={img3} alt="" />

    <p>
      Caso não informe uma numeração, ao salvar o lançamento o sistema irá
      sugerir este padrão de número sequencial, mês e ano.
    </p>
    <img src={img4} alt="" />

    <p>Informar a data de digitação do contrato.</p>
    <img src={img5} alt="" />

    <p>
      Informar uma descrição ou nome de contrato, pode ser o tipo de serviço
      prestado ou o nome do cliente.
    </p>
    <img src={img6} alt="" />

    <p>
      Informar o valor do contrato, pode ser utilizado em dois contextos, ser um
      valor que será de mensalidade, ou o valor total do contrato para ser
      abatido as despesas e entradas de notas e no final ser apurado o quanto de
      lucratividade a prestação de serviço retornou.
    </p>
    <img src={img7} alt="" />

    <p>
      Informar qual será o tipo de reajuste do contrato, por exemplo o IGP-M
      (índice geral de preços de mercado, NPC, IPCA ou R$ quando não houver
      reajuste. Deve ser utilizado o cadastro de Moeda.
    </p>
    <img src={img8} alt="" />
    <p>
      <b
        >Para acessar o Manual de Cadastro de Moeda <a
          target="_blank"
          href="/manuais/moeda">clique aqui</a
        >.
      </b>
    </p>

    <p>Informar o valor do Cliente</p>
    <img src={img9} alt="" />
    <p>
      <b
        >Para acessar o Manual de Cadastro de Cliente <a
          target="_blank"
          href="/manuais/cliente">clique aqui</a
        >.</b
      >
    </p>

    <p>
      Campos apenas visuais para demonstrar qual o status de momento do
      Contrato.
    </p>
    <img src={img10} alt="" />

    <p>
      Podem ser alterados apenas pelo menu Ferramentas / Encerrar / Pausar ou
      Reabrir Contrato.
    </p>
    <img src={img11} alt="" />

    <p>
      Campos para informar a Data inicial e final da vigência do contrato, assim
      como o dia dos vencimentos a ser gerado cobrança da mensalidade.
    </p>
    <img src={img12} alt="" />

    <p>
      Campos para informar a Data inicial e final da Carência Financeira, assim
      como o valor. Pode ser utilizado para que durante um determinado período a
      mensalidade seja de um valor menor ou menor.
    </p>
    <img src={img13} alt="" />

    <p>
      Campo para informar a data do encerramento de contrato, em caso de
      necessidade de cancelamento antes da data prevista de conclusão da
      vigência. Também deve ser informado o motivo do encerramento.
    </p>
    <img src={img14} alt="" />

    <p>
      Informar o Plano Financeiro da Receita para ser classificado como Receita
      Financeira na DRE.
    </p>
    <img src={img15} alt="" />

    <p>Pode ser informado um centro de custo.</p>
    <img src={img16} alt="" />

    <p>E a forma que será gerada a cobrança do contrato.</p>
    <img src={img17} alt="" />

    <p>
      Informar a conta e o tipo de layout de cobraça para quando a espécie de
      documento no contrato for Boleto Bancário.
    </p>
    <img src={img18} alt="" />

    <p>
      Sendo emissão de boleto, informar como será realizada a entrega da
      cobrança. Este campo é apenas visual.
    </p>
    <img src={img19} alt="" />

    <p>
      Informar como será a tratativa do vencimento ocorrendo no final de semana,
      onde o antecipa calcula na sexta e o posterga prorroga para segunda.
    </p>
    <img src={img20} alt="" />

    <p>
      Informar se este contrato ocorreu por indicação de alguém, deve ser
      utilizado cadastro de Fornecedor. Ao faturar o contrato, na primeira
      parcela será gerado um titulo a pagar para este fornecedor referente a
      comissão.
    </p>
    <img src={img21} alt="" />

    <p>
      O contrato responsável seria par ao caso de um cliente sendo Matriz já tem
      um contrato, e é lançado um contrato separado para uma filial e é
      vinculado a filial à matriz informando ser a responsável.
    </p>
    <img src={img22} alt="" />

    <p>
      Na aba vínculos, constam os demonstrativos dos pedidos de venda por
      exemplo que no ato do seu lançamento teve o numero do contato informado.
      Este recurso é informado para gerar cobranças de recebimentos referentes
      ao contrato, sem necessariamente ser uma mensalidade.
    </p>
    <img src={img23} alt="" />

    <p>Na Tela da Emissão de pedido na aba Dados informar o contrato.</p>
    <img src={img24} alt="" />

    <p>
      Na mesma aba vínculos, constam os demonstrativos das entradas de notas
      fiscal (compras de materiais para prestação de serviços, por exemplo) que
      no ato do seu lançamento teve o numero do contato informado. Este recurso
      é informado para deduzir as despesas na apuração do contrato.
    </p>
    <img src={img25} alt="" />

    <p>
      Na Tela de Entrada de Nota Fiscal, na aba Dados/Financeiro informar o
      contrato.
    </p>
    <img src={img26} alt="" />

    <p>Na aba Implantação</p>
    <img src={img27} alt="" />

    <p>
      Pode ser adicionado um valor à parte no contrato, como uma taxa de adesão
      por exemplo.
    </p>
    <img src={img28} alt="" />

    <p>Informar o valor.</p>
    <img src={img29} alt="" />

    <p>A quantidade de parcelas.</p>
    <img src={img30} alt="" />

    <p>A data da parcela inicial.</p>
    <img src={img31} alt="" />
    <br />
    <img src={img32} alt="" />

    <p>
      Para que seja vinculado os valores ao contas a receber. Deve ser Integrado
      o Titulo de implantação através do botão Ferramentas.
    </p>
    <img src={img33} alt="" />

    <p>
      Aba Histórico de Reajustes contem os registros de alterações do contrato.
    </p>
    <img src={img34} alt="" />

    <p>Aba Faturamento contém os valores referente as mensalidades geradas.</p>
    <img src={img35} alt="" />

    <p>
      Para as mensalidades serem geradas, é necessário utilizar o recurso
      Faturar o Contrato no menu Ferramentas.
    </p>
    <img src={img36} alt="" />

    <p>E escolher o mês da competência.</p>
    <img src={img37} alt="" />

    <p>
      Aba Follow up, utilizada para informar notificações referente ao contrato.
    </p>
    <img src={img38} alt="" />

    <p>
      Aba Adicionais, campos disponiveis para informar observações relacionados
      ao contrato.
    </p>
    <img src={img39} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>17/02/2023</p>
    </div>
  </main>
</Layout>
