---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/controleFechamento/img1.png";
import img2 from "../../imagens/controleFechamento/img2.png";
import img3 from "../../imagens/controleFechamento/img3.png";
import img4 from "../../imagens/controleFechamento/img4.png";
import img5 from "../../imagens/controleFechamento/img5.png";
import img6 from "../../imagens/controleFechamento/img6.png";
import img7 from "../../imagens/controleFechamento/img7.png";
import img8 from "../../imagens/controleFechamento/img8.png";
import img9 from "../../imagens/controleFechamento/img9.png";
import img10 from "../../imagens/controleFechamento/img10.png";
import img11 from "../../imagens/controleFechamento/img11.png";
import img12 from "../../imagens/controleFechamento/img12.png";
import img13 from "../../imagens/controleFechamento/img13.png";
---

<Layout title="Controle de Fechamentos">
  <main>
    <h1>Controle de Fechamentos</h1>

    <p>Acessar o Menu/ Convênios/ Controle de Fechamentos:</p>
    <img src={img1} alt="" />

    <p>
      Recurso utilizado para clientes que são responsáveis pelas compras de seus
      subordinados.
    </p>
    <p>
      Por exemplo, uma empresa calçadista tem funcionários, e os funcionários
      têm convênio mensal para aquisição de remédios em uma farmácia.
    </p>
    <p>
      Ao final do mês é realizado o fechamento dos valores gastos por
      funcionário, e a empresa responsável irá pagar as compras, descontando
      posteriormente do funcionário.
    </p>
    <img src={img2} alt="" />

    <p>
      Após acessar a view dos fechamentos de convênios, clicar 2 vezes no
      registro.
    </p>
    <img src={img3} alt="" />

    <p>
      Acessar o Menu Ferramentas e Efetivar documento para Finalizar o processo.
    </p>
    <img src={img4} alt="" />
    <br />
    <img src={img5} alt="" />

    <p>
      Informar a espécie de documento da forma da empresa responsável pelo
      convênio.
    </p>
    <img src={img6} alt="" />

    <p>
      Informar o Plano financeiro referente ao tipo de receita que será recebido
      da empresa.
    </p>
    <img src={img7} alt="" />

    <p>Caso necessário, o processo pode ser estornado e depois efetivado.</p>
    <img src={img8} alt="" />

    <p>
      E o recurso de apagar o Fechamento,só poderá ser utilizado caso o status
      do fechamento do convênio esteja como “Cancelado”.
    </p>
    <img src={img9} alt="" />

    <p>
      Os modelos de impressão de Resumo são demonstrativos de todas as compras
      por funcionários ou o modelo II contendo apenas a somatória do valor
      total.
    </p>
    <img src={img10} alt="" />
    <br />
    <img src={img11} alt="" />

    <p>
      Em título a receber referente ao Fechamento, é a tela visual para
      verificar o vencimento do título e o status (aberto ou liquidado).
    </p>
    <img src={img12} alt="" />
    <br />
    <img src={img13} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>13/02/2023</p>
    </div>
  </main>
</Layout>
