---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/cores/img1.png";
import img2 from "../../imagens/cores/img2.png";
import img3 from "../../imagens/cores/img3.png";
import img4 from "../../imagens/cores/img4.png";
import img5 from "../../imagens/cores/img5.png";
---

<Layout title="Cadastro de Cores">
  <main>
    <h1>CADASTRO DE CORES</h1>

    <p>Acessar Cadastros/Auxiliares /Cores:</p>
    <img src={img1} alt="" />
    <br>
    <img src={img2} alt="" />
    <br>
    <img src={img3} alt="" />
    <p>
      Bloqueia o uso do Registro na tela do cadastro de produto, veiculo,
      engenharia.
    </p>
    <img src={img4} alt="" />
    <p>Informar o nome da cor aser utilizada.</p>
    <img src={img5} alt="" />
    <p>
      Inclusão e Ultima alteração audita o usuário que criou e alterou o
      registro.
    </p>
  </main>
</Layout>
