---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/cultivo/img1.png";
import img2 from "../../imagens/cultivo/img2.png";
import img3 from "../../imagens/cultivo/img3.png";
import img4 from "../../imagens/cultivo/img4.png";
import img5 from "../../imagens/cultivo/img5.png";
---

<Layout title="Cultura de Cultivos">
  <main>
    <h1>Cultura de Cultivos</h1>

    <p>Acesse o Menu Cadastros / Agro negócios / Cultura de Cultivos.</p>
    <img src={img1} alt="" /><br />
    <img src={img2} alt="" />
    <img src={img3} alt="" />

    <p>
      Este menu possui o recurso de Cadastrar os tipos de culturas ou cultivos
      como CAFÉ, CANA OU GADO.
    </p>
    <img src={img4} alt="" />

    <p>Informar a descrição da Cultura.</p>
    <img src={img5} alt="" />

    <p>Ao Finalizar o Cadastro clique em Salvar.</p>

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>17/01/2023</p>
    </div>
  </main>
</Layout>
