---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/grupoEtapas/img1.png";
import img2 from "../../imagens/custoIndustrializacao/img1.png";
import img3 from "../../imagens/custoIndustrializacao/img2.png";
import img4 from "../../imagens/custoIndustrializacao/img3.png";
import img5 from "../../imagens/custoIndustrializacao/img4.png";
---

<Layout title="Custos de Industrialização">
  <main>
    <h1>Custos de Industrialização</h1>

    <p>Acessar o Menu/ Químicas / Custos de Industrialização:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>
      O Custo de industrialização é utilizado para informar no cadastro de
      produto, e quando há um processo de industrialização (terceirização de mão
      de obra) o custo é informado e utilizado no apontamento).
    </p>
    <img src={img3} alt="" />

    <p>Por exemplo, para envasar um produto é cobrado R$2,00 o Litro.</p>

    <p>Informar a Descrição do Custo de Industrialização.</p>
    <img src={img4} alt="" />

    <p>Informar o valor do KG, Litro ou Unidade.</p>
    <img src={img5} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
