---
import Layout from "../../layouts/Layout.astro";
import "./style.css";
import img3 from "../../imagens/desossa/img3.png";
import img4 from "../../imagens/desossa/img4.png";
import img5 from "../../imagens/desossa/img5.png";
import img6 from "../../imagens/desossa/img6.png";
import img7 from "../../imagens/desossa/img7.png";
import img8 from "../../imagens/desossa/img8.png";
import img9 from "../../imagens/desossa/img9.png";
import img10 from "../../imagens/desossa/img10.png";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Desossa</h1>

    <p>
      Para acessar manual completo de cadastro de produtos de Desossa,
      <b><a href="/manuais/prdDesossa" target="_blank"> clique aqui!</a></b>
    </p>

    <p>Acessar o Menu Compras / Controle de Desossa.</p>
    <img src={img3} alt="" />

    <p>Clique no + para iniciar um novo controle.</p>
    <img src={img4} alt="" />

    <p>
      Será disponibilizada a tela contendo as Notas Fiscais que contem os
      produtos de Desossa para escolha.
    </p>
    <img src={img5} alt="" />

    <p>Lembrando que é possivel realizar apenas um produto por desossa.</p>
    <img src={img6} alt="" />

    <p>Acesse o Menu / Relatórios para impressao do controle.</p>
    <img src={img7} alt="" />

    <p>
      Após entrega ao açougueiro preencher as quantidades das peças por kilo.
    </p>
    <img src={img8} alt="" />

    <p>
      Conforme vão sendo informadas as quantidades das peças, o sistema calcula
      o % de percas para serem adicionadas ao custo.
    </p>
    <img src={img9} alt="" />

    <p>Ao término do processo Acesse o Menu Ferramentas e Efetivar Desossa.</p>
    <img src={img10} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
