---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/emissaoNFe/img1.png";
import img2 from "../../imagens/emissaoNFe/img2.png";
import img3 from "../../imagens/emissaoNFe/img3.png";
import img4 from "../../imagens/emissaoNFe/img4.png";
import img5 from "../../imagens/emissaoNFe/img5.png";
import img6 from "../../imagens/emissaoNFe/img6.png";
import img7 from "../../imagens/emissaoNFe/img7.png";
import img8 from "../../imagens/emissaoNFe/img8.png";
import img9 from "../../imagens/emissaoNFe/img9.png";
import img10 from "../../imagens/emissaoNFe/img10.png";
import img11 from "../../imagens/emissaoNFe/img11.png";
import img12 from "../../imagens/emissaoNFe/img12.png";
import img13 from "../../imagens/emissaoNFe/img13.png";
import img14 from "../../imagens/emissaoNFe/img14.png";
import img15 from "../../imagens/emissaoNFe/img15.png";
import img16 from "../../imagens/emissaoNFe/img16.png";
import img17 from "../../imagens/emissaoNFe/img17.png";
import img18 from "../../imagens/emissaoNFe/img18.png";
import img19 from "../../imagens/emissaoNFe/img19.png";
import img20 from "../../imagens/emissaoNFe/img20.png";
import img21 from "../../imagens/emissaoNFe/img21.png";
import img22 from "../../imagens/emissaoNFe/img22.png";
import img23 from "../../imagens/emissaoNFe/img23.png";
import img24 from "../../imagens/emissaoNFe/img24.png";
import img25 from "../../imagens/emissaoNFe/img25.png";
import img26 from "../../imagens/emissaoNFe/img26.png";
import img27 from "../../imagens/emissaoNFe/img27.png";
import img28 from "../../imagens/emissaoNFe/img28.png";
import img29 from "../../imagens/emissaoNFe/img29.png";
import img30 from "../../imagens/emissaoNFe/img30.png";
import img31 from "../../imagens/emissaoNFe/img31.png";
import img32 from "../../imagens/emissaoNFe/img32.png";
import img33 from "../../imagens/emissaoNFe/img33.png";
import img34 from "../../imagens/emissaoNFe/img34.png";
import img35 from "../../imagens/emissaoNFe/img35.png";
import img36 from "../../imagens/emissaoNFe/img36.png";
import img37 from "../../imagens/emissaoNFe/img37.png";
import img38 from "../../imagens/emissaoNFe/img38.png";
import img39 from "../../imagens/emissaoNFe/img39.png";
import img40 from "../../imagens/emissaoNFe/img40.png";
import img41 from "../../imagens/emissaoNFe/img41.png";
import img42 from "../../imagens/emissaoNFe/img42.png";
import img43 from "../../imagens/emissaoNFe/img43.png";
---

<Layout title="Emissão de NFe">
  <main>
    <img src={img1} alt="" />
    <img src={img2} alt="" />
    <img src={img3} alt="" />
    <img src={img4} alt="" />
    <img src={img5} alt="" />
    <img src={img6} alt="" />
    <img src={img7} alt="" />
    <img src={img8} alt="" />
    <img src={img9} alt="" />
    <img src={img10} alt="" />
    <img src={img11} alt="" />
    <img src={img12} alt="" />
    <img src={img13} alt="" />
    <img src={img14} alt="" />
    <img src={img15} alt="" />
    <img src={img16} alt="" />
    <img src={img17} alt="" />
    <img src={img18} alt="" />
    <img src={img19} alt="" />
    <img src={img21} alt="" />
    <img src={img22} alt="" />
    <img src={img23} alt="" />
    <img src={img2} alt="" />
    <img src={img24} alt="" />
    <img src={img25} alt="" />
    <img src={img26} alt="" />
    <img src={img27} alt="" />
    <img src={img28} alt="" />
    <img src={img29} alt="" />
    <img src={img30} alt="" />
    <img src={img31} alt="" />
    <img src={img32} alt="" />
    <img src={img33} alt="" />
    <img src={img34} alt="" />
    <img src={img35} alt="" />
    <img src={img36} alt="" />
    <img src={img37} alt="" />
    <img src={img38} alt="" />
    <img src={img39} alt="" />
    <img src={img40} alt="" />
    <img src={img41} alt="" />
    <img src={img42} alt="" />
    <img src={img43} alt="" />
  </main>
</Layout>
