---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/entregaEPI/img1.png";
import img2 from "../../imagens/entregaEPI/img2.png";
import img3 from "../../imagens/entregaEPI/img3.png";
import img4 from "../../imagens/entregaEPI/img4.png";
import img5 from "../../imagens/entregaEPI/img5.png";
import img6 from "../../imagens/entregaEPI/img6.png";
import img7 from "../../imagens/entregaEPI/img7.png";
import img8 from "../../imagens/entregaEPI/img8.png";
import img9 from "../../imagens/entregaEPI/img9.png";
import img10 from "../../imagens/entregaEPI/img10.png";
import img11 from "../../imagens/entregaEPI/img11.png";
import img12 from "../../imagens/entregaEPI/img12.png";
---

<Layout title="Entrega EPI">
  <main>
    <h1>Entrega de EPI</h1>

    <p>Acessar o Menu / Estoque / Controle de Entrega de EPI.</p>
    <img src={img1} alt="" />

    <p>
      O Controle de Entrega de EPI visa registrar a data de entrega e a
      quantidade de material a um colaborador, também gerar o protocolo para
      assinatura, e ser possível monitorar o vencimento no cenário dos EPIs.
    </p>
    <img src={img2} alt="" />

    <p>
      O Tipo de Movimento quando parametrizado já vem automaticamente
      preenchido, mas caso não esteja, escolher o Tipo de Movimento.
    </p>
    <img src={img3} alt="" />

    <p>Escolher o Colaborador.</p>
    <img src={img4} alt="" />

    <p>Informar os EPIs as quantidades entregues.</p>
    <img src={img5} alt="" />

    <p>
      Após informar os EPIs, salve o lançamento, clique em Ferramentas /
      Efetivar Entrega.
    </p>
    <img src={img6} alt="" />

    <p>
      Para impressão clique no Botão Relatórios / Comprovante de Entrega de EPI.
    </p>
    <img src={img7} alt="" />
    <img src={img8} alt="" />

    <p>
      Após assinado pode ser escaneado, salvo em PDF e arquivado no próprio
      lançamento do controle de entrega do Funcionário.
    </p>
    <p>Acessar o botão Complementares / Documentos-imagens.</p>
    <img src={img9} alt="" />

    <p>
      Clique em Carregar Arquivos / Selecionar arquivo. Escolha o documento
      referente ao controle de entrega assinado que foi escaneado, e clique em
      ok para finalizar.
    </p>
    <img src={img10} alt="" />

    <p>
      Utilizar o Cenário para acompanhar a troca. Quando faltar uma semana o
      item já constará no cenário.
    </p>
    <img src={img11} alt="" />

    <p>
      Também pode ser acompanhado as Entregas de EPIs no Cadastro do
      Funcionário.
    </p>
    <img src={img12} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>10/01/2023</p>
    </div>
  </main>
</Layout>
