---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/entradaDocumento/img1.png";
import img2 from "../../imagens/entradaDocumento/img2.png";
import img3 from "../../imagens/entradaDocumento/img3.png";
import img4 from "../../imagens/entradaDocumento/img4.png";
import img5 from "../../imagens/entradaDocumento/img5.png";
import img6 from "../../imagens/entradaDocumento/img6.png";
import img7 from "../../imagens/entradaDocumento/img7.png";
import img8 from "../../imagens/entradaDocumento/img8.png";
import img9 from "../../imagens/entradaDocumento/img9.png";
import img10 from "../../imagens/entradaDocumento/img10.png";
---

<Layout title="Entrada de Documentos">
  <main>
    <h1>Entrada de Documentos</h1>

    <p>Acessar o Menu/ Compras / Entrada de Documentos:</p>
    <img src={img1} alt="" />
    <br />
    <img src={img2} alt="" />

    <p>
      Equivalente a Nota Fiscal de Entrada, porém sem os campos de informativos
      de impostos ou adicionais, a Entrada de Documentos é utilizada para
      inserir a quantidade de um produto adquirido juntamente com saldo já
      existe, precificação do valor de custo pago do produto e o lançamento das
      contas a pagar.
    </p>
    <p>
      Para utilizar este recurso, o Produto e o Fornecedor necessitam estar
      previamente cadastrados.
    </p>

    <p>
      <b>
        Para acessar o Manual de Cadastro de Fornecedor,
        <a href="/manuais/fornecedor" target="_blank">clique aqui</a>.
      </b>
    </p>
    <p>
      <b>
        Para acessar o Manual de Cadastro de produto,
        <a href="/manuais/prdComercioGeral" target="_blank">clique aqui</a>.
      </b>
    </p>
    <img src={img3} alt="" />

    <p>
      O sistema carrega automático uma numeração de documento e série, mas pode
      ser digitada manualmente.
    </p>
    <img src={img4} alt="" />

    <p>
      Informar da Data de emissão do documento e a data de recebimento da
      mercadoria.
    </p>
    <img src={img5} alt="" />

    <p>Informar a forma de pagamento, o prazo e o tipo de Custo/Despesa.</p>
    <img src={img6} alt="" />
    <img src={img7} alt="" />

    <p>Informar o Fornecedor.</p>
    <img src={img8} alt="" />

    <p>
      Informar o produto pelo código ou pela descrição, a quantidade e o valor
      unitário.
    </p>
    <img src={img9} alt="" />

    <p>
      Ao informar todos os itens, clicar em Ferramentas / Efetivar Documento.
    </p>
    <img src={img10} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>16/01/2023</p>
    </div>
  </main>
</Layout>
