---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/entradaTitulos/img1.png";
import img2 from "../../imagens/entradaTitulos/img2.png";
import img3 from "../../imagens/entradaTitulos/img3.png";
import img4 from "../../imagens/entradaTitulos/img4.png";
import img5 from "../../imagens/entradaTitulos/img5.png";
import img6 from "../../imagens/entradaTitulos/img6.png";
import img7 from "../../imagens/entradaTitulos/img7.png";
import img8 from "../../imagens/entradaTitulos/img8.png";
import img9 from "../../imagens/entradaTitulos/img9.png";
---

<Layout title="Entrada de Titulos">
  <main>
    <h1>Entrada de Titulos</h1>

    <p>Acessar o Menu/ Contas a Pagar / Entrada Titulos:</p>
    <img src={img1} alt="" />

    <p>
      A entrada de titulos vai ser utilizada para compras parceladas com
      parcelas fixas, e que não correm o risco de sofrerem alterações ou serem
      canceladas.
    </p>
    <img src={img2} alt="" />

    <p>
      No bloco Identificação, é importante informar um Nr. Documento unico para
      essa entrada, a Dt. Lançamento, o Vr. Total do Documento, o Numero de
      Parcelas e a Dt. do Primeiro Vencimento.
    </p>
    <img src={img3} alt="" />

    <p>
      No bloco Gerencial, é necessário informar o Fornecedor, a Espécie de
      Documento e o Plano Financeiro referente a essa entrada.
    </p>
    <img src={img4} alt="" />

    <p>
      Logo a baixo existe um campo reservado para algumas informações extras que
      possam ser necessárias.
    </p>
    <img src={img5} alt="" />

    <p>Para finalizar a entrada, basta informar os centros de custo.</p>
    <img src={img6} alt="" />

    <p>Em seguida clicar em Salvar.</p>
    <img src={img7} alt="" />

    <p>Depois desse processo basta ir em Ferramentas e Efetivar Documento.</p>
    <img src={img8} alt="" />

    <p>
      Após efetivar a Entrada de Titulos, o sistema abre uma nova Aba Parcelas
      Geradas, com todas as parcelas dessa entrada.
    </p>
    <img src={img9} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>21/03/2023</p>
    </div>
  </main>
</Layout>
