---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/epiAprovacao/img1.png";
import img2 from "../../imagens/epiAprovacao/img2.png";
import img3 from "../../imagens/epiAprovacao/img3.png";
import img4 from "../../imagens/epiAprovacao/img4.png";
import img5 from "../../imagens/epiAprovacao/img5.png";
import img6 from "../../imagens/epiAprovacao/img6.png";
import img7 from "../../imagens/epiAprovacao/img7.png";
import img8 from "../../imagens/epiAprovacao/img8.png";
import img9 from "../../imagens/epiAprovacao/img9.png";
---

<Layout title="Certificado Aprovação">
    <main>
        <h1>Certificado Aprocação EPI (CI)</h1>

        <p>Para utilizar o recurso do EPI é necessário dentro dos Parâmetros Gerais na aba Controle de Entregas de EPI estar habilitado o recurso do EPI e informado o Tipo de Movimento.</p>
        <img src={img1} alt="">
        <p><b>Para acessar o manual de Cadastro de Tipo de Movimento <a href="#" target="_blank">clique aqui</a>.</b></p>

        <p>Acessar o Menu/ Cadastros / EPI:</p>
        <img src={img2} alt="">
        <img src={img3} alt="">

        <p>EPI é a sigla para Equipamento de Proteção Individual. Sendo equipamentos utilizados por trabalhadores que possuem algum risco à saúde como protetores de ouvido, botas, capacetes e luvas.</p>
        <p>O Certificado de Aprovação (C.A.) é um certificado concedido pelo Ministério do Trabalho garantindo a qualidade do EPI, comprovando que este equipamento foi devidamente testado e está apto para comércio e uso.  Antes de ser destinado à comercialização, todo EPI deve passar por testes de conforto, resistência, durabilidade, etc. Realizado pelas empresas fabricantes e/ou importadoras. Após ser aprovado nestes testes por laboratórios credenciados, o EPI recebe o Certificado de Aprovação.</p>
        <p>Todo equipamento de proteção deve possuir em si o número do CA, no seguinte formato: C.A.000000. Com esse código você pode fazer uma consulta pública do Certificado de Aprovação de Equipamento de Proteção Individual (CAEPI) no Portal da Secretaria de Inspeção do Trabalho. </p>
    
        <p>Visão geral da tela de Cadastro de C.A.</p>
        <img src={img4} alt="">

        <p>Marcando o parâmetro Bloqueado, Inativa o uso do CA no cadastro do Produto.</p>
        <img src={img5} alt="">

        <p>Informar o código do Certificado de Análise do Produto.</p>
        <img src={img6} alt="">

        <p>Informar a Descrição do tipo de produto que foi analisado.</p>
        <img src={img7} alt="">

        <p>Informar prazo em dias que o EPI deverá ser substituído ou reposto.</p>
        <img src={img8} alt="">

        <p>Dados Adicionais contém os campos Inclusão e Última alteração, onde audita o usuário que criou e/ou alterou o registro.</p>
        <img src={img9} alt="">

        <div class="rodape">
            <p><b>Criado por:</b> Bruno Pires da Silva.</p>
            <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
            <p><b>Data Revisão:</b>19/12/2022</p>
        </div>
    </main>
</Layout>