---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/prazoPagamento/img1.png";
import img2 from "../../imagens/especieDocumento/img1.png";
import img3 from "../../imagens/especieDocumento/img2.png";
import img4 from "../../imagens/especieDocumento/img3.png";
import img5 from "../../imagens/especieDocumento/img4.png";
import img6 from "../../imagens/especieDocumento/img5.png";
import img7 from "../../imagens/especieDocumento/img6.png";
import img8 from "../../imagens/especieDocumento/img7.png";
import img9 from "../../imagens/especieDocumento/img8.png";
import img10 from "../../imagens/especieDocumento/img9.png";
import img11 from "../../imagens/especieDocumento/img10.png";
import img12 from "../../imagens/especieDocumento/img11.png";
---

<Layout title="Cadastro Especie Documento">
  <main>
    <h1>Cadastro Especie Documento</h1>

    <p>Acessar Cadastros /Financeiro /Especie Documento:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>
      Utilizado nas Entradas de Notas, Documentos, Pedidos de Vendas, NFe, e
      lançamento de contas a pagar e a receber para identificar a forma que será
      pago ou recebido um título.
    </p>

    <p>
      Clique em novo para iniciar o cadastro de uma nova Espécie de Documento.
    </p>
    <img src={img3} alt="" />
    <br />

    <img src={img4} alt="" />

    <p>Informar o Nome da Forma de Pagamento.</p>
    <img src={img5} alt="" />

    <p>
      Informar o Meio de pagamento, este filtro é utilizado nos mapas de vendas
      e também no xml da Nota Fiscal Eletronica quando a nota movimentar o
      Financeiro.
    </p>
    <img src={img6} alt="" />
    <br />
    <img src={img7} alt="" />

    <p>
      Assinalar se esta espécie de documento pode ser utilizado no aplicativo de
      vendas.
    </p>
    <img src={img8} alt="" />

    <p>
      Informar também se esta Espécie tem permissão de impressão de Nota
      Promissória no Pedido.
    </p>
    <img src={img9} alt="" />

    <p>
      E se esta Espécie <b>NÃO</b> permitirá a impressão de Boleto no Pedido ou Nota
      fical Eletrônica em caso de ambos os casos movimentarem o Financeiro.
    </p>
    <img src={img10} alt="" />

    <p>
      Informar se esta Espécie de Documento é um Adiantamento Financeiro, ou
      seja, será realizado pagamento ou recebimento antes da comercialização do
      produto/serviço.
    </p>
    <p>
      O Financeiro baixado com a espécie de documento com este parâmetro ativado
      permite realizar o processo de baixa por adiantamento.
    </p>
    <img src={img11} alt="" />

    <p>
      Para emissão de Notas Fiscais Eletrônicas em que o processo de venda
      ocorreu através de plataformas de e-commerce, pode ser parametrizado junto
      a Especie de documento quem é o intermediador do pagamento referente a
      venda, pois em caso de venda pela em sites na internet normalmente não é o
      consumidor que realizou a compra que faz o pagamento, e sim uma
      intermediadora após a confirmação do recebimento do produto.
    </p>
    <img src={img12} alt="" />
    <p>
      <b
        >Para acessar o Manual de Cadastro de Intermediador Comercial <a href=""
          >clique aqui</a
        >.
      </b>
    </p>
    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
