---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/grupoEtapas/img1.png";
import img2 from "../../imagens/estruturaProducao/img1.png";
import img3 from "../../imagens/estruturaProducao/img2.png";
import img4 from "../../imagens/estruturaProducao/img3.png";
import img5 from "../../imagens/estruturaProducao/img4.png";
import img6 from "../../imagens/estruturaProducao/img5.png";
import img7 from "../../imagens/estruturaProducao/img6.png";
import img8 from "../../imagens/estruturaProducao/img7.png";
import img9 from "../../imagens/estruturaProducao/img8.png";
import img10 from "../../imagens/estruturaProducao/img9.png";
import img11 from "../../imagens/estruturaProducao/img10.png";
---

<Layout title="Estrutura de Produção">
  <main>
    <h1>Estrutura de Produção</h1>

    <p>Acessar o Menu/ Químicas / Estrutura de Produção:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>
      A estrutura de produção é composta pelas Etapas de Produção e pelas
      Instruções de Trabalho. É utilizada para delimitar a forma de produzir um
      produto, por exemplo, as etapas de um bolo nem sempre serão as mesmas para
      produzir um pão, por isso para que não seja informado etapas que não fazem
      parte do processo de produção de um produto a estrutura restringe a apenas
      as etapas informadas.
    </p>
    <img src={img3} alt="" />

    <p>O parâmetro Bloqueado inativa o uso do cadastro na Engenharia..</p>
    <img src={img4} alt="" />

    <p>Informar a descrição da estrutura como Tintas, Perfumes, Bolos, Pães.</p>
    <img src={img5} alt="" />

    <p>Na Aba Etapas de Produção, clique para escolher as etapas.</p>
    <img src={img6} alt="" />
    <br />
    <img src={img7} alt="" />
    <br />
    <img src={img8} alt="" />

    <p>A seguir realizar o mesmo processo para Instruções de Trabalho.</p>
    <img src={img9} alt="" />

    <p>A Aba Dados Adicionais é destinada à inserção de Observações.</p>
    <img src={img10} alt="" />

    <p>
      Dados Adicionais contém os campos Inclusão e Última alteração, onde audita
      o usuário que criou e/ou alterou o registro.
    </p>
    <img src={img11} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
