---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/grupoCliente/img1.png";
import img2 from "../../imagens/etapaProducao/img1.png";
import img3 from "../../imagens/etapaProducao/img2.png";
import img4 from "../../imagens/etapaProducao/img3.png";
import img5 from "../../imagens/etapaProducao/img4.png";
import img6 from "../../imagens/etapaProducao/img5.png";
import img7 from "../../imagens/etapaProducao/img6.png";
import img8 from "../../imagens/etapaProducao/img7.png";
import img9 from "../../imagens/etapaProducao/img8.png";
import img10 from "../../imagens/etapaProducao/img9.png";
import img11 from "../../imagens/etapaProducao/img10.png";
import img12 from "../../imagens/etapaProducao/img11.png";
import img13 from "../../imagens/etapaProducao/img12.png";
import img14 from "../../imagens/etapaProducao/img13.png";
import img15 from "../../imagens/etapaProducao/img14.png";
import img16 from "../../imagens/etapaProducao/img15.png";
import img17 from "../../imagens/etapaProducao/img16.png";
---

<Layout title="Etapa de Produção">
  <main>
    <h1>Etapa de Produção</h1>

    <p>Acessar o Menu/ Químicas / Etapa de Produção:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>
      Este cadastro é utilizado na montagem das etapas de produção, onde dentro
      das etapas podem ter vários processos como, por exemplo, na AGITAÇÃO tem a
      Agitação lenta e Agitação Rápida.
    </p>
    <img src={img3} alt="" />

    <p>
      O parâmetro Bloqueado inativa o uso do cadastro nas Etapas de Produção.
    </p>
    <img src={img4} alt="" />

    <p>Informar o código para sequenciar a Etapa.</p>
    <img src={img5} alt="" />

    <p>
      Informar a descrição da Etapa, por exemplo: PESAGEM, CONTROLE DE
      QUALIDADE.
    </p>
    <img src={img6} alt="" />

    <p>
      Neste campo é escolhido o Grupo no qual esta etapa pertence ou está
      subordinada.
    </p>
    <img src={img7} alt="" />

    <p>
      <b
        >Para acessar o Manual de Cadastro de Grupos de Produção <a href=""
          >clique aqui</a
        >.
      </b>
    </p>

    <p>
      Assinalar os parâmetros que serão utilizados durante o apontamento da
      Ficha de Produção.
    </p>
    <img src={img8} alt="" />

    <p>Se no apontamento será necessário informar o tempo da etapa.</p>
    <img src={img9} alt="" />

    <p>
      Se a etapa irá gerar código de barras para registrar o início e o fim do
      processo. Assinalando este parâmetro o apontamento da etapa torna-se
      obrigatório.
    </p>
    <img src={img10} alt="" />

    <p>Se a etapa poderá ser registrada início e fim de maneira opcional.</p>
    <img src={img11} alt="" />

    <p>Se a etapa pode ser apontada fora da sequência da produção.</p>
    <img src={img12} alt="" />

    <p>
      Se no apontamento é obrigatório a informação do equipamento utilizado no
      processo de produção.
    </p>
    <img src={img13} alt="" />

    <p>
      <b
        >Para acessar o Manual de Cadastro de Equipamentos <a
          href="/manuais/equipamentos"
          target="_blank">clique aqui</a
        >.</b
      >
    </p>

    <p>
      Se no apontamento é obrigatório a informação do colaborador que realizou o
      processo de produção.
    </p>
    <img src={img14} alt="" />
    <p>
      <b
        >Para acessar o Manual de Cadastro de Equipamentos <a
          href="/manuais/equipamentos"
          target="_blank">clique aqui</a
        >.</b
      >
    </p>

    <p>
      Quando assinalado este parâmetro, a partir desta etapa se as anteriores
      forem novamente apontadas serão consideradas como retrabalho/reprocesso.
    </p>
    <img src={img15} alt="" />

    <p>
      Quando assinalado este parâmetro no apontamento no apontamento indica que
      o processo de produção foi finalizado.
    </p>
    <img src={img16} alt="" />

    <p>
      Dados Adicionais contém os campos Inclusão e Última alteração, onde audita
      o usuário que criou e/ou alterou o registro.
    </p>
    <img src={img17} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
