---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/exportarPrdBalanca/img1.png";
import img2 from "../../imagens/exportarPrdBalanca/img2.png";
import img3 from "../../imagens/exportarPrdBalanca/img3.png";
import img4 from "../../imagens/exportarPrdBalanca/img4.png";
import img5 from "../../imagens/exportarPrdBalanca/img5.png";
import img6 from "../../imagens/exportarPrdBalanca/img6.png";
import img7 from "../../imagens/exportarPrdBalanca/img7.png";
import img8 from "../../imagens/exportarPrdBalanca/img8.png";
import img9 from "../../imagens/exportarPrdBalanca/img9.png";
import img10 from "../../imagens/exportarPrdBalanca/img10.png";
---

<Layout title="Exportar Cadastro de Produtos para Balança">
  <main>
    <h1>Exportar Cadastro de Produtos para Balança</h1>

    <p>Acessar Estoque/ Exportar Cadastro de Produtos para Balança:</p>
    <img src={img1} alt="" />

    <p>
      Utilizado para realizar a integração entre os produtos do sistema que tem
      a necessidade de serem pesados e geradas as etiquetas na balança.
    </p>
    <img src={img2} alt="" />

    <p>Informar o modelo da Balança.</p>
    <img src={img3} alt="" />

    <p>Informar o tipo de layout do arquivo.</p>
    <img src={img4} alt="" />

    <p>
      Informar se deseja que a carga seja realizada com a descrição completa do
      produto ou a reduzida que foi informada na tela do cadastro de produto do
      sistema.
    </p>
    <img src={img5} alt="" />

    <p>
      Informar se deseja que a carga seja realizada com o valora descrição
      completa do produto ou a reduzida que foi informada na tela do cadastro de
      produto do sistema.
    </p>
    <img src={img6} alt="" />

    <p>
      Informar o caminho / diretório que o arquivo será salvo. Vale lembrar que
      deve ser o mesmo que está informado no aplicativo da balança para leitura.
    </p>
    <img src={img7} alt="" />

    <p>
      Nas versões ITENSMGV5 e ITENSMGV6 os arquivos das informações Nutricionais
      e Informações extras podem ser salvos para também ser realizada a carga na
      balança.
    </p>
    <img src={img8} alt="" />
    <br />
    <img src={img9} alt="" />

    <p>
      <b>
        Para acessar o manual de cadastro de produto para item de Balança <a
          target="_blank"
          href="/manuais/prdBalanca">clique aqui</a
        >.
      </b>
    </p>
    <p>Ao final clique em OK para ser gerado o arquivo.</p>
    <img src={img10} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>10/02/2023</p>
    </div>
  </main>
</Layout>
