---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/fazendasProjetos/img1.png";
import img2 from "../../imagens/fazendasProjetos/img2.png";
import img3 from "../../imagens/fazendasProjetos/img3.png";
import img4 from "../../imagens/fazendasProjetos/img4.png";
import img5 from "../../imagens/fazendasProjetos/img5.png";
import img6 from "../../imagens/fazendasProjetos/img6.png";
import img7 from "../../imagens/fazendasProjetos/img7.png";
import img8 from "../../imagens/fazendasProjetos/img8.png";
import img9 from "../../imagens/fazendasProjetos/img9.png";
import img10 from "../../imagens/fazendasProjetos/img10.png";
import img11 from "../../imagens/fazendasProjetos/img11.png";
import img12 from "../../imagens/fazendasProjetos/img12.png";
import img13 from "../../imagens/fazendasProjetos/img13.png";
import img14 from "../../imagens/fazendasProjetos/img14.png";
import img15 from "../../imagens/fazendasProjetos/img15.png";
import img16 from "../../imagens/fazendasProjetos/img16.png";
import img17 from "../../imagens/fazendasProjetos/img17.png";
import img18 from "../../imagens/fazendasProjetos/img18.png";
import img19 from "../../imagens/fazendasProjetos/img19.png";
import img20 from "../../imagens/fazendasProjetos/img20.png";
import img21 from "../../imagens/fazendasProjetos/img21.png";
import img22 from "../../imagens/fazendasProjetos/img22.png";
import img23 from "../../imagens/fazendasProjetos/img23.png";
import img24 from "../../imagens/fazendasProjetos/img24.png";
import img25 from "../../imagens/fazendasProjetos/img25.png";
import img26 from "../../imagens/fazendasProjetos/img26.png";
---

<Layout title="Projetos Agro">
  <main>
    <h1>Cadastro Agronrgócios - Projetos</h1>

    <p>Acesse o Menu Agronegócios/Projetos:</p>
    <img src={img1} alt="" />

    <p>
      O Projeto é a prospecção de um financiamento, onde são informados o
      cliente, o tipo (financiamento ou seguro), as matriculas (certificados de
      posse/propriedade da fazenda) e as garantias oferecidas.
    </p>
    <img src={img2} alt="" />

    <p>Informar o Tipo de Projeto.</p>
    <img src={img3} alt="" />

    <p>Informar se será um cliente ou grupo de clientes:</p>
    <img src={img4} alt="" />

    <p>
      A primeira etapa do projeto e o vendedor carregam automaticamente a quem
      está logado.
    </p>
    <img src={img5} alt="" />

    <p>Escolher a Cultura</p>
    <img src={img6} alt="" />
    <br />
    <img src={img7} alt="" />

    <p>
      Informar o preço de venda unitário da unidade de medida comercializada
      (kilo, saca, Ton.).
    </p>
    <img src={img8} alt="" />

    <p>Campo demonstrativo do valor total do projeto.</p>
    <img src={img9} alt="" />

    <p>
      Campos destinados a informar o % de participação/comissão e o valor que
      será recebido.
    </p>
    <img src={img10} alt="" />

    <p>
      Campos destinados a informar a data da aprovação do crédito para início da
      vigência, o tempo de duração em meses e o campo demonstrativo da data de
      término.
    </p>
    <img src={img11} alt="" />

    <p>Acesse a aba Alocações |Fazendas = Matrículas:</p>
    <img src={img12} alt="" />

    <p>
      Escolher a fazenda, sempre observando a área financiada e área produtiva
      disponível.
    </p>
    <img src={img13} alt="" />

    <p>
      Utilize este botão para alterar o layout de visualização das informações
      de grid para caixa.
    </p>
    <img src={img14} alt="" />
    <br />
    <img src={img15} alt="" />

    <p>
      Informar O valor unitário da venda do cultivo (dependerá da unidade de
      medida informada no cadastro da fazenda).
    </p>
    <p>
      Informar a área a ser financiada, o valor dos custos da produção por
      hectare.
    </p>
    <p>
      O sistema irá calcular a receita projetada, descontando os custos de
      produção.
    </p>
    <p>Neste exemplo:</p>
    <img src={img16} alt="" />

    <p>
      A conta feita pelo sistema é 18.000x18,00 = 324.000 x 1 – 10.000 =
      314.000.
    </p>
    <p>Campo para informar o % de garantia exigido pelo banco.</p>
    <img src={img17} alt="" />

    <p>Informar o tipo de garantia</p>
    <img src={img18} alt="" />

    <p>
      Penhor de safra precisa ser informado a matricula para que o sistema
      calcule a capacidade de produção, pois a garantia será a safra produzida.
    </p>
    <img src={img19} alt="" />

    <p>
      O Tipo de Garantia Hipoteca é a garantia de posse de uma propriedade ou
      imovel.
    </p>
    <p>
      Nesta condição deve-se escolher a fazenda, que deverá ter a avaliação do
      valor de mercado.
    </p>
    <p>
      Alienação fiduciária é um modelo de garantia que existem mais processos
      até a tomada da posse do imóvel.
    </p>
    <img src={img20} alt="" />

    <p>
      O avalista é uma pessoa física ou jurídica responsável por garantir o
      pagamento.
    </p>
    <img src={img21} alt="" />

    <p>
      O tipo de garantia de Maquinas ou bens é fornecido um equipamento como
      garantia. Deve ser cadastrado o produto com seu valor de venda preenchida
      que será o valor garantido.
    </p>
    <img src={img22} alt="" />

    <p>
      Para Finalizar o projeto, no campo Status Projeto escolher a opção que
      finaliza a negociação.
    </p>
    <img src={img23} alt="" />

    <p>
      Na Aba Dados Projeto/Histórico Status pode ser verificado todas as etapas
      que o financiamento passou.
    </p>
    <img src={img24} alt="" />

    <p>
      Ao efetivar o projeto, o sistema irá gerar um titulo a receber do cliente
      em favor da empresa.
    </p>
    <img src={img25} alt="" />

    <p>
      E também irá gerar um titulo a pagar para o vendedor responsável pelo
      projeto, caso o mesmo esteja parametrizado como projeto comissionado.
    </p>
    <img src={img26} alt="" />
    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>10/03/2023</p>
    </div>
  </main>
</Layout>
