---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/cultivo/img1.png";
import img2 from "../../imagens/cultivo/img2.png";
import img3 from "../../imagens/fazendas/img1.png";
import img4 from "../../imagens/fazendas/img2.png";
import img5 from "../../imagens/fazendas/img3.png";
import img6 from "../../imagens/fazendas/img4.png";
import img7 from "../../imagens/fazendas/img5.png";
import img8 from "../../imagens/fazendas/img6.png";
import img9 from "../../imagens/fazendas/img7.png";
import img10 from "../../imagens/fazendas/img8.png";
import img11 from "../../imagens/fazendas/img9.png";
import img12 from "../../imagens/fazendas/img10.png";
import img13 from "../../imagens/fazendas/img11.png";
import img14 from "../../imagens/fazendas/img12.png";
import img15 from "../../imagens/fazendas/img13.png";
import img16 from "../../imagens/fazendas/img14.png";
import img17 from "../../imagens/fazendas/img15.png";
import img18 from "../../imagens/fazendas/img16.png";
import img19 from "../../imagens/fazendas/img17.png";
import img20 from "../../imagens/fazendas/img18.png";
---

<Layout title="Cadastro Fazendas">
  <main>
    <h1>Cadastro Fazendas</h1>

    <p>Acesse o Menu Cadastros / Agro negócios / Tipo de Projetos.</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />
    <img src={img3} alt="" />

    <p>
      Este menu possui o recurso de Cadastrar as propriedades/fazendas dos
      clientes, para que possam utilizar sua produção, a venda da cultura e o
      valor da fazenda como valor a ser financiado e valor a ser oferecido como
      garantia.
    </p>
    <img src={img4} alt="" />

    <p>Informar o nome da Fazenda.</p>
    <img src={img5} alt="" />

    <p>Informar o cadastro do cliente responsável pela Fazenda.</p>
    <img src={img6} alt="" />

    <p>
      Informar se a propriedade é arrendada, o valor e a data do vencimento do
      arrendamento.
    </p>
    <img src={img7} alt="" />

    <p>Informar os dados de localização da fazenda.</p>
    <img src={img8} alt="" />

    <p>
      Informar o valor de avaliação de mercado da propriedade, a data da
      avaliação e no responsável por avaliar.
    </p>
    <img src={img9} alt="" />

    <p>
      Na aba Matrículas informar o numero do certificado de posse da propriedade
      (Matrícula).
    </p>
    <img src={img10} alt="" />

    <p>
      Informar a quantidade de área reservada ou preservada (mata, floresta ou
      rios) da propriedade.
    </p>
    <p>*Obs: Hectare equivale a 10.000m²</p>
    <img src={img11} alt="" />

    <p>
      Informar a quantidade de área não produtiva (casas, galpões, barracões,
      estradas).
    </p>
    <img src={img12} alt="" />

    <p>Informar a cultura da fazenda.</p>
    <img src={img13} alt="" />

    <p>Informar o total da área produtiva da fazenda.</p>
    <img src={img14} alt="" />

    <p>Informar a produtividade média da fazenda.</p>
    <img src={img15} alt="" />

    <p>Informar a unidade de medida da produtividade (kg, lt, ton)</p>
    <img src={img16} alt="" />

    <p>
      Informar se a produção da fazenda é irrigada ou não. Com esta condição é
      possivel saber se a produtividade será maior que a não irrigada.
    </p>
    <img src={img17} alt="" />

    <p>Demonstrativo total da área produtiva, reservada e não produtiva.</p>
    <img src={img18} alt="" />
    <img src={img19} alt="" />

    <p>
      Na aba Anexos, é possível agregar em PDF o documento de certificado de
      posse ou propriedade.
    </p>
    <img src={img20} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>17/01/2023</p>
    </div>
  </main>
</Layout>
