---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/fechamentoCompetencia/img1.png";
import img2 from "../../imagens/fechamentoCompetencia/img2.png";
import img3 from "../../imagens/fechamentoCompetencia/img3.png";
import img4 from "../../imagens/fechamentoCompetencia/img4.png";
import img5 from "../../imagens/fechamentoCompetencia/img5.png";
import img6 from "../../imagens/fechamentoCompetencia/img6.png";
import img7 from "../../imagens/fechamentoCompetencia/img7.png";
import img8 from "../../imagens/fechamentoCompetencia/img8.png";
import img9 from "../../imagens/fechamentoCompetencia/img9.png";
import img10 from "../../imagens/fechamentoCompetencia/img10.png";
import img11 from "../../imagens/fechamentoCompetencia/img11.png";
import img12 from "../../imagens/fechamentoCompetencia/img12.png";
import img13 from "../../imagens/fechamentoCompetencia/img13.png";
---

<Layout title="fechamento por competência">
  <main>
    <h1>Fechamento por competência</h1>

    <p>Acessar o Menu/ Convênios/ Processar fechamento por competência:</p>
    <img src={img1} alt="" />

    <p>
      Recurso utilizado para clientes que serão responsáveis pelas compras de
      seus subordinados.
    </p>
    <p>
      Por exemplo, uma empresa calçadista tem funcionários, e os funcionários
      tem convenio mensal para aquisição de remédios em uma farmácia.
    </p>
    <p>
      Ao final do mês é realizado fechamento dos valores gastos por funcionário,
      e a empresa responsável irá pagar as compras, descontando posteriormente
      do funcionário.
    </p>
    <img src={img2} alt="" />
    <br />
    <img src={img3} alt="" />

    <p>
      Para utilizar este recurso é necessário no cadastro do cliente Responsável
      obrigatoriamente estar marcado o parâmetro “Empresa Resp. Convênio”, a
      data de corte (Fechamento do mês) e a dia do vencimento (data a ser paga
      pela empresa responsável).
    </p>
    <img src={img4} alt="" />

    <p>
      E no cliente ser informado um prazo de pagamento com a modalidade Convenio
      Empresarial.
    </p>
    <img src={img5} alt="" />
    <img src={img6} alt="" />

    <p>E no cadastro do funcionário/colaborador</p>
    <img src={img7} alt="" />

    <p>
      Acessar a aba Gerencial/Comercial e Informar a Empresa Responsável pelo
      Convênio.
    </p>
    <img src={img8} alt="" />

    <p>
      Acessando o menu convênio / Fechar fechamento por competência, confirme a
      operação:
    </p>
    <img src={img9} alt="" />

    <p>Informar a empresa que deseja realizar o fechamento;</p>
    <img src={img10} alt="" />

    <p>
      Pode ser escolhido um único funcionário para fechamento, ou se não for
      informado nenhum o sistema realizará a operação para todos os
      colaboradores vinculados a empresa.
    </p>
    <img src={img11} alt="" />

    <p>Escolher o mês/competência para fechamento.</p>
    <img src={img12} alt="" />

    <p>Confirmar processo.</p>
    <img src={img13} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>13/02/2023</p>
    </div>
  </main>
</Layout>
