---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/fornecedor/img1.png";
import img2 from "../../imagens/fornecedor/img2.png";
import img3 from "../../imagens/fornecedor/img3.png";
import img4 from "../../imagens/fornecedor/img4.png";
import img5 from "../../imagens/fornecedor/img5.png";
import img6 from "../../imagens/fornecedor/img6.png";
import img7 from "../../imagens/fornecedor/img7.png";
import img8 from "../../imagens/fornecedor/img8.png";
import img9 from "../../imagens/fornecedor/img9.png";
import img10 from "../../imagens/fornecedor/img10.png";
---

<Layout title="Cadastro de Fornecedor">
  <main>
    <h1>Cadastro de Fornecedor</h1>

    <h2>Parâmetros Gerais</h2>
    <p>
      Para o fornecedor existe a opção de habilitar a obrigatoriedade de alguns
      dados ou não.
    </p>
    <p>E permitir Nome Fantasia Duplicado.</p>
    <p>Razão Social Duplicado.</p>
    <p>CNPJ/CPF Duplicado.</p>
    <img src={img1} alt="" />

    <h2>Cadastro do produto</h2>
    <p>Acesse a tela de cadastro de fornecedores.</p>
    <img src={img2} alt="" />

    <p>Clique no + para adicionar um novo Fornecedor.</p>
    <img src={img3} alt="" />

    <p>Na aba dados é importante preencher os campos:</p>
    <p>Razão Social / Nome.</p>
    <p>Nome Fantasia.</p>
    <p>Tipo de Pessoa (Juridica ou Fisica).</p>
    <p>CNPJ / CPF</p>
    <p>IE / RG</p>
    <p>E escolher a Sub-Categora que melhor de adequa ao cadastro.</p>
    <img src={img4} alt="" />

    <p>
      Na aba de Dados Fiscais, é importante escolher corretamente as informações
      Ramo Atividade, Tipo de Contribuinte, Regime de Tributação
    </p>
    <p>Essas informações são utilizadas na NF-e.</p>
    <img src={img5} alt="" />
    <img src={img8} alt="" />

    <p></p>
    <img src={img6} alt="" />

    <p></p>
    <img src={img7} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
