---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/geral/img1.png";
import img2 from "../../imagens/geral/img2.png";
import img3 from "../../imagens/geral/img3.png";
import img4 from "../../imagens/geral/img4.png";
import img5 from "../../imagens/geral/img5.png";
import img6 from "../../imagens/geral/img6.png";
import img7 from "../../imagens/geral/img7.png";
import img8 from "../../imagens/geral/img8.png";
import img9 from "../../imagens/geral/img9.png";
import img10 from "../../imagens/geral/img10.png";
import img11 from "../../imagens/geral/img11.png";
import img12 from "../../imagens/geral/img12.png";
import img13 from "../../imagens/geral/img13.png";
import img14 from "../../imagens/geral/img14.png";
import img15 from "../../imagens/geral/img15.png";
import img16 from "../../imagens/geral/img16.png";
import img17 from "../../imagens/geral/img17.png";
import img18 from "../../imagens/geral/img18.png";
import img19 from "../../imagens/geral/img19.png";
import img20 from "../../imagens/geral/img20.png";
import img21 from "../../imagens/geral/img21.png";
import img22 from "../../imagens/geral/img22.png";
import img23 from "../../imagens/geral/img23.png";
import img24 from "../../imagens/geral/img24.png";
import img25 from "../../imagens/geral/img25.png";
import img26 from "../../imagens/geral/img26.png";
import img27 from "../../imagens/geral/img27.png";
import img28 from "../../imagens/geral/img28.png";
import img29 from "../../imagens/geral/img29.png";
import img30 from "../../imagens/geral/img30.png";
import img31 from "../../imagens/geral/img31.png";
import img32 from "../../imagens/geral/img32.png";
import img33 from "../../imagens/geral/img33.png";
import img34 from "../../imagens/geral/img34.png";
---

<Layout title="N2 Sistemas">
  <main>
    <h1>Bem vindo ao nosso manual de utilização</h1>

    <p>
      Aqui iremos te apresentar alguns padrões que se repetem em todas as telas
      do nosso sistema.
    </p>
    <br /><br />

    <h2>Cabeçalho</h2>
    <p>
      Todas nossas telas que fazem alguma inclusão no sistema, seja cadastro,
      venda, compra, ajuste, possuem esse cabeçalho.
    </p>
    <img src={img1} alt="" />

    <p>Esse botão é o Novo Registro, ele abrirá a tela de cadastro.</p>
    <img src={img2} alt="" />

    <p>
      Esse botão é o Alterar Registro, clicando em cima de um registro uma vez e
      em seguida nesse botão, ele irá abrir o registro para ser alterado.
    </p>
    <img src={img3} alt="" />

    <p>
      Esse botão é o Apaga Registro Selecionado, selecionando um ou mais
      registros e clicando dele, ele fará a exclusão desses registros.
    </p>
    <img src={img4} alt="" />

    <p>
      Esse botão é o Primeiro Registro, ele pula para o primeiro registro da
      tela.
    </p>
    <img src={img5} alt="" />

    <p>
      Esse botão é o Registro Anterior, ele volta registro por registro na
      pagina.
    </p>
    <img src={img6} alt="" />

    <p>
      Esse botão é o Próximo Registro, ele avança registro por registro na
      pagina.
    </p>
    <img src={img7} alt="" />

    <p>
      Esse botão é o Ultimo Registro, ele pula para o ultimo registro da tela.
    </p>
    <img src={img8} alt="" />

    <p>
      Esse botão é o Atualizar Tela, ele atualiza os registros apresentados na
      tela.
    </p>
    <img src={img9} alt="" />

    <p>
      Esse botão é o Filtrar Pesquisa, ele é utilizado para filtrar os dados
      apresentados na tela.
    </p>
    <p>Ele tem a opção de filtro Simplificado e Dinâmico</p>
    <img src={img10} alt="" />

    <p>
      O filtro simplificado traz algums filtros pré definandas para cada tela.
    </p>
    <img src={img20} alt="" />

    <p>
      Caso precise fazer um filtro diferente, que no filtro simplificado não é
      possivel, então é necessário usar o filtro Dinamico.
    </p>
    <p>
      Basta selecionar o filtro que deseja fazer, e clicar no botão <b>+</b>.
    </p>
    <img src={img21} alt="" />

    <p>
      Após isso é preciso escolher o operador do filtro e em seguida clicar em
      ok.
    </p>
    <img src={img22} alt="" />

    <p>
      No caso desse filtro de exemplo, estamos pesquisando produtos com Preço
      Custo 1 Igual á 1000
    </p>
    <img src={img23} alt="" />

    <p>
      Caso precise de mais filtros, é possivel selecionar outro filtro, e clicar
      no botão <b>+</b> novamente.
    </p>
    <img src={img24} alt="" />

    <p>
      Em seguida escolhe se o filtro deve ser verdadeiro para as duas opções ou
      para somente uma.
    </p>
    <p>O produto deve ter custo 1 igual a 1000 <b>e</b> bloqueado.</p>
    <p>Ou o produto deve ter custo 1 igual a 1000 <b>ou</b> bloqueado.</p>
    <img src={img25} alt="" />

    <p>Em seguida escolhe o operador desse segundo filtro.</p>
    <img src={img26} alt="" />

    <p>E o dado do filtro. Em seguida clicar em ok.</p>
    <img src={img27} alt="" />

    <p>Após fazer todos os filtros necessários, basta clicar em Pesquisar.</p>
    <img src={img28} alt="" />

    <p>
      Esse botão é o Relatórios, em algumas telas, esse botão abre alguns
      relatórios referente a tela que está.
    </p>
    <img src={img11} alt="" />

    <p>
      Esse botão é o Ferramentas, clicando nele, ele abre algumas opções extras
      da tela, as telas podem ter opções diferentes, e algumas podem não ter
      nenhuma opção.
    </p>
    <img src={img12} alt="" />

    <p>
      Esse botão é o Exportar Dados, clicando nele, ele da opção de exportar os
      dados da tela para um arquivo Excel, XML, PDF ou HTML.
    </p>
    <img src={img13} alt="" />

    <p>
      Esse botão é o Configurar colunas, ele possibilita escolher as colunas que
      vão aparecer na tela.
    </p>
    <img src={img14} alt="" />

    <p>
      Após clicar nele, ele abrirá essa tela para escolher qual coluna deve
      aparecer ou parar de aparecer, em seguida clicar em Ok.
    </p>
    <img src={img15} alt="" />

    <p>
      Esse botão é o Salvar Layout, esse botão salva alterações feitas nas
      colunas, as colunas das telas podem ser ordenadas da maneira que for
      melhor para o usuario, e após essa alteração é necessario salvar, caso
      contrario ele voltará para a ordenação antiga após fechar.
    </p>
    <img src={img16} alt="" />

    <p>
      É possivel alterar a ordeção das colunas apenas clicando na coluna e
      arrastar.
    </p>
    <img src={img17} alt="" />

    <p>
      E também é possivel arrastar uma campo para o campo de cima, ele agrupa os
      registros de acordo com a coluna indicada.
    </p>
    <img src={img18} alt="" />

    <p>
      Esse botão é o Restaura Layout Original, clicando nele ele irá descartar
      todas as alterações de colunas feitas.
    </p>
    <img src={img19} alt="" />

    <h2>Relatórios</h2>
    <p>Os relatórios podem ser acessados a partir dos menus.</p>
    <p>
      Da mesma maneira que cada menu é responsavel por uma ação, existem
      relatórios para cada uma dessas ações.
    </p>

    <p>
      Então caso seja necessario um relatório de estoque, na aba Estoque -
      Relatórios.
    </p>
    <img src={img29} alt="" />

    <p>E essa lógica é usada para todas as opções do sistema..</p>
    <p>Relatórios referentes a compras.</p>
    <img src={img34} alt="" />

    <p>Relatórios referentes a vendas.</p>
    <img src={img30} alt="" />

    <p>Relatórios referentes a NF-e.</p>
    <img src={img31} alt="" />

    <p>Relatórios referentes a contas a receber.</p>
    <img src={img32} alt="" />

    <p>Relatórios referentes a contas a pagar.</p>
    <img src={img33} alt="" />
  </main>
</Layout>
