---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/geraEtiquetaLote/img1.png";
import img2 from "../../imagens/geraEtiquetaLote/img2.png";
import img3 from "../../imagens/geraEtiquetaLote/img3.png";
import img4 from "../../imagens/geraEtiquetaLote/img4.png";
import img5 from "../../imagens/geraEtiquetaLote/img5.png";
import img6 from "../../imagens/geraEtiquetaLote/img6.png";
import img7 from "../../imagens/geraEtiquetaLote/img7.png";
import img8 from "../../imagens/geraEtiquetaLote/img8.png";
import img9 from "../../imagens/geraEtiquetaLote/img9.png";
import img10 from "../../imagens/geraEtiquetaLote/img10.png";
import img11 from "../../imagens/geraEtiquetaLote/img11.png";
import img12 from "../../imagens/geraEtiquetaLote/img12.png";
import img13 from "../../imagens/geraEtiquetaLote/img13.png";
import img14 from "../../imagens/geraEtiquetaLote/img14.png";
import img15 from "../../imagens/geraEtiquetaLote/img15.png";
import img16 from "../../imagens/geraEtiquetaLote/img16.png";
import img17 from "../../imagens/geraEtiquetaLote/img17.png";
---

<Layout title="Gerar Etiqueta de Lote de Produto">
  <main>
    <h1>Gerar Etiqueta de Lote de Produto</h1>

    <p>Acessar Estoque/Gerar Etiqueta de Lote de Produto:</p>
    <img src={img1} alt="" />

    <p>
      Utilizado para realizar impressões avulsas de etiqueta de lote de produto,
      para reposição de etiquetas com danos ou novos produtos.
    </p>
    <img src={img2} alt="" />

    <p>Informar o Lote do produto.</p>
    <img src={img3} alt="" />

    <p>Informar a cor se necessário.</p>
    <img src={img4} alt="" />

    <p>Informar a quantidade do rótulo.</p>
    <img src={img5} alt="" />

    <p>Informar a referencia caso o produto contenha.</p>
    <img src={img6} alt="" />

    <p>Ou a descrição do cadastro.</p>
    <img src={img7} alt="" />

    <p>Informar a data de validade do produto e da fabricação.</p>
    <img src={img8} alt="" />

    <p>Sendo produto de tecido, informar o tipo de material, e tamanho.</p>
    <img src={img9} alt="" />

    <p>Informar a quantidade de etiquetas.</p>
    <img src={img10} alt="" />

    <p>Recurso para adicionar produto, ou remover produto selecionado.</p>
    <img src={img11} alt="" />

    <p>
      Recurso para replicar a mesma quantidade de uma unidade de etiqueta para
      todos os produtos.
    </p>
    <img src={img12} alt="" />
    <br />
    <img src={img13} alt="" />

    <p>Ao informar a quantidade clique em Gerar Etiquetas.</p>
    <img src={img14} alt="" />

    <p>Escolha o modelo.</p>
    <img src={img15} alt="" />

    <p>Ao ficar disponível a impressão, selecione o ícone destacado.</p>
    <img src={img16} alt="" />

    <p>Escolha o modelo da impressora, e clique em ok para impressão.</p>
    <img src={img17} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>10/02/2023</p>
    </div>
  </main>
</Layout>
