---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/grades/img1.png";
import img2 from "../../imagens/grades/img2.png";
import img3 from "../../imagens/grades/img3.png";
import img4 from "../../imagens/grades/img4.png";
import img5 from "../../imagens/grades/img5.png";
import img6 from "../../imagens/grades/img6.png";
import img7 from "../../imagens/grades/img7.png";
import img8 from "../../imagens/grades/img8.png";
import img9 from "../../imagens/grades/img9.png";
---

<Layout title="Cadastro de Grades">
  <main>
    <h1>CADASTRO DE GRADES</h1>

    <p>Acessar Cadastros/Auxiliares /Grupo:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />
    <img src={img3} alt="" />
    <p>Bloqueia o uso do Registro na tela do cadastro de produto.</p>

    <img src={img4} alt="" />
    <p>
      Informar o Tamanho ou número da Grade, por exemplo, 38, 40, 42, P, M, GG.
    </p>

    <img src={img5} alt="" />
    <p>Informar a ordem que será respeitada a sequência.</p>

    <img src={img6} alt="" />
    <img src={img7} alt="" />
    <img src={img8} alt="" />
    <p>Informar se o tipo de grade será Infantil, Feminino, Masculino.</p>

    <img src={img9} alt="" />
    <p>
      Inclusão e Ultima alteração audita o usuário que criou e alterou o
      registro.
    </p>
  </main>
</Layout>
