---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/gradeCor/img1.png";
import img2 from "../../imagens/gradeCor/img2.png";
import img3 from "../../imagens/gradeCor/img3.png";
import img4 from "../../imagens/gradeCor/img4.png";
import img5 from "../../imagens/gradeCor/img5.png";
import img6 from "../../imagens/gradeCor/img6.png";
---

<Layout title="Cadastro de Produto com Lote">
  <main>
    <h1>Cadastro de Grade e Cor.</h1>

    <h2>Cor</h2>
    <p>Acesse o menu Cadastros - Auxiliares - Cores.</p>
    <img src={img1} alt="" />

    <p>
      Em seguida na tela de cadastro de cores é necessario clicar no botão Novo,
      para cadastrar uma nova cor.
    </p>
    <img src={img2} alt="" />

    <p>
      E para fazer o cadastro basta informar a descrição da cor e em seguida
      clicar em Salvar.
    </p>
    <img src={img3} alt="" />

    <h2>Grade</h2>
    <p>Acesse o menu Cadastros - Auxiliares - Grade de Produtos.</p>
    <img src={img4} alt="" />

    <p>
      Em seguida na tela de cadastro de grade é necessario clicar no botão Novo,
      para cadastrar uma nova grade.
    </p>
    <img src={img5} alt="" />

    <p>
      E para fazer o cadastro, é necessário informar o Nr.Grade, e escolher o
      tipo de grade Infantil, Feminino ou Masculino.
    </p>
    <p>E em seguida clicar em Salvar.</p>
    <img src={img6} alt="" />
  </main>
</Layout>
