---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/grupos/img1.png";
import img2 from "../../imagens/grupos/img2.png";
import img3 from "../../imagens/grupos/img3.png";
import img4 from "../../imagens/grupos/img4.png";
import img5 from "../../imagens/grupos/img5.png";
import img6 from "../../imagens/grupos/img6.png";
import img7 from "../../imagens/grupos/img7.png";
import img8 from "../../imagens/grupos/img8.png";
import img9 from "../../imagens/grupos/img9.png";
import img10 from "../../imagens/grupos/img10.png";
import img11 from "../../imagens/grupos/img11.png";
---

<Layout title="Cadastro de Grupos">
  <main>
    <h1>CADASTRO DE GRUPOS</h1>

    <p>Acessar Cadastros/Auxiliares /Grupo:</p>
    <img src={img1} alt="" />

    <p>
      Utilizado no Cadastro de Grupo no produto, na engenharia, para filtros em
      pesquisa e nos relatórios.
    </p>
    <p>
      O Grupo permite conforme o nome, agrupar produtos ou serviços que tem as
      mesmas características.
    </p>
    <img src={img2} alt="" />
    <br>
    <img src={img3} alt="" />

    <p>Bloqueia o uso do Registro na tela do cadastro de produto.</p>
    <img src={img4} alt="" />

    <p>
      Informar o nome do grupo. Pode ser utilizado para criar uma categoria de
      produtos ou serviços.
    </p>
    <p>
      Por exemplo: Refrigerantes, Material de Escritório, Vestuário, Execução
      Serviços, Manutenção Veículos.
    </p>
    <img src={img5} alt="" />

    <p>
      Utilizado para preencher números ou letras e formar uma sigla para criar a
      composição ou mascara da referência no cadastro do produto.
    </p>
    <p>
      Por exemplo, um grupo de Matéria Prima pode ser apelidado de MP, ou 01.
    </p>
    <img src={img6} alt="" />

    <p>
      Utilizado no Checkout para permitir desconto em % nos produtos que tem
      este parâmetro marcado. Sendo o desconto na conclusão da Venda.
    </p>
    <img src={img7} alt="" />

    <p>
      Informar as CSTs/CSOSN de ICMS de PIS e COFINS (Disponibilizadas pelo
      contador).
    </p>
    <p>
      Utilizado para emissão do SAT, quando preenchido no Grupo todos os
      produtos que estão informados o grupo receberá o mesmo padrão tributário.
    </p>

    <b>Para mais informações sobre CST/CSOSN consulte o link:</b>
    <b>Para mais informações sobre CST PIS e COFINS consulte o link:</b>
    <br />

    <img src={img8} alt="" />

    <p>
      Informar a Classificação (Sendo Não aplicada, Monofásica, Subs Tributaria
      e Isenta).
    </p>
    <p>
      A tributação monofásica consiste, basicamente, em concentrar a tributação
      em apenas uma etapa da cadeia produtiva, zerando a alíquota que incidiria
      em outra etapa.
    </p>
    <p>
      Na substituição tributária, um terceiro fica obrigado a recolher o tributo
      no lugar do contribuinte. Logo, a substituição tributária também se baseia
      na ideia de transferência da responsabilidade sobre o pagamento do
      tributo.
    </p>
    <b
      >Para mais informações sobre Classificação de Substituição tributaria
      consulte o link:</b
    >
    <img src={img9} alt="" />

    <p>
      Este Parâmetro ainda não está em operação, mas será utilizado para
      informar se o grupo de produto é de consumo no local ou entrega.
    </p>
    <img src={img10} alt="" />

    <p>Somente no Grupo é possível acessar a aba Dado Mercado Livre.</p>
    <p>
      A configuração é o tipo de anuncio <a href="#"
        >(Para criar tipos de anuncio acesse o link)</a
      >.
    </p>
    <p>
      Informar o Tipo de Garantia, o prazo (em dias, meses ou anos) e a condição
      do produto.
    </p>
    <img src={img11} alt="" />
    <p>
      Na aba Dados adicionais os registros auditam o usuário que realizou a
      Inclusão e/ou a Última alteração.
    </p>
  </main>
</Layout>
