---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/centroCusto/img1.png";
import img2 from "../../imagens/intermediador/img1.png";
import img3 from "../../imagens/intermediador/img2.png";
import img4 from "../../imagens/intermediador/img3.png";
import img5 from "../../imagens/intermediador/img4.png";
import img6 from "../../imagens/intermediador/img5.png";
import img7 from "../../imagens/intermediador/img6.png";
---

<Layout title="Intermediador Comercial">
  <main>
    <h1>Cadastro Intermediador Comercial</h1>

    <p>Acessar o Menu/ Cadastros / Financeiro/ Intermediador Comercial:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>
      Para emissão de Notas Fiscais Eletrônicas em que o processo de venda
      ocorreu através de plataformas de e-commerce, precisa ser informado o
      intermediador da Operação, pois em caso de venda pela em sites na internet
      normalmente não é o consumidor que realizou a compra que faz o pagamento,
      e sim uma intermediadora após a confirmação do recebimento do produto.
    </p>
    <img src={img3} alt="" />

    <p>Informar o nome da plataforma ou intermediadora.</p>
    <img src={img4} alt="" />

    <p>Informar o CNPJ da intermediadora.</p>
    <img src={img5} alt="" />

    <p>Informar o nome do Perfil do Usuário.</p>
    <img src={img6} alt="" />

    <p>Caso necessário, campo destinado a observações.</p>
    <img src={img7} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
