---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/inventarioEstoque/img1.png";
import img2 from "../../imagens/inventarioEstoque/img2.png";
import img3 from "../../imagens/inventarioEstoque/img3.png";
import img4 from "../../imagens/inventarioEstoque/img4.png";
import img5 from "../../imagens/inventarioEstoque/img5.png";
import img6 from "../../imagens/inventarioEstoque/img6.png";
import img7 from "../../imagens/inventarioEstoque/img7.png";
import img8 from "../../imagens/inventarioEstoque/img8.png";
import img9 from "../../imagens/inventarioEstoque/img9.png";
import img10 from "../../imagens/inventarioEstoque/img10.png";
import img11 from "../../imagens/inventarioEstoque/img11.png";
import img12 from "../../imagens/inventarioEstoque/img12.png";
import img13 from "../../imagens/inventarioEstoque/img13.png";
import img14 from "../../imagens/inventarioEstoque/img14.png";
---

<Layout title="Inventário de Estoque">
  <main>
    <h1>Inventário de Estoque</h1>

    <p>Acessar Estoque/ Inventário de Estoque:</p>
    <img src={img1} alt="" />

    <p>
      Este recurso é utilizado para realizar intervenções no estoque onde ao
      informar o valor e apurar a contagem é sobreposto sobre a quantidade
      atual.
    </p>
    <p>Neste caso o sistema irá ignorar qualquer valor de saldo existente.</p>
    <img src={img2} alt="" />

    <p>Status do Inventário antes e após a apuração.</p>
    <img src={img3} alt="" />

    <p>Campo para ser informado Fornecedor.</p>
    <img src={img4} alt="" />

    <p>
      Escolha a entre as opções de Carregar Itens Filtrados ou Selecionados.
    </p>
    <img src={img5} alt="" />

    <p>
      Escolhendo a opção Itens Filtrados, os produtos podem ser buscados por
      Fornecedor (para este recurso é necessário haver histórico de compras),
      por grupo, subgrupo ou sub-subgrupo ou por produto especifico.
    </p>
    <img src={img6} alt="" />

    <p>Após escolher uma das opções, clique em OK.</p>
    <p>Escolhendo a opção Itens Selecionados...</p>
    <img src={img7} alt="" />

    <p>
      Digite o nome do produto, selecione de forma múltipla mais de um e clique
      em Transportar.
    </p>
    <img src={img8} alt="" />

    <p>
      Na coluna “Saldo de Inventário” informe as quantidades reais de momento
      dos produtos.
    </p>
    <img src={img9} alt="" />

    <p>Após informar todos os produtos, salve o registro.</p>
    <img src={img10} alt="" />

    <p>
      Clique em Ferramentas e Apurar Inventario para confirmar as quantidades.
    </p>
    <img src={img11} alt="" />
    <br />
    <img src={img12} alt="" />

    <p>
      Em Relatórios no recurso Listagem para Contagem, pode ser impresso um
      documento a ser utilizado para informar as quantidades, facilitando assim
      o preenchimento das quantidades no inventário.
    </p>
    <img src={img13} alt="" />
    <br />
    <img src={img14} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>09/02/2023</p>
    </div>
  </main>
</Layout>
