---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/lancamentosBancarios/img1.png";
import img2 from "../../imagens/lancamentosBancarios/img2.png";
import img3 from "../../imagens/lancamentosBancarios/img3.png";
import img4 from "../../imagens/lancamentosBancarios/img4.png";
import img5 from "../../imagens/lancamentosBancarios/img5.png";
import img6 from "../../imagens/lancamentosBancarios/img6.png";
import img7 from "../../imagens/lancamentosBancarios/img7.png";
import img8 from "../../imagens/lancamentosBancarios/img8.png";
import img9 from "../../imagens/lancamentosBancarios/img9.png";
import img10 from "../../imagens/lancamentosBancarios/img10.png";
import img11 from "../../imagens/lancamentosBancarios/img11.png";
import img12 from "../../imagens/lancamentosBancarios/img12.png";
import img13 from "../../imagens/lancamentosBancarios/img13.png";
---

<Layout title="Lançamentos Bancários">
  <main>
    <h1>Lançamentos Bancários</h1>

    <p>Acessar o Menu/ Bancos/Cofre / Lançamentos Bancários:</p>
    <img src={img1} alt="" />

    <p>
      Utilizado para realizar intervenções no saldo bancário onde pode ser
      adicionado valores que serão creditos ou debitados da conta bancária. Por
      exemplo lançar uma tarifa de IOF, um valor de Cesta de serviços.
    </p>
    <p>
      Porém o lançamento bancário pode vir automaticamente vinculado a uma baixa
      referente a pagamento ou recebimento dos títulos.
    </p>
    <img src={img2} alt="" />

    <p>Escolher a conta Bancária que será realizada a intervenção do valor.</p>
    <img src={img3} alt="" />

    <p>
      A informação da empresa no qual está logado é visual para o caso de ter
      mais de uma cadastrada no sistema e o usuário ter a permissão de acesso.
    </p>
    <img src={img4} alt="" />

    <p>Informar a operação de débito ou crédito.</p>
    <img src={img5} alt="" />

    <p>
      Dependendo da operação, será necessário informar o Plano financeiro para
      que conste nos relatórios de despesas o motivo da movimentação da conta.
    </p>
    <img src={img6} alt="" />

    <p>Informar a data do débito ou crédito.</p>
    <img src={img7} alt="" />

    <p>
      Informar o número do documento, que pode ser o protocolo no extrato
      bancário.
    </p>
    <img src={img8} alt="" />

    <p>Informar o valor.</p>
    <img src={img9} alt="" />

    <p>
      O tipo de lançamento será fixo de acordo com a parametrização da Operação
      que foi escolhida.
    </p>
    <img src={img10} alt="" />

    <p>
      Caso o valor já tenha sido creditado ou debitado, a opção deve ser
      compensado, não marcando o parâmetro, o lançamento no extrato ficará
      apenas como provisionado.
    </p>
    <img src={img11} alt="" />

    <p>Nos dados adicionais pode ser informado o motivo da movimentação.</p>
    <img src={img12} alt="" />

    <p>
      Caso for necessário realizar manutenção no lançamento bancário feito
      manualmente, clique em ferramentas e Estornar Compensação.
    </p>
    <img src={img13} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>07/02/2023</p>
    </div>
  </main>
</Layout>
