---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/lancamentoCartao/img1.png";
import img2 from "../../imagens/lancamentoCartao/img2.png";
import img3 from "../../imagens/lancamentoCartao/img3.png";
import img4 from "../../imagens/lancamentoCartao/img4.png";
import img5 from "../../imagens/lancamentoCartao/img5.png";
import img6 from "../../imagens/lancamentoCartao/img6.png";
import img7 from "../../imagens/lancamentoCartao/img7.png";
import img8 from "../../imagens/lancamentoCartao/img8.png";
import img9 from "../../imagens/lancamentoCartao/img9.png";
import img10 from "../../imagens/lancamentoCartao/img10.png";
import img11 from "../../imagens/lancamentoCartao/img11.png";
import img12 from "../../imagens/lancamentoCartao/img12.png";
import img13 from "../../imagens/lancamentoCartao/img13.png";
import img14 from "../../imagens/lancamentoCartao/img14.png";
---

<Layout title="Retorno de Cobrança">
  <main>
    <h1>Retorno de Cobrança</h1>

    <p>Acessar Sistema / Contas a Receber / Cartões:</p>
    <img src={img1} alt="" />

    <p>
      Tela de visualização de valores a receber originados de vendas ou
      recebimentos/baixas dos contas a receber realizados por cartão de credito
      ou débito.
    </p>
    <p>
      Contendo valores brutos, taxas administrativas e valores líquidos, é
      possível acompanhar o que será recebido.
    </p>
    <p>
      Para que o sistema calcule exatamente o valor, deve ser cadastrada a
      operadora e tarifa.
    </p>
    <p>
      <b>
        Para acessar o manual de Cadastro de Operadoras de Cartões
        <a target="_blank" href="/manuais/cartoes">clique aqui</a>.
      </b>
    </p>
    <img src={img2} alt="" />

    <p>
      Campo destinado a informar se o registro foi originado de um lançamento
      vinculado ou manual.
    </p>
    <img src={img3} alt="" />

    <p>Campo informativo da operadora de cartão ou bandeira.</p>
    <img src={img4} alt="" />

    <p>Data da emissão do registro e a data da previsão do recebimento.</p>
    <img src={img5} alt="" />

    <p>Valor bruto do cartão, e total de parcelas.</p>
    <img src={img6} alt="" />

    <p>
      Demonstrativo do valor bruto, o percentual da tarifa, o valor da tarifa e
      o valor líquido a receber.
    </p>
    <img src={img7} alt="" />

    <p>Campo destinado a apresentar o Status do lançamento.</p>
    <img src={img8} alt="" />

    <p>
      Campos destinados a demonstrativo da Data da baixa/recebimento, a conta
      que foi creditado e o número do extrato.
    </p>
    <img src={img9} alt="" />

    <p>
      Aba Dados Integração contém o número do Extrato da Baixa caso o lançamento
      do cartão seja originado de uma baixa de títulos a receber.
    </p>
    <img src={img10} alt="" />

    <p>
      Campos informativos caso o lançamento tenha sido originado de uma venda.
    </p>
    <img src={img11} alt="" />

    <p>
      Sendo originado o lançamento do contas a receber cartão de crédito/débito
      por venda no PDV, os campos abaixo registram o número do caixa, o terminal
      a data de abertura e o operador do caixa.
    </p>
    <img src={img12} alt="" />

    <p>
      O botão Ferramentas/Baixa de Cartões é um atalho para a tela de baixa de
      cartões.
    </p>
    <img src={img13} alt="" />

    <p>
      <b>
        Para acessar o manual de baixa de cartões
        <a target="_blank" href="/manuais/baixaCartoes">clique aqui</a>.
      </b>
    </p>

    <p>
      O Botão Relatórios podem ser acessados os relatórios de Extrato de baixa,
      cartões em aberto e baixados e o Fluxo de Caixa.
    </p>
    <img src={img14} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>21/02/2023</p>
    </div>
  </main>
</Layout>
