---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/lote/img1.png";
import img2 from "../../imagens/lote/img2.png";
import img3 from "../../imagens/lote/img3.png";
import img4 from "../../imagens/lote/img4.png";
import img5 from "../../imagens/lote/img5.png";
import img6 from "../../imagens/lote/img6.png";
import img7 from "../../imagens/lote/img7.png";
import img8 from "../../imagens/lote/img8.png";
import img9 from "../../imagens/lote/img9.png";
import img10 from "../../imagens/lote/img10.png";
import img11 from "../../imagens/lote/img11.png";
import img12 from "../../imagens/lote/img12.png";
---

<Layout title="Lotes">
  <main>
    <h1>Cadastro de Lote</h1>

    <p>Acessar o Menu/ Cadastros / Lotes:</p>
    <img src={img1} alt="" />
    <br />
    <img src={img2} alt="" />

    <p>
      O Cadastro de Lote pode ser utilizado para matéria- prima, semi ou produto
      acabado Cadastro de Produto, quando o parâmetro é ativado torna-se
      obrigatório ser informado na entrada de Nota, Pedido mod III, inventario
      de estoque, entradas e saídas.
    </p>
    <p>
      Em caso de problemas na compra ou venda, o lote é utilizado para rastreio
      dos demais produtos que compõe o mesmo lote.
    </p>
    <img src={img3} alt="" />

    <p>Informar o numero do lote do produto.</p>
    <img src={img4} alt="" />

    <p>
      O código de agregação é um código que agrupa/reúne vários lotes. Por
      exemplo, em uma mesma semana foram produzidos 5 lotes diferentes (10, 11,
      12, 13 14 e 15), e o código de agregação destes lotes da semana seria o
      200.
    </p>
    <img src={img5} alt="" />

    <p>Informar a Data de Criação.</p>
    <img src={img6} alt="" />

    <p>O produto pode ser localizado pela referência.</p>
    <img src={img7} alt="" />

    <p>Pelo código.</p>
    <img src={img8} alt="" />

    <p>Ou pela descrição.</p>
    <img src={img9} alt="" />

    <p>Campo apenas visual demonstrando o saldo de estoque atual.</p>
    <img src={img10} alt="" />

    <p>
      Campo demonstrando o Status atual de análise do Controle de Qualidade do
      Lote.
    </p>
    <img src={img11} alt="" />

    <p>Demonstrativo de Histórico das analises do Controle de Qualidade.</p>
    <img src={img12} alt="" />

    <p>
      <b
        >Para acessar o manual de Controle de Qualidade <a href=""
          >clique aqui</a
        >.
      </b>
    </p>

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
