---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/mapaCompra/img1.png";
import img2 from "../../imagens/mapaCompra/img2.png";
import img3 from "../../imagens/mapaCompra/img3.png";
import img4 from "../../imagens/mapaCompra/img4.png";
import img5 from "../../imagens/mapaCompra/img5.png";
import img6 from "../../imagens/mapaCompra/img6.png";
import img7 from "../../imagens/mapaCompra/img7.png";
import img8 from "../../imagens/mapaCompra/img8.png";
import img9 from "../../imagens/mapaCompra/img9.png";
import img10 from "../../imagens/mapaCompra/img10.png";
import img11 from "../../imagens/mapaCompra/img11.png";
import img12 from "../../imagens/mapaCompra/img12.png";
import img13 from "../../imagens/mapaCompra/img13.png";
import img14 from "../../imagens/mapaCompra/img14.png";
import img15 from "../../imagens/mapaCompra/img15.png";
import img16 from "../../imagens/mapaCompra/img16.png";
import img17 from "../../imagens/mapaCompra/img17.png";
import img18 from "../../imagens/mapaCompra/img18.png";
import img19 from "../../imagens/mapaCompra/img19.png";
import img20 from "../../imagens/mapaCompra/img20.png";
import img21 from "../../imagens/mapaCompra/img21.png";
---

<Layout title="Entrada de Documentos">
  <main>
    <h1>Entrada de Documentos</h1>

    <p>Acessar o Menu/ Compras / Entrada de Documentos:</p>
    <img src={img1} alt="" />

    <p>
      O recurso do mapa de compras permite analisar o consumo e compras do mês
      vigente e os 3 anteriores, analisar se será necessário a compra para
      reposição de produtos.
    </p>
    <p>
      E também verificar os históricos de compras, movimentações e o financeiro
      com os fornecedores do produto.
    </p>
    <img src={img2} alt="" />

    <p>Os produtos podem ser filtrados por Grupo, Sub Grupo e Sub-Sub Grupo.</p>
    <img src={img3} alt="" />

    <p>O produto também pode ser filtrado por Código ou Descrição.</p>
    <img src={img4} alt="" />

    <p>Ou ainda pode ser filtrado por tipo/categoria.</p>
    <img src={img5} alt="" />

    <p>Pode ser Filtrado por situação (Ativo, Bloqueado, Todos).</p>
    <img src={img6} alt="" />

    <p>Pode ser filtrado por subclassificações.</p>
    <img src={img7} alt="" />

    <p>
      E também podem ser filtrados pelo saldo de estoque abaixo do ponto de
      pedido ou do estoque mínimo.
    </p>
    <img src={img8} alt="" />
    <img src={img9} alt="" />
    <img src={img10} alt="" />

    <p>
      Para utilizar este recurso é necessário informar no cadastro do produto na
      aba Estoque a quantidade controlada de estoque mínimo para o sistema
      monitorar.
    </p>
    <img src={img11} alt="" />
    <br />
    <img src={img12} alt="" />

    <p>
      Também para este recurso é necessário informar no cadastro do produto na
      aba Estoque a quantidade controlada de ponto de pedido para o sistema
      monitorar.
    </p>
    <img src={img13} alt="" />
    <br />
    <img src={img14} alt="" />

    <p>
      Clicando com o botão direito do mouse pode ser acessado recursos referente
      ao produto:
    </p>
    <img src={img15} alt="" />

    <p>Filtrar o Histórico de compras do produto e Notas Fiscais de entrada.</p>
    <img src={img16} alt="" />

    <p>
      Filtrar o extrato de movimentação do produto, ou seja, verificar se as
      vendas ocorrem em um determinado período ou se há consistência nas vendas.
    </p>
    <img src={img17} alt="" />

    <p>
      Posição financeira com Fornecedores verifica se há títulos em aberto do
      item com algum fornecedor.
    </p>
    <img src={img18} alt="" />

    <p>A posição de estoque/saldo em outras empresas.</p>
    <img src={img19} alt="" />

    <p>Utilizar o recurso de cotações de produto.</p>
    <img src={img20} alt="" />

    <p>Follow up ou informações adicionais do produto.</p>
    <img src={img21} alt="" />

    <p></p>

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>08/02/2023</p>
    </div>
  </main>
</Layout>
