---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/grupoEtapas/img1.png";
import img2 from "../../imagens/mascaras/img1.png";
import img3 from "../../imagens/mascaras/img2.png";
import img4 from "../../imagens/mascaras/img3.png";
import img5 from "../../imagens/mascaras/img4.png";
import img6 from "../../imagens/mascaras/img5.png";
import img7 from "../../imagens/mascaras/img6.png";
import img8 from "../../imagens/mascaras/img7.png";
import img9 from "../../imagens/mascaras/img8.png";
import img10 from "../../imagens/mascaras/img9.png";
import img11 from "../../imagens/mascaras/img10.png";
---

<Layout title="Máscaras">
  <main>
    <h1>Máscaras</h1>

    <p>Acessar o Menu/ Químicas / Máscaras:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>
      Este recurso é utilizado para registro de tempo ou valores das
      análises/testes físico-químicos.
    </p>
    <img src={img3} alt="" />

    <p>Informar a Descrição do tipo de Máscara do teste.</p>
    <img src={img4} alt="" />

    <p>
      Pode ser utilizado um padrão Pré Definido de medição de Tempo ou de Valor
      (quantidade).
    </p>
    <img src={img5} alt="" />

    <p>Padrões utilizados para Formatações das Máscaras.</p>
    <img src={img6} alt="" />

    <p>
      Caractere de variação do teste, por exemplo tempo de secagem pode ser de
      15 minutos com variação +- 2 minutos.
    </p>
    <img src={img7} alt="" />

    <p>Local para visualização de como está composto a máscara.</p>
    <img src={img8} alt="" />

    <p>
      Local para digitação dos caracteres testando composição que será utilizada
      na engenharia.
    </p>
    <img src={img9} alt="" />

    <p>Local para visualização de como está composto a máscara.</p>
    <img src={img10} alt="" />

    <p>
      Local para digitação dos caracteres testando composição que será utilizada
      no apontamento.
    </p>
    <img src={img11} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
