---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/mercadoLivre/img1.png";
import img2 from "../../imagens/mercadoLivre/img2.png";
import img3 from "../../imagens/mercadoLivre/img3.png";
import img4 from "../../imagens/mercadoLivre/img4.png";
import img5 from "../../imagens/mercadoLivre/img5.png";
import img6 from "../../imagens/mercadoLivre/img6.png";
import img7 from "../../imagens/mercadoLivre/img7.png";
import img8 from "../../imagens/mercadoLivre/img8.png";
---

<Layout title="Configuração Mercado Livre">
  <main>
    <h1>Configuração Mercado Livre</h1>

    <p>Acessar Cadastros/Auxiliares /Configurações Mercado Livre:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>
      Este registro é utilizado para criação dos Tipos de Anúncios do Mercado
      Livre, sendo possível realizar upload de produto ainda não cadastrado na
      plataforma, e parte das informações exigidas estão os mencionados nesta
      tela.
    </p>
    <img src={img3} alt="" />

    <p>Informar descritivo que identifica o tipo de anuncio padrao.</p>
    <img src={img4} alt="" />

    <p>Informar a conta de usuario no mercado Livre:</p>
    <img src={img5} alt="" />

    <p>
      <b
        >Para cadastro de Usuário do Mercado Livre <a
          href="/manuais/usuario"
          target="_blank">clique aqui</a
        >.</b
      >
    </p>

    <p>Informar o Tipo de Anuncio:</p>
    <img src={img6} alt="" />

    <p>Informar a Forma de Entrega</p>
    <img src={img7} alt="" />

    <p>Informar se há serviço de retirada do produto no local.</p>
    <img src={img8} alt="" />
  </main>
</Layout>
