---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/ncm/img1.png";
import img2 from "../../imagens/ncm/img2.png";
import img3 from "../../imagens/ncm/img3.png";
import img4 from "../../imagens/ncm/img4.png";
import img5 from "../../imagens/ncm/img5.png";
import img6 from "../../imagens/ncm/img6.png";
import img7 from "../../imagens/ncm/img7.png";
import img8 from "../../imagens/ncm/img8.png";
import img9 from "../../imagens/ncm/img9.png";
import img10 from "../../imagens/ncm/img10.png";
import img11 from "../../imagens/ncm/img11.png";
import img12 from "../../imagens/ncm/img12.png";
import img13 from "../../imagens/ncm/img13.png";
---

<Layout title="NCM">
  <main>
    <h1>Cadastro de NCM</h1>

    <p>Acessar o Menu / Cadastros / Fiscais / NCM:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />
    <p>
      NCM ou Nomenclatura Comum do Mercosul, um código que ajuda a identificar
      produtos em circulação no Brasil, Argentina, Paraguai, Uruguai e demais
      países parte do Mercosul.
    </p>
    <p>
      Em vigor em janeiro de 1995 e é utilizado até hoje, baseia-se no método
      internacional de classificação de mercadoria SH (Sistema Harmonizado de
      Designação e de Codificação de Mercadorias).
    </p>
    <p>A presença do código NCM é obrigatória em sua nota fiscal eletrônica.</p>
    <img src={img3} alt="" />

    <p>Para mais informações sobre o NCM acesse o link:</p>
    <p>
      <a
        href="https://www.antaresacoplamentos.com.br/blog/ncm-o-que-e-para-que-serve-e-onde-consultar-o-codigo/
        "
        >https://www.antaresacoplamentos.com.br/blog/</a
      >
    </p>
    <br />

    <p>
      Informe o código do NCM contido na nota fiscal de compra, ou fornecido
      pelo contador.
    </p>
    <img src={img4} alt="" />

    <p>
      Informe a descriçao do NCM, pode ser mais abrangente assim como no
      cadastro do produto, ou a descrição técnica fornecidas nos sites.
    </p>
    <img src={img5} alt="" />

    <p>
      Informar no percentual do IPI (Imposto sobre Produto Industrializado),
      caso no padrão tributário seja parametrizado para ser realizado calculado
      e o % do tributo ser capturado do cadastro do NCM.
    </p>
    <img src={img6} alt="" />

    <p>
      O mesmo recurso pode ser utilizado no % do PIS e COFINS caso no padrão
      tributário seja parametrizado para ser realizado calculado e o % do
      tributo ser capturado do cadastro do NCM.
    </p>
    <img src={img7} alt="" />
    <img src={img8} alt="" />

    <p>
      <b>Para acessar o manual de cadastro de Padrão Tributário</b><a
        href="/manuais/padraoTributario">clique aqui</a
      >:
    </p>

    <p>
      Produção em Escala é utilizado no processo de emissão de nota fiscal para
      identificar a necessidade de calculo de impostos para produtos produzidos.
    </p>
    <p>
      Para mais informações sobre produção em escala não relevante acesse os
      links:
    </p>
    <p>
      <a
        href="https://www.copase.com.br/noticia/Escala-industrial-nao-relevante-inaplicabilidade-dos-regimes-de-Substituicao-Tributaria-e-de-Antecipacao
        "
        >https://www.copase.com.br/noticia/Escala-industrial</a
      >
    </p>
    <p>
      <a
        href="https://www.substituicaotributaria.com/SST/substituicao-tributaria/regra-geral/27/simples-nacional-escala-nao-relevante
        "
        >https://www.substituicaotributaria.com/SST/substituicao-tributaria</a
      >
    </p>
    <img src={img9} alt="" />

    <p>
      O campo abrangência pode ser descrito nomes ou tipos de produtos similares
      ou que podem ser utilizados o mesmo NCM, e no momento do Cadastro de
      Produto no campo do NCM pode ser localizado também pelo nome informado na
      Abrangência.
    </p>
    <img src={img10} alt="" />

    <p>
      <b
        >Para acessar o manual de Cadastro de Produto <a
          href="/manuais/prdComercioGeral">clique aqui</a
        >:</b
      >
    </p>

    <p>
      Pode ser informado o tipo de Regra Tributária para que no momento da
      Emissão da Nota Fiscal eletrônica, o sistema possa buscar a tributação do
      NCM.
    </p>
    <img src={img11} alt="" />
    <p>
      <b
        >Para acessar o manual de Cadastro de Regra Tributária <a href=""
          >clique aqui</a
        >:</b
      >
    </p>

    <p>
      A SEFAZ (Secretaria da Fazenda) instituiu a padronização da Tabela de
      Unidades de Medidas Tributáveis no Comércio Exterior que é uma tabela que
      segue o código NCM (Nomenclatura Comum do Mercosul) e as unidades
      tributáveis recomendadas pela Organização Mundial de Aduanas (OMA).
    </p>
    <img src={img12} alt="" />
    <p>
      <b
        >Para acessar o manual de Cadastro de Unidade de Medida <a href=""
          >clique aqui</a
        >:</b
      >
    </p>

    <p>Aba impostos é utilizado o IBPT.</p>
    <p>
      A Tabela IBPT é uma planilha que contém a carga tributária média
      aproximada de produtos e serviços. O IBPT usa como base a Nomenclatura
      Comum do Mercosul (NCM) e a Nomenclatura Brasileira de Serviços (NBS).
    </p>
    <img src={img13} alt="" />

    <p>
      Os tributos Federais e Estaduais serão mostrados na impressão de etiqueta
      de prateleira, ou nas observações do item na NFe.
    </p>

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>23/12/2022</p>
    </div>
  </main>
</Layout>
