---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/nfe/img1.png";
import img2 from "../../imagens/nfe/img2.png";
import img3 from "../../imagens/nfe/img3.png";
import img4 from "../../imagens/nfe/img4.png";
import img5 from "../../imagens/nfe/img5.png";
import img6 from "../../imagens/nfe/img6.png";
import img7 from "../../imagens/nfe/img7.png";
import img8 from "../../imagens/nfe/img8.png";
import img9 from "../../imagens/nfe/img9.png";
import img10 from "../../imagens/nfe/img10.png";
import img11 from "../../imagens/nfe/img11.png";
import img12 from "../../imagens/nfe/img12.png";
import img13 from "../../imagens/nfe/img13.png";
import img14 from "../../imagens/nfe/img14.png";
import img15 from "../../imagens/nfe/img15.png";
import img16 from "../../imagens/nfe/img16.png";
import img17 from "../../imagens/nfe/img17.png";
import img18 from "../../imagens/nfe/img18.png";
import img19 from "../../imagens/nfe/img19.png";
import img20 from "../../imagens/nfe/img20.png";
import img21 from "../../imagens/nfe/img21.png";
import img22 from "../../imagens/nfe/img22.png";
import img23 from "../../imagens/nfe/img23.png";
import img24 from "../../imagens/nfe/img24.png";
import img25 from "../../imagens/nfe/img25.png";
import img26 from "../../imagens/nfe/img26.png";
import img27 from "../../imagens/nfe/img27.png";
import img28 from "../../imagens/nfe/img28.png";
import img29 from "../../imagens/nfe/img29.png";
import img30 from "../../imagens/nfe/img30.png";
import img31 from "../../imagens/nfe/img31.png";
import img32 from "../../imagens/nfe/img32.png";
import img33 from "../../imagens/nfe/img33.png";
import img34 from "../../imagens/nfe/img34.png";
import img35 from "../../imagens/nfe/img35.png";
import img36 from "../../imagens/nfe/img36.png";
---

<Layout title="Cadastro de Funcionario e Usuario">
  <main>
    <h1>Nota Fiscal Eletrônica</h1>

    <p>Acessar o Menu/ Faturamento/ Nota Fiscal Eletrônica:</p>
    <img src={img1} alt="" />

    <p>
      Recurso utilizado para emissão de Documento Fiscal para entradas ou saídas
      nas operações entre empresas ou empresa e consumidor final, além das
      informações dos impostos federais e estaduais que ocorrem nas operações.
    </p>
    <img src={img2} alt="" />

    <p>
      Escolher o Tipo de Movimento, que é o motivo da Nota Fiscal Eletrônica
      estar sendo emitida.
    </p>
    <img src={img3} alt="" />

    <p>
      O indicador de presença é a forma que a negociação ocorreu. A SEFAZ não
      permite mais o uso do Indicador 0 = não se aplica.
    </p>
    <p>
      Informar se a operação foi presencial, por internet/teleatendimento,
      entrega em domicílio/fora do estabelecimento ou operação não presencial.
    </p>
    <img src={img4} alt="" />

    <p>
      Informar o Destinatário ou Remetente da NF-e, podendo ser um Cliente ou
      Fornecedor.
    </p>
    <img src={img5} alt="" />

    <p>Se necessário, informar o Vendedor da negociação ou o representante.</p>
    <img src={img6} alt="" />

    <p>
      Para vendas realizadas em plataformas de e-commerce, informar se houve
      intermediação de terceiros.
    </p>
    <img src={img7} alt="" />

    <p>
      E em caso da opção escolhida ser Operação em site ou plataforma, informar
      o Intermediador.
    </p>
    <img src={img8} alt="" />

    <p>
      Para informações do cadastro de intermediador <b
        ><a href="/manuais/intermediador">clique aqui</a></b
      > para acessar o manual.
    </p>
    <br />

    <p>Caso necessário, informar a Transportadora, dados do veículo.</p>
    <img src={img9} alt="" />

    <p>
      Informar o responsável pelo Frete, ou se não há ocorrência de transporte.
    </p>
    <img src={img10} alt="" />

    <p>Informar a quantidade de volume, caixas, marca.</p>
    <img src={img11} alt="" />

    <p>Se necessário informar o peso bruto e líquido total da nota.</p>
    <img src={img12} alt="" />

    <p>Caso necessário, informar o Local de Retirada.</p>
    <img src={img13} alt="" />

    <p>
      Campos destinados a informar local de embarque ou despacho para operações
      de exportação.
    </p>
    <img src={img14} alt="" />

    <p>
      Aba financeiro contém campos para serem informadas a condição e prazo de
      pagamento, a moeda e o plano financeiro.
    </p>
    <img src={img15} alt="" />

    <p>Aba itens, contém os dados do item.</p>
    <img src={img16} alt="" />

    <p>
      A quantidade, o valor de tabela, a quantidade valores adicionais ou
      redutores.
    </p>
    <img src={img17} alt="" />

    <p>
      Unidade tributável são campos utilizados para informações do item em
      operações de Exportação.
    </p>
    <img src={img18} alt="" />

    <p>
      Campo Adicionais, são observações que podem ser inseridas no item, como
      número de lote, número de série de equipamento ou outros dados
      complementares.
    </p>
    <img src={img19} alt="" />

    <p>
      Informações de peso líquido e bruto do produto, número da ordem e item da
      ordem são utilizados para operações de importação/exportação.
    </p>
    <img src={img20} alt="" />

    <p>
      Informações de rateios de frete, seguro desconto ou despesas absorvidas
      pelo item.
    </p>
    <img src={img21} alt="" />

    <p>
      Caso o produto esteja sendo emitido com alguma condição e o Movimento da
      Nota gere o Financeiro, pode ser sinalizado flag para que este item em
      questão não seja considerado o valor no financeiro.
    </p>
    <img src={img22} alt="" />

    <p>
      Aba Lotes, utilizada para informar o lote do produto, caso o mesmo esteja
      sinalizado em seu cadastro que há a necessidade de controle de lote.
    </p>
    <img src={img23} alt="" />

    <p>Campos destinados a demonstração de impostos</p>
    <img src={img24} alt="" />
    <img src={img25} alt="" />

    <p>
      Aba demonstrando valores e datas de vencimento em caso de geração de
      parcelas.
    </p>
    <img src={img26} alt="" />

    <p>
      Aba NF-e Referência, obrigatoriamente utilizada em notas de devolução por
      exemplo, tem a finalidade de vincular qual o número de chave de
      autorização refere-se a(s) nota(s) da operação.
    </p>
    <p>
      Escolher o Tipo de Referenciamento, e o número da chave de autorização.
    </p>
    <img src={img27} alt="" />
    <img src={img28} alt="" />

    <p>
      Aba Importação destinada a informações disponibilizadas na Proforma e do
      Despachante Aduaneiro.
    </p>
    <img src={img29} alt="" />

    <p>
      Aba Informações Complementares é utilizada para manualmente ou através de
      mensagens pré-estabelecidas serem adicionadas observações que constarão no
      rodapé da NF-e.
    </p>
    <img src={img30} alt="" />

    <p>
      Para informações do cadastro de Mensagens Complementares <b
        ><a href="/manuais/mensagemFiscal">clique aqui</a></b
      > para acessar o manual.
    </p>
    <br />

    <p>Informações complementares para o Rótulo do Despacho.</p>
    <img src={img31} alt="" />

    <p>
      Campos demonstrativos para informar se a nota foi originada a partir de um
      pedido, e qual o número do item deste pedido.
    </p>
    <img src={img32} alt="" />

    <p>
      Aba Sefaz contém campos demonstrativos das informações da transmissão e
      xml autorizado.
    </p>
    <img src={img33} alt="" />

    <p>
      Aba Sefaz contém campos demonstrativos das informações da transmissão e
      xml autorizado.
    </p>
    <img src={img34} alt="" />

    <p>
      Botão Ferramentas para gerar a numeração da nota, transmitir e consultar
      autorização.
    </p>
    <img src={img35} alt="" />

    <p>
      O Botão Relatórios contém os recursos de impressão de Duplicatas, boletos,
      etiquetas e rótulos.
    </p>
    <img src={img36} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>13/01/2023</p>
    </div>
  </main>
</Layout>
