---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/nfEntradaManual/img1.png";
import img2 from "../../imagens/nfEntradaManual/img2.png";
import img3 from "../../imagens/nfEntradaManual/img3.png";
import img4 from "../../imagens/nfEntradaManual/img4.png";
import img5 from "../../imagens/nfEntradaManual/img5.png";
import img6 from "../../imagens/nfEntradaManual/img6.png";
import img7 from "../../imagens/nfEntradaManual/img7.png";
import img8 from "../../imagens/nfEntradaManual/img8.png";
import img9 from "../../imagens/nfEntradaManual/img9.png";
import img10 from "../../imagens/nfEntradaManual/img10.png";
import img11 from "../../imagens/nfEntradaManual/img11.png";
import img12 from "../../imagens/nfEntradaManual/img12.png";
import img13 from "../../imagens/nfEntradaManual/img13.png";
import img14 from "../../imagens/nfEntradaManual/img14.png";
import img15 from "../../imagens/nfEntradaManual/img15.png";
import img16 from "../../imagens/nfEntradaManual/img16.png";
import img17 from "../../imagens/nfEntradaManual/img17.png";
import img18 from "../../imagens/nfEntradaManual/img18.png";
import img19 from "../../imagens/nfEntradaManual/img19.png";
import img20 from "../../imagens/nfEntradaManual/img20.png";
import img21 from "../../imagens/nfEntradaManual/img21.png";
import img22 from "../../imagens/nfEntradaManual/img22.png";
import img23 from "../../imagens/nfEntradaManual/img23.png";
import img24 from "../../imagens/nfEntradaManual/img24.png";
import img25 from "../../imagens/nfEntradaManual/img25.png";
import img26 from "../../imagens/nfEntradaManual/img26.png";
import img27 from "../../imagens/nfEntradaManual/img27.png";
import img28 from "../../imagens/nfEntradaManual/img28.png";
import img29 from "../../imagens/nfEntradaManual/img29.png";
import img30 from "../../imagens/nfEntradaManual/img30.png";
import img31 from "../../imagens/nfEntradaManual/img31.png";
import img32 from "../../imagens/nfEntradaManual/img32.png";
import img33 from "../../imagens/nfEntradaManual/img33.png";
import img34 from "../../imagens/nfEntradaManual/img34.png";
import img35 from "../../imagens/nfEntradaManual/img35.png";
import img36 from "../../imagens/nfEntradaManual/img36.png";
import img37 from "../../imagens/nfEntradaManual/img37.png";
import img38 from "../../imagens/nfEntradaManual/img38.png";
import img39 from "../../imagens/nfEntradaManual/img39.png";
import img40 from "../../imagens/nfEntradaManual/img40.png";
import img41 from "../../imagens/nfEntradaManual/img41.png";
import img42 from "../../imagens/nfEntradaManual/img42.png";
import img43 from "../../imagens/nfEntradaManual/img43.png";
import img44 from "../../imagens/nfEntradaManual/img44.png";
---

<Layout title="NF Entrada Manual">
  <main>
    <h1>Nota Fiscal de Entrada Manual</h1>

    <p>Acesse o menu/ Compras/Nota Fiscal de Entrada:</p>
    <img src={img1} alt="" />

    <p>
      A Nota Fiscal de Entrada é utilizada para inserir a quantidade de um
      produto adquirido juntamente com saldo já existe.
    </p>
    <p>
      Também utilizado para precificação do valor de custo pago do produto com
      os impostos e adicionais, e caso o movimento gere financeiro, também é
      criado o contas a pagar.
    </p>
    <img src={img2} alt="" />

    <p>
      Informar o tipo de Movimento que pode interagir com o estoque e o
      financeiro.
    </p>
    <img src={img3} alt="" />

    <p>Informar o número da nota fiscal e o número da série.</p>
    <img src={img4} alt="" />

    <p>
      Informar a data de emissão de nota fiscal e a data do recebimento dos
      produtos.
    </p>
    <img src={img5} alt="" />

    <p>Informar se a compra foi de um cliente ou de fornecedor.</p>
    <img src={img6} alt="" />
    <img src={img7} alt="" />

    <p>Informar a Espécie de documento (forma que a compra será paga).</p>
    <img src={img8} alt="" />

    <p>Informar o prazo de pagamento.</p>
    <img src={img9} alt="" />

    <p>
      Informar o plano financeiro como vendas de mercadoria para revenda,
      matéria prima.
    </p>
    <img src={img10} alt="" />

    <p>
      A compra pode ser feita para atender a um contrato (para prestação de
      serviços por exemplo).
    </p>
    <img src={img11} alt="" />

    <p>
      <b
        >Para acessar o manual de cadastro de contrato <a
          href="/manuais/contratos"
          target="_blank">clique aqui</a
        >.</b
      >
    </p>

    <p>
      Se houver necessidade de identificação pode ser informado o comprador,
      utilizado através do cadastro de Funcionários.
    </p>
    <img src={img12} alt="" />

    <p>
      Caso o Desconto, ou adicionais de despesas sejam exclusiva por produto, na
      primeira aba precisa ser desmarcado o check para que o sistema possa
      entender esta condição;
    </p>
    <img src={img13} alt="" />

    <p>
      Local destinado da somatória de impostos, obrigatoriamente deverão ser
      informados nos itens individualmente, para que os totais dos valores de
      IPI, ICMS, ICMS-ST e FCP esteja disponível para visualização.
    </p>
    <img src={img14} alt="" />

    <p>Local destinado a informar valor adicional de tarifa de boleto.</p>
    <img src={img15} alt="" />

    <p>
      Local destinado a informar valores adicionais de encargos e fretes que não
      adicionam no valor final da nota fiscal.
    </p>
    <img src={img16} alt="" />

    <p>
      Na aba Transportes pode ser informada a transportadora, a placa do veiculo
      e a responsabilidade do frete. Estas informações podem ser utilizadas nos
      relatórios de compras posteriormente.
    </p>
    <img src={img17} alt="" />

    <p>
      Quando a entrada de Nota Fiscal é um conhecimento de transporte, deve ser
      utilizado um tipo de movimento especifico para que as notas de compras ou
      de vendas possam ser referenciadas, assim obtendo a informação do que se
      refere a cobrança da transportadora.
    </p>
    <img src={img18} alt="" />

    <p>O Tipo de Movimento:</p>
    <img src={img19} alt="" />

    <p>O parâmetro dentro do tipo de movimento:</p>
    <img src={img20} alt="" />

    <p>
      <b
        >Para acessar mais informações sobre o tipo de movimento <a
          href=""
          target="_blank">clique aqui</a
        >.</b
      >
    </p>

    <p>
      Caso a entrada da nota seja realizada através da importação do arquivo
      XML, na aba dados adicionais constará o número da chave de autorização da
      nota.
    </p>
    <img src={img21} alt="" />

    <p>
      Local destinado a demosntrar o referenciamento das notas de retorno quando
      a nota que foi lançada a entrada trata-se de uma nota fisca de entrada
      para industrialização ou empréstimo.
    </p>
    <img src={img22} alt="" />

    <p>
      Para que esta informação esteja disponível, os parâmetros no tipo de
      movimento de entrada da nota para industrialização, e na emissão de NF-e
      devem estar devidamente preenchidos.
    </p>

    <h2>ABA ITENS</h2>
    <p>
      Destinada a informar o produto, quantidade, valor unitário, descontos,
      adicionais de acréscimos e impostos.
    </p>
    <img src={img23} alt="" />

    <p>Informar o produto:</p>
    <img src={img24} alt="" />

    <p>
      O sistema irá perguntar se deseja o calculo automático do valor unitário.
    </p>
    <img src={img25} alt="" />

    <p>
      Neste cenário é informado a quantidade total de caixas, pacotes ou fardos
      adquiridos.
    </p>
    <p>
      Depois informar a quantidade de produtos unitários que tem em uma caixa ou
      pacotes. E em seguida o valor pago total em todas as caixas, pacotes.
    </p>
    <img src={img26} alt="" />

    <p>
      Caso tenha desmarcado o parâmetro de adicionais na aba dados, estará
      liberado no lançamento do item os campos para serem informadas as despesas
      individualmente.
    </p>
    <img src={img27} alt="" />

    <p>
      Os impostos que contem na nota devem ser informados individualmente por
      produto.
    </p>
    <img src={img28} alt="" />
    <br />
    <img src={img29} alt="" />
    <br />
    <img src={img30} alt="" />

    <h2>ABA CLASSIFICAÇÃO FISCAL</h2>
    <p>
      Utilizada para informar os dados Fiscais, origem e Padrão Tributário de
      entrada para que possam constar no Relatório do Livro Fiscal, obtendo
      assim a informação da diferença entre o Debito e do Crédito.
    </p>
    <img src={img31} alt="" />
    <br />
    <img src={img32} alt="" />
    <br />
    <img src={img33} alt="" />
    <br />
    <img src={img34} alt="" />

    <h2>ABA CUSTO APURADO</h2>
    <p>
      Utilizada para visualização da sigla da moeda original do produto, a data
      e o valor do ptax.
    </p>
    <p>
      Esta condição é utilizada quando o cadastro de produto tem a moeda
      estrangeira, foi realizada uma aquisição pela Ordem de Compra e informada
      na entrada da nota, para que seja feira a conversão do valor.
    </p>
    <img src={img35} alt="" />

    <p>
      Local destinado a demonstrativo do custo apurado do produto considerando
      os descontos, adicionais de despesas e impostos, e o comparativo em
      relação ao preço atual do cadastro de produto.
    </p>
    <img src={img36} alt="" />

    <p>
      Para o caso de ser informada a Ordem de Compra do produto na entrada,
      neste local será demonstrado o número da Ordem e do Item.
    </p>
    <img src={img37} alt="" />

    <h2>ABA PARCELAS</h2>
    <p>
      Local destinado a visualização dos valores e data de vencimento a ser pago
      que caso a entrada movimente o financeiro, será adicionado ao contas a
      pagar.
    </p>
    <img src={img38} alt="" />

    <h2>ABA CENTRO DE CUSTO</h2>
    <p>
      Local destinado a informar o Centro de custo caso a aquisição seja feita
      para algum local, departamento ou ativo imobilizado/veiculo.
    </p>
    <img src={img39} alt="" />

    <p>
      Caso necessite recalcular os valores do centro de custo após informar
      alguma despesa ou imposto e já ter o centro de custo estabelecido.
    </p>
    <img src={img40} alt="" />

    <p>
      Botão relatórios para impressões de etiquetas e espelhos de notas fiscais.
    </p>
    <img src={img41} alt="" />

    <p>
      Botão ferramentas para confirmar a entrada da nota, ajustar os valores e
      datas de vencimento das parcelas.
    </p>
    <p>
      Pode ser gerada a nota fiscal de devolução a partir da nota fiscal de
      entrada;
    </p>
    <p>
      Manutenções de financeiro, de quantidades de industrialização ou vincular
      a entrada a um conhecimento de transporte.
    </p>
    <img src={img42} alt="" />

    <p>
      Após efetivada a nota, o sistema irá apontar o custo atual, o valor novo e
      o percentual de variação.
    </p>
    <p>
      Para atualizar o valor de custo, marcar o produto e clicar em atualizar.
    </p>
    <img src={img43} alt="" />

    <p>
      Em seguida com o valor de custo atual, pode ser atualizado o valor do
      preço de venda marcando o produto, utilizando o índice ou digitando
      manualmente, e para finalizar clique em atualizar.
    </p>
    <img src={img44} alt="" />

    <p></p>

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>16/01/2023</p>
    </div>
  </main>
</Layout>
