---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/grupoCliente/img1.png";
import img2 from "../../imagens/grupoCliente/img2.png";
import img3 from "../../imagens/grupoCliente/img3.png";
import img4 from "../../imagens/grupoCliente/img4.png";
import img5 from "../../imagens/grupoCliente/img5.png";
import img6 from "../../imagens/grupoCliente/img6.png";
import img7 from "../../imagens/grupoCliente/img7.png";
import img8 from "../../imagens/grupoCliente/img8.png";
import img9 from "../../imagens/grupoCliente/img9.png";
---

<Layout title="Classificação ONU">
  <main>
    <h1>Classificação ONU</h1>

    <p>Acessar o Menu/ Químicas / Classificação ONU:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>
      Utilizado em segmentos que tem a obrigatoriedade de informar o número.
      Determinado pela Organização das Nações Unidas para identificar produtos
      químicos que oferecem perigo à vida. Composto por quatro dígitos é como se
      fosse o RG de um produto perigoso. Acima de 5 kg, já é obrigatório o uso
      de número ONU para produtos dessa natureza.
    </p>
    <img src={img3} alt="" />

    <p>
      Para maiores informações sobre a classificação de produtos ONU acesse o
      site:
    </p>
    <p>
      <a
        href="https://blog.bsoft.com.br/numero-onu-entenda-o-que-isso-representa-para-uma-transportadora#:~:text=O%20n%C3%BAmero%20ONU%20%C3%A9%20um,RG%20de%20um%20produto%20perigoso."
        >https://blog.bsoft.com.br/numero-onu-entenda-o-que-isso-representa-para-uma-transportadora</a
      >
    </p>

    <p>Informar o numero da ONU.</p>
    <img src={img4} alt="" />

    <p>Informar a Classe de Risco.</p>
    <!--<img src={img5} alt="" /> -->

    <p>Informar o Grupo de Embalagem.</p>
    <img src={img6} alt="" />

    <p>Informar a Descrição.</p>
    <img src={img7} alt="" />

    <p>Informar a Descrição da Classe.</p>
    <img src={img8} alt="" />

    <p>
      Dados Adicionais contem os campos Inclusão e Última alteração, onde audita
      o usuário que criou e/ou alterou o registro.
    </p>
    <img src={img9} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
