---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/ordemCompra/img1.png";
import img2 from "../../imagens/ordemCompra/img2.png";
import img3 from "../../imagens/ordemCompra/img3.png";
import img4 from "../../imagens/ordemCompra/img4.png";
import img5 from "../../imagens/ordemCompra/img5.png";
import img6 from "../../imagens/ordemCompra/img6.png";
import img7 from "../../imagens/ordemCompra/img7.png";
import img8 from "../../imagens/ordemCompra/img8.png";
import img9 from "../../imagens/ordemCompra/img9.png";
import img10 from "../../imagens/ordemCompra/img10.png";
import img11 from "../../imagens/ordemCompra/img11.png";
import img12 from "../../imagens/ordemCompra/img12.png";
import img13 from "../../imagens/ordemCompra/img13.png";
import img14 from "../../imagens/ordemCompra/img14.png";
import img15 from "../../imagens/ordemCompra/img15.png";
import img16 from "../../imagens/ordemCompra/img16.png";
import img17 from "../../imagens/ordemCompra/img17.png";
---

<Layout title="Ordem de Compra">
  <main>
    <h1>Cadastro Ordem de Compra</h1>

    <p>Acessar o menu Compras / Ordem de Compras:</p>
    <img src={img1} alt="" />

    <p>
      A Ordem de Compra tem a finalidade de formalizar um pedido de compra para
      um Fornecedor, obtendo assim uma previsão da data e do valor que será pago
      após a compra.
    </p>
    <p>
      Escolher o Tipo de Movimento (os mais comuns seria movimento de compras
      com ou sem financeiro) onde o sistema gera uma previsão de títulos a
      pagar.
    </p>
    <img src={img2} alt="" />

    <p>Para acessar o Manual de Tipos de Movimentos, clique aqui:</p>
    <img src={img3} alt="" />

    <p>Informar o Fornecedor.</p>
    <img src={img4} alt="" />

    <p>Informar a forma prevista de pagamento.</p>
    <img src={img5} alt="" />

    <p>Informar o Prazo de Pagamento.</p>
    <img src={img6} alt="" />

    <p>
      Informar a data de Emissão da Ordem, a previsão de entrega e no caso da
      Ordem gerar um contas a pagar, informar a data base do vencimento.
    </p>
    <img src={img7} alt="" />

    <p>Na Aba itens é o local onde serão informados os produtos adquiridos.</p>
    <img src={img8} alt="" />

    <p>Informar o produto que já deve estar previamente cadastrados.</p>
    <img src={img9} alt="" />

    <p>Informar a quantidade.</p>
    <img src={img10} alt="" />

    <p>Informar o valor unitário do produto.</p>
    <img src={img11} alt="" />

    <p>
      Caso esteja adquirindo um produto diretamente da indústria, e o mesmo tem
      exigência de recolhimento de IPI, para provisionar o valor gasto com este
      tributo, pode ser informado o percentual para visualização do valor do
      imposto e valor final da compra.
    </p>
    <img src={img12} alt="" />
    <img src={img13} alt="" />

    <p>
      Na aba centro de custo pode ser informado para qual ativo imobilizado ou
      departamento está destinado a aquisição, por exemplo: está sendo realizada
      compra de uma caixa de folha de sulfite para o Dpto. Administrativo.
    </p>
    <img src={img14} alt="" />

    <p>
      Informar o centro de custo e direcionar os valores ou percentuais das
      despesas.
    </p>
    <img src={img15} alt="" />

    <p>
      Ao finalizar o preenchimento da Ordem de Compra, salvar o lançamento e
      acessar o menu Ferramentas / Efetivar a Ordem de Compra.
    </p>
    <img src={img16} alt="" />

    <p>
      Em relatórios pode ser escolhido um dos 3 modelos disponível para
      impressão ou arquivamento em pdf para envio como anexo.
    </p>
    <img src={img17} alt="" />

    <p>
      O primeiro modelo uma via, o segundo modelo uma via com a opção de
      impressão sem os valores unitários e totais, e o terceiro em duas vias.
    </p>

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>16/01/2023</p>
    </div>
  </main>
</Layout>
