---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/ordemServico/img1.png";
import img2 from "../../imagens/ordemServico/img2.png";
import img3 from "../../imagens/ordemServico/img3.png";
import img4 from "../../imagens/ordemServico/img4.png";
import img5 from "../../imagens/ordemServico/img5.png";
import img6 from "../../imagens/ordemServico/img6.png";
import img7 from "../../imagens/ordemServico/img7.png";
import img8 from "../../imagens/ordemServico/img8.png";
import img9 from "../../imagens/ordemServico/img9.png";
import img10 from "../../imagens/ordemServico/img10.png";
import img11 from "../../imagens/ordemServico/img11.png";
import img12 from "../../imagens/ordemServico/img12.png";
import img13 from "../../imagens/ordemServico/img13.png";
import img14 from "../../imagens/ordemServico/img14.png";
import img15 from "../../imagens/ordemServico/img15.png";
import img16 from "../../imagens/ordemServico/img16.png";
import img17 from "../../imagens/ordemServico/img17.png";
---

<Layout title="Ordem de Serviço">
  <main>
    <h1>Ordem de Serviço</h1>

    <p>Acessar o Menu/ Vendas / Ordem de Serviço:</p>
    <img src={img1} alt="" />

    <h2>Aba Dados</h2>
    <p>
      Na aba Dados, o bloco identificação, é importante preencher as datas de
      Solicitação, Previsão do Atendimento e de Atendimento.
    </p>
    <p>
      Logo em seguida é necessário informar o Cliente vinculado a essa Ordem de
      Serviço.
    </p>
    <img src={img2} alt="" />

    <h2>Aba Dados / Solicitação Cliente</h2>
    <p>
      Nessa aba é informado o que o cliente repotou, qual o problema ele
      identificou.
    </p>
    <img src={img3} alt="" />

    <h2>Aba Dados / Solução Proposta</h2>
    <p>
      Nessa aba é informado o que será feito para solucionar a solicitação do
      cliente, e o possivel problema identificado.
    </p>
    <img src={img4} alt="" />

    <h2>Aba Dados / Diagnóstico</h2>
    <p>Resenvado para informar o que foi identificado como Diagnóstico.</p>
    <img src={img5} alt="" />

    <h2>Aba Dados / Follow Up</h2>
    <p>Essa aba irá auxiliar no acompanhamento da ordem.</p>
    <p>
      É possivel colocar informações para saber como está o processo geral da
      ordem.
    </p>
    <img src={img6} alt="" />

    <h2>Aba Dados / Comercial</h2>
    <p>Nessa aba é possivel amarrar um pedido com essa Ordem de Serviços.</p>
    <img src={img7} alt="" />

    <h2>Aba Dados / Classificação</h2>
    <p>
      Essas informações são utilizadas para identificar o tipo da ordem de
      serviço e sua finalidade.
    </p>
    <p>Parecido com o Grupo, Sub Grupo e Sub SubGrupo.</p>
    <img src={img8} alt="" />

    <h2>Aba Dados / Adicionais</h2>
    <p>
      Aqui é apresentado apenas a data da inclusão da ordem e caso ela tenha
      tido alguma alteração, mostrará também a data da alteração e o usuario
      responsavel pelo mesmo.
    </p>
    <img src={img9} alt="" />

    <h2>Aba Dados / Dados Equipamento</h2>
    <p>
      Essa aba é destinada para informações referentes ao equipamento que está
      vinculado a essa Ordem de Serviço.
    </p>
    <img src={img10} alt="" />

    <h2>Aba Dados / Informações Complementas</h2>
    <p>Essa aba é destinada para informações complementares sobre a Ordem</p>
    <p>
      Clicando em Cadastrar Nova Mensagem, é possivel cadastrar uma mensagem
      padrão para utilizar em outras Ordens de Serviço.
    </p>
    <p>
      E clicando no botão ao lado, é possivel selecionar a mensagem desejada e
      adiciona la a Ordem.
    </p>
    <img src={img11} alt="" />

    <h2>Aba Imagens</h2>
    <p>
      Nessa aba clicando em Carregar imagens, é possivel selecionar uma imagem
      salva no computador e anexa la na ordem, ou colcar uma imagem que tinha
      sido copiada ou printada.
    </p>
    <img src={img12} alt="" />

    <h2>Aba Históricos</h2>
    <p>
      Essa aba apresentará o histórico de todas as alterações de status que
      aconteceram na ordem.
    </p>
    <img src={img13} alt="" />

    <p>
      Após colocar todas as informações da ordem e salvar, é necessário alterar
      o status dele, até chegar na finalização da Ordem.
    </p>
    <img src={img14} alt="" />
    <img src={img15} alt="" />
    <img src={img16} alt="" />

    <p>
      E clicando no botão Relatórios existem algumas opções de relatórios com as
      informações da ordem.
    </p>
    <img src={img17} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>13/02/2023</p>
    </div>
  </main>
</Layout>
