---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/ordemProducao/img1.png";
import img2 from "../../imagens/ordemProducao/img2.png";
import img3 from "../../imagens/ordemProducao/img3.png";
import img4 from "../../imagens/ordemProducao/img4.png";
import img5 from "../../imagens/ordemProducao/img5.png";
import img6 from "../../imagens/ordemProducao/img6.png";
import img7 from "../../imagens/ordemProducao/img7.png";
import img8 from "../../imagens/ordemProducao/img8.png";
import img9 from "../../imagens/ordemProducao/img9.png";
import img10 from "../../imagens/ordemProducao/img10.png";
---

<Layout title="Ordem de Produção">
  <main>
    <h1>Ordem de Produção</h1>

    <p>Acessar o menu Produção / Ordem de Produção:</p>
    <img src={img1} alt="" />

    <p>
      A Ficha de Produção é utilizada no controle interno durante as etapas e
      processos, sendo o documento que informa os materiais e quantidades
      utilizados, as etapas a serem passadas e as instruções a serem seguidas.
    </p>
    <img src={img2} alt="" />

    <p>Informar o código ou referencia do produto a ser criado plano.</p>
    <img src={img3} alt="" />

    <p>Apenas demonstrativo da unidade de medida do produto e a densidade.</p>
    <img src={img4} alt="" />

    <p>Escolher um plano de produção.</p>
    <img src={img5} alt="" />

    <p>
      Apenas serão mostrados planos que estiverem com o Status Disponível.
      Planos Finalizados ou Cancelados não serão mostrados.
    </p>
    <img src={img6} alt="" />

    <p>Informar a data de previsão da produção.</p>
    <img src={img7} alt="" />

    <p>A data de conclusão será preenchida na conclusão da ficha.</p>
    <img src={img8} alt="" />

    <p>
      Campos demonstrativos do código do produto, a referencia e a revisão. A
      revisão é a versão da engenharia.
    </p>
    <img src={img9} alt="" />

    <p>
      Campo para informar observações na ficha, quando é gerada avulsa ou
      através de pedidos as informações são pré estabelecidas, mas pode ser
      adicionada alguma informação manualmente.
    </p>
    <img src={img10} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>20/02/2023</p>
    </div>
  </main>
</Layout>
