---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/parametrosNFe/img1.png";
import img2 from "../../imagens/parametrosNFe/img2.png";
import img3 from "../../imagens/parametrosNFe/img3.png";
import img4 from "../../imagens/parametrosNFe/img4.png";
import img5 from "../../imagens/parametrosNFe/img5.png";
import img6 from "../../imagens/parametrosNFe/img6.png";
import img7 from "../../imagens/parametrosNFe/img7.png";
import img8 from "../../imagens/parametrosNFe/img7.png";
import img9 from "../../imagens/parametrosNFe/img8.png";
import img10 from "../../imagens/parametrosNFe/img10.png";
import img11 from "../../imagens/parametrosNFe/img11.png";
import img12 from "../../imagens/parametrosNFe/img12.png";
import img13 from "../../imagens/parametrosNFe/img13.png";
import img14 from "../../imagens/parametrosNFe/img14.png";
/*import img15 from "../../imagens/parametrosNFe/img15.png";
import img16 from "../../imagens/parametrosNFe/img16.png";*/
import img17 from "../../imagens/parametrosNFe/img17.png";
import img18 from "../../imagens/parametrosNFe/img18.png";
import img19 from "../../imagens/parametrosNFe/img19.png";
import img20 from "../../imagens/parametrosNFe/img20.png";
import img21 from "../../imagens/parametrosNFe/img21.png";
import img22 from "../../imagens/parametrosNFe/img22.png";
import img23 from "../../imagens/parametrosNFe/img23.png";
---

<Layout title="Parametrização NFe">
  <main>
    <h1>MANUAL PARAMETROS GERAIS / FATURAMENTO</h1>

    <p>Acessar Sistema / Opções / Parâmetros Gerais / Faturamento</p>
    <img src={img1} alt="" />

    <p>
      Parâmetro que permite não ser obrigatório na cabeça da nota ser informado
      um padrão tributário.
    </p>
    <img src={img2} alt="" />
    <br />
    <img src={img3} alt="" />

    <p>
      Com este parâmetro habilitado os descontos e acréscimos concedidos na
      cabeça do pedido são carregados nos totais da Nota Fiscal e rateados
      proporcionalmente aos itens.
    </p>
    <img src={img4} alt="" />
    <br />
    <img src={img5} alt="" />
    <br />
    <img src={img6} alt="" />
    <br />
    <img src={img7} alt="" />

    <p>
      Com este parâmetro ativado, os itens que estão repetidos no pedido, ao ser
      gerada a NF-e não serão agrupados.
    </p>
    <img src={img8} alt="" />
    <br />
    <img src={img9} alt="" />
    <br />
    <img src={img10} alt="" />

    <p>
      Este parâmetro foi desabilitado, sendo alocado para dentro do Tipo de
      Movimento.
    </p>
    <img src={img11} alt="" />
    <br />
    <img src={img12} alt="" />

    <p>
      Com este parâmetro ativado, ao efetivar a NF-e os a descrição dos produtos
      são ordenados por ordem alfabética.
    </p>
    <img src={img13} alt="" />
    <br />
    <img src={img14} alt="" />

    <p>Este parâmetro está desatualizado.</p>
    <img src="" alt="" />

    <p>Foi substituído por este.</p>
    <img src="" alt="" />

    <p>Utilizado dentro do módulo de NF-e/Ferramentas/Gerar NF-e por pedido.</p>
    <img src={img17} alt="" />

    <p>
      Os pedidos serão faturados em sua totalidade, não sendo permitido
      faturamentos parciais de itens e quantidades.
    </p>
    <img src={img18} alt="" />

    <p>
      Parâmetros Carregar os produtos dos pedidos com o valor de tabela, e os
      descontos dos itens serem aplicados no total da nota.
    </p>
    <img src={img19} alt="" />

    <p>
      Parâmetros para nos Dados Adicionais da NF-e carregar os valores do PIS e
      COFINS dos produtos e o e-mail do destinatário desde que esteja preenchido
      no Cadastro do Cliente.
    </p>
    <img src={img20} alt="" />
    <br />
    <img src={img21} alt="" />

    <p>
      Parâmetros para carregar nas observações do item a referencia da
      Embalagem, a Classificação da ONU e o numero da Ficha de Conteúdo de
      Importação (FCI).
    </p>
    <img src={img22} alt="" />
    <br />
    <img src={img23} alt="" />
  </main>
</Layout>
