---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/pedido2/img1.png";
import img2 from "../../imagens/pedido2/img2.png";
import img3 from "../../imagens/pedido2/img3.png";
import img4 from "../../imagens/pedido2/img4.png";
import img5 from "../../imagens/pedido2/img5.png";
import img6 from "../../imagens/pedido2/img6.png";
import img7 from "../../imagens/pedido2/img7.png";
import img8 from "../../imagens/pedido2/img8.png";
import img9 from "../../imagens/pedido2/img9.png";
import img10 from "../../imagens/pedido2/img10.png";
import img11 from "../../imagens/pedido2/img11.png";
---

<Layout title="Pedido Mod. II">
  <main>
    <h1>Pedido Modelo II</h1>

    <p>Acessar o Menu/ Vendas / Pedidos Mod. II:</p>
    <img src={img1} alt="" />

    <p>
      No bloco Documento, é importante informar o Tipo de Movimento do pedido.
    </p>
    <p>
      Logo a baixo é importante se atentar ao Nr. Pedido, cada pedido deve ter
      um numero unico para identifica-lo.
    </p>
    <p>A Data da emissão do pedido.</p>
    <p>A Data de entrega desse pedido.</p>
    <p>
      E a Data Base do Vencimento do Pedido, que informa um limite para a
      aprovação e finalização do mesmo.
    </p>
    <img src={img2} alt="" />

    <p>
      No bloco Comercial é preciso informar o Cliente e o Vendedor referente ao
      pedido.
    </p>
    <p>
      Informar o Tipo de Documento (Ex.: Dinheiro, cartão, boleto, cheque,
      pix...).
    </p>
    <p>
      Informar o Prazo de Pagamento (Ex.: A vista, 10 Dias, 15 Dias, 30/60/90
      Dias...).
    </p>
    <img src={img3} alt="" />

    <h2>Aba Produtos</h2>
    <p>
      Nessa aba deve ser informado o produto clicando nos três pontos, e todas
      as informações referentes a esse produto.
    </p>
    <p>
      Caso o produto já tenha um preço de venda no seu cadastro, o sistema puxa
      automaticamente esse valor para o preço de venda
    </p>
    <p>
      Após informar todos os dados referentes ao item, basta clicar no + azul.
    </p>
    <img src={img4} alt="" />

    <p>
      Todos os produtos adicionados ao pedido, serão apresentados a baixo, com
      tadas as informações referentes a esse item.
    </p>
    <img src={img5} alt="" />

    <h2>Aba Dados Adicionais</h2>
    <p>
      A aba adicionais é livre para colocar qualquer informação adicional
      referente ao produto.
    </p>
    <img src={img6} alt="" />

    <h2>Aba Follow Up</h2>
    <!-- diferença entra aba dados adicionais e Follow Up -->
    <p>
      Esta aba é utilizada para colocar informações adicionais que precisem
      passar por um acompanhamento.
    </p>
    <p>
      Cada follow up adicionado, tem o usuario que adicionou e a data da adição
      dessa observação.
    </p>
    <img src={img7} alt="" />

    <p>
      Na parte superior esquerda é apresentado um resumo dos valores do pedido,
      e nesse bloco é possivel informar alguns valores que serão acrescentados
      no valor do produto, como Vr Frete e Vr Despesas.
    </p>
    <img src={img9} alt="" />

    <p>
      Após fazer todos os processos necessários no lançamento do pedido, basta
      salva-lo.
    </p>
    <img src={img8} alt="" />

    <p>
      Em seguida para finalizar o processo do pedido, e gerar seu financeiro
      (Titulo a receber), basta ir em ferramentas na parte superior da tela, e
      em seguida clicar em Efetivar Venda.
    </p>
    <img src={img10} alt="" />

    <p>
      No pedido modelo dois, é possivel gerar sat (Sistema Autenticador e
      Transmissor de Cupons Fiscais Eletrônicos).
    </p>
    <p>Basta clicar em Ferramentas - Gerar SAT.</p>
    <img src={img11} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>26/01/2023</p>
    </div>
  </main>
</Layout>
