---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/pedido3/img1.png";
import img2 from "../../imagens/pedido3/img2.png";
import img3 from "../../imagens/pedido3/img3.png";
import img4 from "../../imagens/pedido3/img4.png";
import img5 from "../../imagens/pedido3/img5.png";
import img6 from "../../imagens/pedido3/img6.png";
import img7 from "../../imagens/pedido3/img7.png";
import img8 from "../../imagens/pedido3/img8.png";
import img9 from "../../imagens/pedido3/img9.png";
import img10 from "../../imagens/pedido3/img10.png";
import img11 from "../../imagens/pedido3/img11.png";
import img12 from "../../imagens/pedido3/img12.png";
import img13 from "../../imagens/pedido3/img13.png";
import img14 from "../../imagens/pedido3/img14.png";
import img15 from "../../imagens/pedido3/img15.png";
import img16 from "../../imagens/pedido3/img16.png";
import img17 from "../../imagens/pedido3/img17.png";
import img18 from "../../imagens/pedido3/img18.png";
import img19 from "../../imagens/pedido3/img19.png";
---

<Layout title="Pedido Mod. III">
  <main>
    <h1>Pedido Modelo III</h1>

    <p>Acessar o Menu/ Vendas / Pedidos Mod. III:</p>
    <img src={img1} alt="" />

    <p>
      O pedido mod. III é comumente utilizado por industrias, pelos campos
      habilitados nesse pedido e as informações que podem ser passadas.
    </p>
    <p>
      Informações como.: Impostos, informações complementares para Produção,
      Lote, Local de estoque...
    </p>
    <img src={img2} alt="" />

    <p>
      Na lateral direita o Bloco Resumo Totais, irá mostrar todas as informações
      sobre valores e impostos referentes a esse produto, independente da aba
      que esteja.
    </p>
    <img src={img3} alt="" />

    <p>
      No bloco Classificação Movimento, é importante informar o Tipo de
      Movimento do pedido.
    </p>
    <img src={img4} alt="" />

    <p>
      Ao lado no bloco Identificação, importante se atentar ao Nr. Pedido, cada
      pedido deve ter um numero unico para identifica-lo.
    </p>
    <p>A Data da emissão do pedido.</p>
    <p>A Data de entrega desse pedido.</p>
    <p>
      E a Data Base do Vencimento do Pedido, que informa um limite para a
      aprovação e finalização do mesmo.
    </p>
    <img src={img5} alt="" />

    <h2>Aba Dados Movimento / Dados Cliente</h2>
    <p>
      Nessa aba é necessário informar apenas o cliente referente a esse pedido,
      o bloco Dados Complementares, puxa as informações direto do cadastro do
      cliente informado.
    </p>
    <img src={img6} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Comercial</h2>
    <img src={img7} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Financeiro</h2>
    <img src={img8} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Estoque</h2>
    <img src={img9} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Transporte</h2>
    <img src={img10} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Dados Volumes</h2>
    <img src={img11} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Local Retirada</h2>
    <img src={img12} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Tributação</h2>
    <img src={img13} alt="" />

    <h2>Aba Dados Movimento / Informações Adicionais</h2>
    <img src={img14} alt="" />

    <h2>Aba Itens do Movimento</h2>
    <img src={img15} alt="" />
    <img src={img16} alt="" />

    <h2>Aba Rateio por Centro de Custo</h2>
    <img src={img17} alt="" />

    <h2>Aba Parcelas do Financeiro</h2>
    <img src={img18} alt="" />

    <h2>Log de Status</h2>
    <img src={img19} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>26/01/2023</p>
    </div>
  </main>
</Layout>
