---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/pedidosPDV/img1.png";
import img2 from "../../imagens/pedidosPDV/img2.png";
import img3 from "../../imagens/pedidosPDV/img3.png";
import img4 from "../../imagens/pedidosPDV/img4.png";
import img5 from "../../imagens/pedidosPDV/img5.png";
import img6 from "../../imagens/pedidosPDV/img6.png";
import img7 from "../../imagens/pedidosPDV/img7.png";
import img8 from "../../imagens/pedidosPDV/img8.png";
---

<Layout title="Pedidos PDV">
  <main>
    <h1>Pedidos PDV</h1>

    <p>Acessar Vendas/Pedido PDV:</p>
    <img src={img1} alt="" />
    <p>
      No Pedido PDV é possivel verificar todas as vendas feitas no CheckOut e
      algumas alterações.
    </p>

    <img src={img2} alt="" />
    <p>
      Selecionando o pedido, e indor em Ferramentas/Gerar Devolução a partir de
      Pedidos, é possivel fazer um pedido para casos em que há devolução de um
      ou mais itens dessa venda.
    </p>

    <img src={img3} alt="" />
    <p>
      Dentro do pedido é possiver ter acesso a informações como: Pedido
      Efetivado, Valor total do pedido, Acréscimos, Descontos, Cliente,
      Vendedor, Produtos, Quantidade de cada produto, e todos os valores
      referentes a esse produto.
    </p>

    <img src={img4} alt="" />

    <p>
      A opção de estornar apenas será usanda em casos de cancelamento do pedido.
    </p>
    <p>Após estornar o pedido ele fica sem status</p>
    <img src={img5} alt="" />

    <p>Em seguida basta ir em ferramentas / Cancelar Venda</p>
    <img src={img6} alt="" />

    <p>
      Em ferramentas também existe a possibilidade de alterar o vendedor do
      pedido, e de remover para ficar sem nenhum vendor.
    </p>
    <img src={img7} alt="" />

    <p>
      E a ultima opção em Ferramentas, gera um pedido caso seja necessário fazer
      uma devolução de um ou mais itens do pedido.
    </p>
    <img src={img8} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra dos Santos.</p>
      <p><b>Revisado por:</b> Eduardo Cintra dos Santos.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
