---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/pedido3/img1.png";
import img2 from "../../imagens/pedido3/img2.png";
import img3 from "../../imagens/pedido3/img3.png";
import img4 from "../../imagens/pedido3/img4.png";
import img5 from "../../imagens/pedido3/img5.png";
import img6 from "../../imagens/pedido3/img6.png";
import img7 from "../../imagens/pedido3/img7.png";
import img8 from "../../imagens/pedido3/img8.png";
import img9 from "../../imagens/pedido3/img9.png";
import img10 from "../../imagens/pedido3/img10.png";
import img11 from "../../imagens/pedido3/img11.png";
import img12 from "../../imagens/pedido3/img12.png";
import img13 from "../../imagens/pedido3/img13.png";
import img14 from "../../imagens/pedido3/img14.png";
import img15 from "../../imagens/pedido3/img15.png";
import img16 from "../../imagens/pedido3/img16.png";
import img17 from "../../imagens/pedido3/img17.png";
import img18 from "../../imagens/pedido3/img18.png";
import img19 from "../../imagens/pedido3/img19.png";
---

<Layout title="Pedido Mod. III">
  <main>
    <h1>Pedido Modelo III</h1>

    <p>Acessar o Menu/ Vendas / Pedidos Mod. III:</p>
    <img src={img1} alt="" />

    <p>
      O pedido mod. III é comumente utilizado por industrias, pelos campos
      habilitados nesse pedido e as informações que podem ser passadas.
    </p>
    <p>
      Informações como.: Impostos, informações complementares para Produção,
      Lote, Local de estoque...
    </p>
    <img src={img2} alt="" />

    <p>
      Na lateral direita o Bloco Resumo Totais, irá mostrar todas as informações
      sobre valores e impostos referentes a esse produto, independente da aba
      que esteja.
    </p>
    <img src={img3} alt="" />

    <p>
      No bloco Classificação Movimento, é importante informar o Tipo de
      Movimento do pedido.
    </p>
    <img src={img4} alt="" />

    <p>
      Ao lado no bloco Identificação, importante se atentar ao Nr. Pedido, cada
      pedido deve ter um numero unico para identifica-lo.
    </p>
    <p>A Data da emissão do pedido.</p>
    <p>A Data de entrega desse pedido.</p>
    <p>
      E a Data Base do Vencimento do Pedido, que informa um limite para a
      aprovação e finalização do mesmo.
    </p>
    <img src={img5} alt="" />

    <h2>Aba Dados Movimento / Dados Cliente</h2>
    <p>
      Nessa aba é necessário informar apenas o cliente ou fornecedor referente a
      esse pedido, o bloco Dados Complementares, puxa as informações direto do
      cadastro do cliente informado.
    </p>
    <p>
      É necessário informar antes de buscar o cadastro, se é fornecedor ou
      cliente.
    </p>
    <img src={img6} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Comercial</h2>
    <p>
      Na aba comercial, não existem campos obrigatórios, cada campo pode ser
      preenchido de acordo com a necessidade de cada clicar.
    </p>
    <p>
      Vendedor, Representante, Preposto, Revendedor, Colaborador e Departamento.
    </p>
    <img src={img7} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Financeiro</h2>
    <p>
      Na aba Financeiro, é importante informar o Prazo de Pagamento, Espécie
      Documento e moeda.
    </p>
    <p>
      O Plano Financeiro deve ser informado apenas se faz o controle dessa
      infromação.
    </p>
    <img src={img8} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Estoque</h2>
    <p>
      Na aba Estoque, deve ser preenchido o campo Local de Estoque somente se o
      sistema estiver parametrizado para controlar estoque.
    </p>
    <img src={img9} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Transporte</h2>
    <p>
      A aba de Transporte não é obrigatória, ela deve ser preenchida para
      controle, caso sinta a necessidade de ter essa informações viculadas ao
      pedido.
    </p>
    <p>
      Caso faça o preenchimento desses dados e a partir desse pedido seja feita
      uma nota, esses dados são transportados automaticamente para a nota.
    </p>
    <img src={img10} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Dados Volumes</h2>
    <p>
      Na aba Dados Volumes deve ser preenchido as informações de volume do
      pedido, conforme necessidade do cliente.
    </p>
    <img src={img11} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Local Retirada</h2>
    <p>
      A aba Local Retirada não é obrigatório o preenchimento, deve ser
      preenchido caso sinta necessidade dessa informação no pedido.
    </p>
    <img src={img12} alt="" />

    <h2>Aba Dados Movimento / Parâmetros Pedido / Tributação</h2>
    <p>
      Nessa aba é possivel infromar uma tributação para o pedido já fazer o
      calculo dos campos de imposto.
    </p>
    <p>
      É possivel verificar esses calculos na aba Dados Movimento - Dados
      Cliente, na lateral direita no bloco de dados Resumos Totatis.
    </p>
    <img src={img13} alt="" />

    <h2>Aba Dados Movimento / Informações Adicionais</h2>
    <p>
      Nessa aba existem três blocos de observações, um para cada finalidade.
    </p>
    <p>
      O primeiro é reservado para observações do pedido, o usuario pode informar
      qualquer observação conforme necessidade do cliente.
    </p>
    <p>
      O segundo é reservado para observações do financeiro, o usuario pode
      informar qualquer observação conforme necessidade do cliente.
    </p>
    <p>
      O terceiro é reservado para observações de produção, o usuario pode
      informar qualquer observação conforme necessidade do cliente.
    </p>
    <p>
      Logo abaixo das observações, existe o bloco Faturamentos, esse campo
      apresentará todas as notas emitidas e amarradas e esse pedido.
    </p>
    <img src={img14} alt="" />

    <h2>Aba Itens do Movimento</h2>
    <p>
      Na aba Itens do Movimento, clicando no botão Novo Item abrirá a tela para
      inserir o item no pedido.
    </p>
    <img src={img15} alt="" />

    <p>
      Na tela de itens, o produto pode ser informado a partir do Codigo,
      Referência, Cód. Prod. Cliente ou pela Descrição clicando nos três pontos.
    </p>
    <p>
      As outras informações referentes ao produto, são puxadas automaticamente
      de acordo com o cadastro do mesmo.
    </p>
    <p>
      No lado direito é importante informar a Quantidade, e o Desconto ou
      Acréscimo de acordo com a necessidade do item no pedido. O desconto e o
      acréscimo pode ser informado a partir do valor, ou do percentual.
    </p>
    <img src={img16} alt="" />

    <h2>Aba Rateio por Centro de Custo</h2>
    <p>
      Nessa aba clicando em Novo Registro é possivel informar um ou mais Centros
      de Custo, e o percentual referente a cada centro de custo.
    </p>
    <img src={img17} alt="" />

    <h2>Aba Parcelas do Financeiro</h2>
    <p>Essa aba apresentará todos os titulos gerados a partir desse pedido.</p>
    <img src={img18} alt="" />

    <h2>Log de Status</h2>
    <p>
      Essa aba apresentará todos os históricos de status referentes a esse
      pedido.
    </p>
    <img src={img19} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>26/01/2023</p>
    </div>
  </main>
</Layout>
