---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/pedido1/img1.png";
import img2 from "../../imagens/pedido1/img2.png";
import img3 from "../../imagens/pedido1/img3.png";
import img4 from "../../imagens/pedido1/img4.png";
import img5 from "../../imagens/pedido1/img5.png";
import img6 from "../../imagens/pedido1/img6.png";
import img7 from "../../imagens/pedido1/img7.png";
import img8 from "../../imagens/pedido1/img8.png";
import img9 from "../../imagens/pedido1/img9.png";
import img10 from "../../imagens/pedido1/img10.png";
import img11 from "../../imagens/pedido1/img11.png";
import img12 from "../../imagens/pedido1/img12.png";
import img13 from "../../imagens/pedido1/img13.png";
import img14 from "../../imagens/pedido1/img14.png";
import img15 from "../../imagens/pedido1/img15.png";
import img16 from "../../imagens/pedido1/img16.png";
import img17 from "../../imagens/pedido1/img17.png";
import img18 from "../../imagens/pedido1/img18.png";
---

<Layout title="Pedido Mod. I">
  <main>
    <h1>Pedido Modelo I</h1>

    <p>Acessar o Menu/ Vendas / Pedidos:</p>
    <img src={img1} alt="" />

    <p>
      O pedido modelo I é comumente utilizado por clientes que utilizam grade ou
      Local de estoque em seus produtos.
    </p>

    <h2>Aba Dados Pedido</h2>

    <p>
      É importante inicialmente informar o tipo de movimento referente ao
      pedido.
    </p>
    <img src={img2} alt="" />
    <p>
      <b>
        Para acessar o cadastro de Tipo de Movimento
        <a href="" target="_blank">Clique aqui</a>.
      </b>
    </p>

    <p>
      Logo a baixo é importante se atentar ao Nr. Pedido, cada pedido deve ter
      um numero unico para identifica-lo.
    </p>
    <p>A Data da emissão do pedido.</p>
    <p>A Data de entrega desse pedido.</p>
    <p>
      E a Data Base do Vencimento do Pedido, que informa um limite para a
      aprovação e finalização do mesmo.
    </p>
    <img src={img3} alt="" />

    <p>
      No bloco Dados Comerciais, deve ser informado o cliente responsavel pelo
      pedido.
    </p>
    <img src={img4} alt="" />
    <img src={img5} alt="" />
    <img src={img6} alt="" />
    <img src={img7} alt="" />
    <img src={img8} alt="" />
    <img src={img9} alt="" />
    <img src={img10} alt="" />
    <img src={img11} alt="" />
    <img src={img12} alt="" />
    <img src={img13} alt="" />
    <img src={img14} alt="" />
    <img src={img15} alt="" />
    <img src={img16} alt="" />
    <img src={img17} alt="" />
    <img src={img18} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>26/01/2023</p>
    </div>
  </main>
</Layout>
