---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/planoProducao/img1.png";
import img2 from "../../imagens/planoProducao/img2.png";
import img3 from "../../imagens/planoProducao/img3.png";
import img4 from "../../imagens/planoProducao/img4.png";
import img5 from "../../imagens/planoProducao/img5.png";
import img6 from "../../imagens/planoProducao/img6.png";
import img7 from "../../imagens/planoProducao/img7.png";
import img8 from "../../imagens/planoProducao/img8.png";
import img9 from "../../imagens/planoProducao/img9.png";
---

<Layout title="Plano de Produção">
  <main>
    <h1>Plano de Produção</h1>

    <p>Acessar o menu Produção / Plano de Produção:</p>
    <img src={img1} alt="" />

    <p>
      O plano de produção é utilizado para gerar as fichas dos produtos que
      necessitam ser produzidos. Pode ser para reunir os pedidos, ou avulsos.
    </p>
    <img src={img2} alt="" />

    <p>
      Status de Disponibilidade de Plano, quando todas as fichas estiverem
      canceladas ou finalizadas, o plano estará como indisponível.
    </p>
    <img src={img3} alt="" />

    <p>
      Informar o nome do plano, pode ser o cliente, a região, a data ou o tipo
      de produto.
    </p>
    <img src={img4} alt="" />

    <p>
      Parâmetro para informar se o planejamento será para uma industrialização.
      Pois no apontamento haverá cobrança de mão de obra e retorno de matéria
      prima aplicada.
    </p>
    <img src={img5} alt="" />

    <p>
      Em caso de Industrialização, é obrigatório informar para qual cliente que
      será informado o processo.
    </p>
    <img src={img6} alt="" />

    <p>
      Pode ser utilizado o departamento para separar os planejamentos por
      setores.
    </p>
    <img src={img7} alt="" />

    <p>
      Aba Ordens de Produção, utilizada para demonstrar as fichas que foram
      adicionadas no plano.
    </p>
    <p>
      Tambem utilizado para emissao de segunda via de Ordem acessando o recurso
      Relatórios.
    </p>
    <img src={img8} alt="" />
    <br />
    <img src={img9} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>17/02/2023</p>
    </div>
  </main>
</Layout>
