---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/previsoes/img1.png";
import img2 from "../../imagens/previsoes/img2.png";
import img3 from "../../imagens/previsoes/img3.png";
import img4 from "../../imagens/previsoes/img4.png";
import img5 from "../../imagens/previsoes/img5.png";
import img6 from "../../imagens/previsoes/img6.png";
import img7 from "../../imagens/previsoes/img7.png";
import img8 from "../../imagens/previsoes/img8.png";
import img9 from "../../imagens/previsoes/img9.png";
import img10 from "../../imagens/previsoes/img10.png";
import img11 from "../../imagens/previsoes/img11.png";
import img12 from "../../imagens/previsoes/img12.png";
import img13 from "../../imagens/previsoes/img13.png";
import img14 from "../../imagens/previsoes/img14.png";
import img15 from "../../imagens/previsoes/img15.png";
import img16 from "../../imagens/previsoes/img16.png";
import img17 from "../../imagens/previsoes/img17.png";
import img18 from "../../imagens/previsoes/img18.png";
import img19 from "../../imagens/previsoes/img19.png";
---

<Layout title="Previsões">
  <main>
    <h1>Lançamento de Previsões</h1>

    <p>Acessar o Menu/ Contas a Pagar / Previsões:</p>
    <img src={img1} alt="" />

    <p>
      A previsão como o proprimo nome já diz é um planejamento de faturas
      futuras, por exemplo conta de água.. Temos uma previsa de um valor mensal,
      mas esse valor pode variar de acordo com o mes.
    </p>
    <img src={img2} alt="" />

    <p>
      No bloco Identificação, é importante colocar um Nr. Documento unico para
      cada previsão, Dia Emissão, o Dia Vencimento, o Dias Intervalo entre um
      titulo e outro, Vr. Previsão que é o valor previsto para cada mês, e o
      Tipo Previsão (Mensal, Bimestral, Trimestral, Anual).
    </p>
    <img src={img3} alt="" />

    <p>
      No bloco Vigência Previsão Financeira, é necessário colocar o perido de
      vigência dessa previsão.
    </p>
    <img src={img4} alt="" />

    <p>
      No bloco Gerencial, é importante informar o Fornecedor, a Especie de
      documento que será utilizada no titulo, o Plano Financeiro, e caso essa
      previsão seja referente a um contrato, também é necessário informar o
      contrado, caso contrario não é obrigatório.
    </p>
    <img src={img5} alt="" />

    <p>
      O bloco Dados Adicionais, é aberto para colocar qualquer informação
      adicional que seja necessária.
    </p>
    <img src={img6} alt="" />

    <p>
      Depois é necessário informar os Centros de Custro referente a essa
      previsão.
    </p>
    <img src={img7} alt="" />

    <p>Depois de preencher todas essas informações, basta salvar.</p>
    <img src={img8} alt="" />

    <p>
      Assim que salvar, indo em Ferramentas - Gerar Previsões, o sistema irá
      gerar os titulos.
    </p>
    <img src={img9} alt="" />

    <p>
      Nessa tela é necessário informar o periodo que será gerado os titulos.
    </p>
    <p>Após informar, basta clicar em Ok.</p>
    <img src={img10} alt="" />

    <p>
      Na aba Parcelas Geradas é possivel verificar os titulos que foram gerados.
    </p>
    <img src={img11} alt="" />

    <p>
      Caso seja necessário estornar um periodo ou um mês especifico, basta ir em
      Ferramentas - Estornar Previsões.
    </p>
    <img src={img12} alt="" />

    <p>
      E nessa tela informar o periodo que deseja estornar, se colocar o periodo
      de um mês especifico, ele irá estornar apenas o titulo gerado naquele mês,
      caso informe mais de um mês, o sistema irá estornar os titulos gerados
      naquele periodo.
    </p>
    <img src={img13} alt="" />

    <p>
      Como feito anteriormente, foi feito o estorno da previsão referente ao mês
      de Dezembro.
    </p>
    <img src={img14} alt="" />

    <p>
      Caso sejá necessário alterar o valor da previsão, de um mês especifico ou
      de um periodo, também é possivel pela propria previsão ou entrado no
      titulo gerado e fazendo a alteração.
    </p>
    <p>Basta clicar em Alterar dentro da previsão.</p>
    <img src={img15} alt="" />

    <p>Em seguida, no bloco Identificação altera o Vr. Previsão, e salvar.</p>
    <img src={img16} alt="" />

    <p>Após isso ir em Ferramentas - Gerar previsão.</p>
    <img src={img17} alt="" />

    <p>
      É possivel escolher o periodo que deseja alterar o valor, no exemplo vamos
      alterar o valor das previsões no periodo de Outubro e Novembro.
    </p>
    <img src={img18} alt="" />

    <p>
      Aqui é possivel verificar que foi alterado somente os titulos do periodo
      indormado anteriormente.
    </p>
    <img src={img19} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>22/03/2023</p>
    </div>
  </main>
</Layout>
