---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/cultivo/img1.png";
import img2 from "../../imagens/cultivo/img2.png";
import img3 from "../../imagens/projetosAgro/img1.png";
import img4 from "../../imagens/projetosAgro/img2.png";
import img5 from "../../imagens/projetosAgro/img3.png";
import img6 from "../../imagens/projetosAgro/img4.png";
import img7 from "../../imagens/projetosAgro/img5.png";
import img8 from "../../imagens/projetosAgro/img6.png";
import img9 from "../../imagens/projetosAgro/img7.png";
import img10 from "../../imagens/projetosAgro/im8.png";
import img11 from "../../imagens/projetosAgro/img9.png";
import img12 from "../../imagens/projetosAgro/img10.png";
import img13 from "../../imagens/projetosAgro/img11.png";
import img14 from "../../imagens/projetosAgro/img12.png";
import img15 from "../../imagens/projetosAgro/img13.png";
import img16 from "../../imagens/projetosAgro/img14.png";
import img17 from "../../imagens/projetosAgro/img15.png";
import img18 from "../../imagens/projetosAgro/img16.png";
import img19 from "../../imagens/projetosAgro/img17.png";
---

<Layout title="Tipo Projeto">
  <main>
    <h1>Tipo Projeto</h1>

    <p>Acesse o Menu Cadastros / Agro negócios / Tipo de Projetos.</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />
    <img src={img3} alt="" />

    <p>
      Este menu possui o recurso de Cadastrar os tipos de projeto como
      Financiamento agrícola, Financiamento de maquinários, seguros de plantio.
      Também pode ser vinculado a projetos secundários. Por exemplo, sempre que
      algum cliente fizer um financiamento de maquinários, abranger e ser
      oferecido um seguro contra roubo, furto ou dano. Tela também onde é
      parametrizada as comissões e integrações com o financeiro, e os usuários
      que tem acesso a este tipo de projeto.
    </p>
    <img src={img4} alt="" />

    <p>Informar a descrição do Tipo de Projeto.</p>
    <img src={img5} alt="" />

    <p>Clicar no botão indicado para escolher as etapas.</p>
    <img src={img6} alt="" />

    <p>Selecionar as etapas que o projeto pode conter.</p>
    <img src={img7} alt="" />

    <p>
      Em cada etapa, informar se ela pode pular, se permite voltar para a etapa
      anterior, e se é de finalização ou cancelamento.
    </p>
    <img src={img8} alt="" />
    <br />

    <img src={img9} alt="" />
    <p>é possível reposicionar a ordem das etapas.</p>
    <img src={img10} alt="" />

    <p>
      Na aba Projetos alcançados pode ser vinculado um tipo de serviço a ser
      oferecido, por exemplo, em um Financiamento de maquina, pode ser oferecida
      uma apólice de seguro deste maquinário.
    </p>
    <img src={img11} alt="" />

    <p>
      Na aba parâmetros gerais são definidos comissões, tempo de duração, prazos
      e formas de pagamento.
    </p>
    <img src={img12} alt="" />

    <p>Informar o percentual de comissão do projeto.</p>
    <img src={img13} alt="" />

    <p>Informar o tempo máximo de duração do projeto.</p>
    <img src={img14} alt="" />

    <p>
      Informar se o projeto não tem exigência de informar a matricula
      (certificado de propriedade da fazenda), esta condição geralmente é
      desmarcada em serviços de seguros.
    </p>
    <img src={img15} alt="" />

    <p>Informar o prazo de recebimento no fechamento do projeto.</p>
    <img src={img16} alt="" />

    <p>Informar a condição do recebimento do projeto.</p>
    <img src={img17} alt="" />

    <p>Informar o plano financeiro para direcionar o tipo de receita.</p>
    <img src={img18} alt="" />

    <p>
      Na aba Usuários Autorizados informar quais usuários do sistema terão
      permissão ao tipo de projeto quando for cadastrar um novo.
    </p>
    <img src={img19} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>17/01/2023</p>
    </div>
  </main>
</Layout>
