---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/regioes/img1.png";
import img2 from "../../imagens/regioes/img2.png";
import img3 from "../../imagens/regioes/img3.png";
import img4 from "../../imagens/regioes/img4.png";
import img5 from "../../imagens/regioes/img5.png";
import img6 from "../../imagens/regioes/img6.png";
---

<Layout title="Regiões">
  <main>
    <h1>Cadastro de Regiões</h1>

    <p>Acessar menu CRM / Regiões:</p>
    <img src={img1} alt="" />

    <p>Lançamento utilizado para filtrar a região e cidades do LEAD.</p>
    <img src={img2} alt="" />

    <p>Informar a descrição da região.</p>
    <img src={img3} alt="" />

    <p>Clique em adicionar.</p>
    <img src={img4} alt="" />

    <p>
      Informar a UF e pesquisar o nome/descrição da cidade, selecione o registro
      e continue filtrando até selecionar todas as cidades de região escolhidas:
    </p>
    <img src={img5} alt="" />

    <p>Após informar as cidades, salvar o registro.</p>
    <img src={img6} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>29/01/2023</p>
    </div>
  </main>
</Layout>
