---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/regraTributaria/img1.png";
import img2 from "../../imagens/regraTributaria/img2.png";
import img3 from "../../imagens/regraTributaria/img3.png";
import img4 from "../../imagens/regraTributaria/img4.png";
import img5 from "../../imagens/regraTributaria/img5.png";
import img6 from "../../imagens/regraTributaria/img6.png";
import img7 from "../../imagens/regraTributaria/img7.png";
import img8 from "../../imagens/regraTributaria/img8.png";
import img9 from "../../imagens/regraTributaria/img9.png";
import img10 from "../../imagens/regraTributaria/img10.png";
import img11 from "../../imagens/regraTributaria/img11.png";
import img12 from "../../imagens/regraTributaria/img12.png";
import img13 from "../../imagens/regraTributaria/img13.png";
import img14 from "../../imagens/regraTributaria/img14.png";
import img15 from "../../imagens/regraTributaria/img15.png";
---

<Layout title="Regras Tributárias">
  <main>
    <h1>Cadastro Regras Tributárias</h1>

    <p>Acessar o Menu/ Cadastros / Fiscais / Regras Tributárias:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>
      O cadastro de Regra Tributária pode ser utilizado no Cadastro do Produto
      ou NCM, visando identificar e facilitar quais padrões tributários serão
      utilizados durante a emissão da NF-e de acordo com cada operação.
    </p>
    <img src={img3} alt="" />

    <p>Informar um código e descrição para a Regra.</p>
    <img src={img4} alt="" />

    <p>
      Informe um nome que seja de fácil uso e identificação da Regra Tributária,
      por exemplo:
    </p>
    <p>
      Tipo de produto (venda/revenda ou produção própria), e se a cadeia de
      comercialização possui obrigação de recolhimento de substituição
      tributária.
    </p>
    <img src={img5} alt="" />

    <p>Clique na folha em branco para inserir as informações da Regra.</p>
    <img src={img6} alt="" />

    <p>Escolha se haverá restrição para pessoa Física ou Jurídica.</p>
    <img src={img7} alt="" />

    <p>
      Se haverá restrição para o Ramo de atividade (Indústria, Comércio,
      Serviços ou Consumidor Final).
    </p>
    <img src={img8} alt="" />

    <p>
      Se haverá restrição para o Tipo de Contribuinte (com Inscrição Estadual,
      Isento ou Não Contribuinte).
    </p>
    <img src={img9} alt="" />

    <p>
      Em caso de Pessoa Jurídica informar se haverá restrição para o Regime de
      Tributação Simples Nacional ou Regime Normal.
    </p>
    <img src={img10} alt="" />

    <p>
      Informar a Empresa que será destinada a Regra (Havendo mais de uma empresa
      que utilizará a Regra Tributária, deve ser realizado o mesmo processo de
      criação para as empresas 2, 3, etc).
    </p>
    <img src={img11} alt="" />

    <p>Informar o Tipo de Movimento que será utilizado na emissao da NFE.</p>
    <img src={img12} alt="" />

    <p>
      <b
        >Para acessar o Manual de Cadastro de Tipo de Movimento <a href="#"
          >clique Aqui</a
        >:</b
      >
    </p>
    <p>
      Informar o Tipo de Movimento do Pedido (Utilizado apenas no Pedido mod
      III) para realizar os cálculos previamente que constarão na emissão da
      Nota Fiscal.
    </p>
    <img src={img13} alt="" />

    <p>
      <b
        >Para acessar o Manual de Lançamento Pedido mod III <a href="#"
          >clique Aqui</a
        >:</b>
    </p>
    <p>
      Informar o Padrão Tributário que será utilizado em caso de operação
      estadual ou Interestadual.
    </p>
    <img src={img14} alt="" />

    <p>
      <b
        >Para acessar o Manual de Cadastro de Padrão Tributário <a href="#"
          >clique Aqui</a
        >:</b>
    </p>
    <p>
      Repita o processo até cadastrar todos os tipos possíveis de operação para
      o produto.
    </p>
    <p>
      Por exemplo Produto de Revenda sem Substituição tributária pode ser feito
      Vendas, Devolução de compras, Devolução de Vendas, Remessa para conserto
      ou Bonificação ou Brinde. Portanto estas regras podem ser adicionadas para
      facilitar no momento da emissão da NFe.
    </p>
    <img src={img15} alt="" />
  </main>
</Layout>
