---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/grupoCliente/img1.png";
import img2 from "../../imagens/rotas/img1.png";
import img3 from "../../imagens/rotas/img2.png";
import img4 from "../../imagens/rotas/img3.png";
import img5 from "../../imagens/rotas/img4.png";
import img6 from "../../imagens/rotas/img5.png";
import img7 from "../../imagens/rotas/img6.png";
---

<Layout title="Rotas">
  <main>
    <h1>Cadastro Rotas</h1>

    <p>Acessar o Menu/ Cadastros / Comercial / Rotas:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>
      Utilizado no Pedido III, quando o parametro esta ativado, é liberado este
      campo para informar uma rota para transporte.
    </p>
    <img src={img3} alt="" />

    <p>Informar o nome da Rota.</p>
    <img src={img4} alt="" />

    <p>Clique em novo para inserir as cidades da Rota.</p>
    <img src={img5} alt="" />

    <p>Realizar o filtro e a marcação das cidades.</p>
    <img src={img6} alt="" />

    <p>
      A ordem das cidades da Rota podem ser alteradas, e pode ser informada a
      distância das cidades.
    </p>
    <img src={img7} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
