---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/subGrupos/img1.png";
import img2 from "../../imagens/subGrupos/img2.png";
import img3 from "../../imagens/subGrupos/img3.png";
import img4 from "../../imagens/subGrupos/img4.png";
import img5 from "../../imagens/subGrupos/img5.png";
import img6 from "../../imagens/subGrupos/img6.png";
import img7 from "../../imagens/subGrupos/img7.png";
import img8 from "../../imagens/subGrupos/img8.png";
import img9 from "../../imagens/subGrupos/img9.png";
import img10 from "../../imagens/subGrupos/img10.png";
import img11 from "../../imagens/subGrupos/img11.png";
import img12 from "../../imagens/subGrupos/img12.png";
import img13 from "../../imagens/subGrupos/img13.png";
import img14 from "../../imagens/subGrupos/img14.png";
---

<Layout title="Cadastro de SubGrupos">
  <main>
    <h1>Cadastro de SubGrupos</h1>

    <p>Acessar Cadastros/Auxiliares /Sub Grupo:</p>
    <img src={img1} alt="" />

    <p>
      Utilizado no Cadastro de produto, na engenharia, para filtros em pesquisa
      e nos relatórios.
    </p>
    <p>
      O Sub Grupo permite agrupar produtos ou serviços de uma mesma linha
      comercial.
    </p>
    <img src={img2} alt="" />
    <img src={img3} alt="" />

    <p>Bloqueia o uso do Registro na tela do cadastro de produto.</p>
    <img src={img4} alt="" />

    <p>
      Informar o nome do subgrupo. Pode ser utilizado para criar uma categoria
      de produtos ou serviços específicos, por exemplo, TINAS AUTOMOTIVAS,
      TINTAS INDUSTRIAIS, TINTAS RESIDENCIAIS. Também pode ser Utilizado como
      perfil de produto como ATACADO, VAREJO.
    </p>
    <img src={img5} alt="" />

    <p>
      Utilizado para preencher números ou letras e formar uma sigla para criar a
      composição ou mascara da referência no cadastro do produto.
    </p>
    <p>Por exemplo, subgrupo de Tintas pode ser apelidado de TN, ou 01.</p>
    <img src={img6} alt="" />

    <p>
      Campos adicionais audita o usuário de Inclusão e Última alteração do
      registro.
    </p>
    <p>
      Abas adicionais ficará disponível apenas no versionamento de Químicas.
    </p>
    <img src={img7} alt="" />
    <img src={img8} alt="" />

    <p>
      Aba Categorias informar qual a estrutura de produção, que consiste nas
      etapas utilizadas em um determinado processo de produção.
    </p>
    <p>
      Por exemplo para produzir um solvente passa por etapas de pesagem,
      agitação, controle qualidade e envase.
    </p>
    <p>
      Mas para produzir uma tinta passa pelas etapas de pesagem, moagem,
      agitação, controle qualidade e dispersão.
    </p>
    <b>Para Cadastro de Estrutura de produção clique aqui:</b>
    <p>
      Informar a Classificação do produto. Utilizado para determinar uma
      característica especifica do produto, por exemplo se é aplicação em spray,
      serigrafia, laca/ brilho ou se é uma base para outros produtos.
    </p>
    <b>Para Cadastro de Classificação clique aqui:</b>
    <img src={img9} alt="" />

    <p>Na aba Fiscal informar as informações que dizem respeito ao Fisco.</p>
    <img src={img10} alt="" />

    <p>
      NCM (Nomenclatura Comum do Mercosul) utilizado na America do Sul para e
      diz respeito à especificação das mercadorias em um cenário internacional.
      Esse código descreve e classifica produtos de acordo com suas
      características específicas.
    </p>
    <b>Para mais informações e Cadastro de NCM clique aqui:</b>
    <img src={img11} alt="" />

    <p>
      O CEST (Código Especificador da Substituição Tributária), estabelece uma
      forma de identificar e uniformizar mercadorias e bens sujeitos ao regime
      de substituição tributária, assim como a antecipação de recolhimento do
      imposto referente às operações subsequentes agrupando dentro do CEST os
      NCMs participantes.
    </p>
    <b>Para mais informações e Cadastro de CEST clique aqui:</b>
    <img src={img12} alt="" />

    <p>
      O Número ONU é um código composto por quatro dígitos e usado para
      identificar materiais ou classes de materiais e artigos perigosos (por
      exemplo, explosivos, itens inflamáveis, substâncias tóxicas ou tintas.)
    </p>
    <img src={img13} alt="" />

    <p>
      Classificação IBAMA é uma lista brasileira de resíduos sólidos, na qual é
      identificada por uma codificação de 8 dígitos para identificar produtos
      Potencialmente Poluidores ou Utilizadores de Recursos Ambientais.
    </p>
    <b>Para Cadastro de Classificação IBAMA clique aqui:</b>
    <img src={img14} alt="" />
    <p>
      Informar se ao utilizar este Sub Grupo em uma engenharia, o tipo de
      produto será Produto Acabado, Sub Produto, Intermediário, etc.
    </p>
  </main>
</Layout>
