---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/subSubGrupos/img1.png";
import img2 from "../../imagens/subSubGrupos/img2.png";
import img3 from "../../imagens/subSubGrupos/img3.png";
import img4 from "../../imagens/subSubGrupos/img4.png";
import img5 from "../../imagens/subSubGrupos/img5.png";
import img6 from "../../imagens/subSubGrupos/img6.png";
import img7 from "../../imagens/subSubGrupos/img7.png";
---

<Layout title="Cadastro de SubSubGrupos">
  <main>
    <h1>CADASTRO DE SUB-SUB GRUPOS</h1>

    <p>Acessar Cadastros/Auxiliares / Sub-Sub Grupo:</p>
    <img src={img1} alt="" />

    <p>
      Utilizado no Cadastro de Grupo no produto, na engenharia, no E-commerce do
      Mercado Livre, para filtros em pesquisa e nos relatórios.
    </p>
    <p>
      O Sub-sub Grupo permite, agrupar ou restringir ainda mais produtos ou
      serviços.
    </p>
    <img src={img2} alt="" />
    <img src={img3} alt="" />

    <p>Bloqueia o uso do Registro na tela do cadastro de produto.</p>
    <img src={img4} alt="" />

    <p>
      Informar o nome do sub-sub grupo. Pode ser utilizado para criar uma
      categoria especifica de produtos ou serviços.
    </p>
    <p>
      Por exemplo: Masculino ou feminino, Atacado, varejo, e-commerce. E para o
      uso do Mercado Livre o tipo de produto ou marca, como Moletom, Pirelli.
    </p>
    <img src={img5} alt="" />

    <p>
      Utilizado para preencher números ou letras e formar uma sigla para criar a
      composição ou mascara da referência no cadastro do produto.
    </p>
    <p>Por exemplo, um grupo de Moletom pode ser apelidado de MOL, ou 01.</p>
    <img src={img6} alt="" />
    <p>
      Dados adicionais de auditoria de usuário de Inclusão e Última alteração.
    </p>
    <img src={img7} alt="" />
    <p>
      Aba dados Mercado Livre é necessário preenchimento da Categoria e os
      atributos obrigatórios para ser realizado upload na plataforma, de um
      produto recém cadastrado no sistema que ainda não existe no Mercado Livre.
    </p>
    <b
      >Para mais informações sobre Categoria e Atributos clique aqui para
      acessar o manual de E-commerce Mercado Livre.</b
    >

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>19/12/2022</p>
    </div>
  </main>
</Layout>
