---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/servicos/img1.png";
import img2 from "../../imagens/servicos/img2.png";
import img3 from "../../imagens/subServicos/img1.png";
import img4 from "../../imagens/subServicos/img2.png";
import img5 from "../../imagens/subServicos/img3.png";
import img6 from "../../imagens/subServicos/img4.png";
import img7 from "../../imagens/subServicos/img5.png";
---

<Layout title="Cadastro de Grades">
    <main>
        <h1>CADASTRO SUB CLASSIFICAÇÕES DE SERVIÇOS</h1>

        <p>Acessar Cadastros/Auxiliares /Classificações / Classificações de Serviços:</p>
        <img src={img1} alt="">
        <img src={img2} alt="">
        <img src={img3} alt="">

        <p>Este registro é utilizado dentro da Ordem de Serviço para informar a classificação do serviço.</p>
        <p>Por exemplo, no caso de uma oficina, um serviço prestado é a manutenção. Dentro da manutenção tem 
            a opção de elétrica, hidráulica e mecânica. O Cadastro da Subclassificação seria o tipo da 
            manutenção elétrica, PREVENTIVA (revisão antes de ocorrer algum dano) ou CORRETIVA (já aconteceu um 
            dano e precisa ser reparado).
        </p>
        <img src={img4} alt="">
        <br>
        <img src={img5} alt="">
        <p>Bloqueia o uso do Registro na Ordem de Serviço.</p>
        
        <img src={img6} alt="">
        <p>Informar o nome da sub Classificação serviço ou tipo de atendimento oferecido.</p>

        <img src={img7} alt="">
        <p>Dados Adicionais contem os campos Inclusão e Última alteração, onde audita o usuário que criou e/ou alterou o registro.</p>
    </main>
</Layout>