---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/titulosPagar/img1.png";
import img2 from "../../imagens/titulosPagar/img2.png";
import img3 from "../../imagens/titulosPagar/img3.png";
import img4 from "../../imagens/titulosPagar/img4.png";
import img5 from "../../imagens/titulosPagar/img5.png";
import img6 from "../../imagens/titulosPagar/img6.png";
import img7 from "../../imagens/titulosPagar/img7.png";
import img8 from "../../imagens/titulosPagar/img8.png";
import img9 from "../../imagens/titulosPagar/img9.png";
import img10 from "../../imagens/titulosPagar/img10.png";
import img11 from "../../imagens/titulosPagar/img11.png";
import img12 from "../../imagens/titulosPagar/img12.png";
import img13 from "../../imagens/titulosPagar/img13.png";
import img14 from "../../imagens/titulosPagar/img14.png";
import img15 from "../../imagens/titulosPagar/img15.png";
import img16 from "../../imagens/titulosPagar/img16.png";
import img17 from "../../imagens/titulosPagar/img17.png";
import img18 from "../../imagens/titulosPagar/img18.png";
import img19 from "../../imagens/titulosPagar/img19.png";
import img20 from "../../imagens/titulosPagar/img20.png";
import img21 from "../../imagens/titulosPagar/img21.png";
import img22 from "../../imagens/titulosPagar/img22.png";
import img23 from "../../imagens/titulosPagar/img23.png";
import img24 from "../../imagens/titulosPagar/img24.png";
import img25 from "../../imagens/titulosPagar/img25.png";
import img26 from "../../imagens/titulosPagar/img26.png";
import img27 from "../../imagens/titulosPagar/img27.png";
import img28 from "../../imagens/titulosPagar/img28.png";
---

<Layout title="Títulos a pagar">
  <main>
    <h1>Títulos a pagar</h1>

    <p>Acessar Sistema / Contas a Pagar / Títulos a pagar:</p>
    <img src={img1} alt="" />

    <p>
      Este Lançamento é utilizado para registro de títulos a pagar. Pode ser
      compra de produtos ou despesas. Originado da Entrada de Nota Fiscal,
      Entrada de Documentos, Entrada de Títulos, Previsões, Contratos ou criado
      manualmente.
    </p>
    <img src={img2} alt="" />

    <p>
      Quando o parâmetro de permissão por empresas estiver ativado, e o usuário
      tiver a permissão de acesso a mais de uma empresa, pode ser visualizado ou
      informado de qual empresa pertence o título a ser criado.
    </p>
    <img src={img3} alt="" />

    <p>
      <b>
        Para acessar o manual de cadastro de usuários
        <a target="_blank" href="/manuais/usuario">clique aqui</a>.
      </b>
    </p>

    <p>
      Informar o número do documento, ou o número da parcela. Sendo originado de
      um lançamento, o número da parcela será o título mais qual parcela e o
      total. Por exemplo: 123-1/1.
    </p>
    <img src={img4} alt="" />

    <p>Campo destinado a data de emissão do título.</p>
    <img src={img5} alt="" />

    <p>Campo destinado a data de vencimento do título.</p>
    <img src={img6} alt="" />

    <p>
      Informar o Fornecedor (recebedor) do título que será pago, pode ser gerado
      para um cliente também.
    </p>
    <img src={img7} alt="" />

    <p>
      <b>
        Para acessar o Manual de Cadastro de Fornecedores
        <a target="_blank" href="/manuais/fornecedor">clique aqui</a>.
      </b>
    </p>

    <p>
      Este parâmetro pode ser utilizado para identificar se um título a pagar
      tem documento oficial ou não (Nota Fiscal)
    </p>
    <img src={img8} alt="" />

    <p>Nos relatórios pode ser utilizado como filtro.</p>
    <p>
      Informar a Espécie de Documento/forma de cobrança que será realizado o
      pagamento.
    </p>
    <img src={img9} alt="" />

    <p>
      <b>
        Para acessar o Manual de Cadastro de Espécie de Documentos
        <a target="_blank" href="/manuais/especieDocumento">clique aqui</a>.
      </b>
    </p>

    <p>
      Em caso de cobrança por boleto bancário, pode ser identificado o banco
      emissor do título.
    </p>
    <img src={img10} alt="" />

    <p>
      <b>
        Para acessar o Manual de Cadastro de Bancos
        <a target="_blank" href="/manuais/banco">clique aqui</a>.
      </b>
    </p>

    <p>
      Informar o Plano Financeiro para identificar o motivo da despesa, custo ou
      investimento.
    </p>
    <img src={img11} alt="" />

    <p>
      <b>
        Para acessar o Manual de Cadastro de Plano Financeiro
        <a target="_blank" href="/manuais/planoFinanceiro">clique aqui</a>.
      </b>
    </p>

    <p>Campo destinado a ser informado a moeda de negociação do título.</p>
    <img src={img12} alt="" />

    <p>Campo contendo o valor original do título.</p>
    <img src={img13} alt="" />

    <p>
      Campos destinados a serem informados adicionais ou descontos no título.
    </p>
    <img src={img14} alt="" />

    <p>Campo contendo o valor final do título.</p>
    <img src={img15} alt="" />

    <p>
      Campos destinados à informativos dos valores de baixas totais ou parciais
      e o saldo restante no caso do título ainda está em aberto, e a data da
      baixa caso o pagamento do título seja total.
    </p>
    <img src={img16} alt="" />
    <br />
    <img src={img17} alt="" />

    <p>Campo demonstrativo de status do título</p>
    <img src={img18} alt="" />

    <p>
      Campos demonstrativos indicando a origem do título, sendo de uma previsão
      financeira, se é integrado a um lançamento de nota fiscal, entrada de
      documento ou se houve baixa por permuta.
    </p>
    <img src={img19} alt="" />

    <p>Campo destinado a inserir observações.</p>
    <img src={img20} alt="" />

    <p>
      Aba Centro de Custo onde pode ser utilizada para informar o local ou ativo
      imobilizado que foi destinado a despesa, por exemplo, um veículo que teve
      um abastecimento, o Centro de custo é o Carro de entrega e foi abastecido
      com Gasolina.
    </p>
    <img src={img21} alt="" />

    <p>Campo para informar o centro de custo.</p>
    <img src={img22} alt="" />

    <p>
      <b>
        Para acessar o Manual de Centro de Custo
        <a target="_blank" href="/manuais/centroCusto">clique aqui</a>.
      </b>
    </p>

    <p>O percentual ou valor do título.</p>
    <img src={img23} alt="" />

    <p>O valor pode ser rateado para mais de um centro de custo.</p>
    <img src={img24} alt="" />

    <p>
      Aba Baixas destinada a demonstrativo das baixas totais ou parciais do
      título.
    </p>
    <img src={img25} alt="" />

    <p>
      A aba títulos vinculados é utilizada para demonstração de um titulo que
      foi gerado a partir de agrupamentos.
    </p>
    <img src={img26} alt="" />

    <p>
      Aba Adicionais que contém a informação do vínculo do título a um contrato,
      pode ser informado manualmente ou carregado da entrada da nota fiscal
      (quando informado) para apuração das despesas nos relatórios de contratos.
    </p>
    <img src={img27} alt="" />

    <p>
      Aba Follow up é destinada a inserção manual de informações pertinentes ao
      título.
    </p>
    <img src={img28} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>21/02/2023</p>
    </div>
  </main>
</Layout>
