---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/titulosReceber/img1.png";
import img2 from "../../imagens/titulosReceber/img2.png";
import img3 from "../../imagens/titulosReceber/img3.png";
import img4 from "../../imagens/titulosReceber/img4.png";
import img5 from "../../imagens/titulosReceber/img5.png";
import img6 from "../../imagens/titulosReceber/img6.png";
import img7 from "../../imagens/titulosReceber/img7.png";
import img8 from "../../imagens/titulosReceber/img8.png";
import img9 from "../../imagens/titulosReceber/img9.png";
import img10 from "../../imagens/titulosReceber/img10.png";
import img11 from "../../imagens/titulosReceber/img11.png";
import img12 from "../../imagens/titulosReceber/img12.png";
import img13 from "../../imagens/titulosReceber/img13.png";
import img14 from "../../imagens/titulosReceber/img14.png";
import img15 from "../../imagens/titulosReceber/img15.png";
import img16 from "../../imagens/titulosReceber/img16.png";
import img17 from "../../imagens/titulosReceber/img17.png";
import img18 from "../../imagens/titulosReceber/img18.png";
import img19 from "../../imagens/titulosReceber/img19.png";
import img20 from "../../imagens/titulosReceber/img20.png";
import img21 from "../../imagens/titulosReceber/img21.png";
import img22 from "../../imagens/titulosReceber/img22.png";
import img23 from "../../imagens/titulosReceber/img23.png";
import img24 from "../../imagens/titulosReceber/img24.png";
import img25 from "../../imagens/titulosReceber/img25.png";
import img26 from "../../imagens/titulosReceber/img26.png";
import img27 from "../../imagens/titulosReceber/img27.png";
import img28 from "../../imagens/titulosReceber/img28.png";
import img29 from "../../imagens/titulosReceber/img29.png";
import img30 from "../../imagens/titulosReceber/img30.png";
import img31 from "../../imagens/titulosReceber/img31.png";
import img32 from "../../imagens/titulosReceber/img32.png";
import img33 from "../../imagens/titulosReceber/img33.png";
---

<Layout title="Títulos a Receber">
  <main>
    <h1>Títulos a Receber</h1>

    <p>Acessar Sistema / Contas a Receber / Títulos a Receber:</p>
    <img src={img1} alt="" />

    <p>
      Módulo utilizado para controle de títulos a receber que podem ser
      originados através de pedidos, vendas no PDV/Checkout por crediários,
      faturamento de contratos, NF-e que movimenta financeiro, ou inseridos
      manualmente.
    </p>
    <img src={img2} alt="" />

    <p>
      Campo com o número da parcela, pode ser o número da Nota, o número do
      pedido, Faturamento do contrato ou informado manualmente.
    </p>
    <img src={img3} alt="" />

    <p>Campo com a data da emissão do título.</p>
    <img src={img4} alt="" />

    <p>Campo com a data de vencimento do título.</p>
    <img src={img5} alt="" />

    <p>Campo com a identificação do cliente ou fornecedor.</p>
    <img src={img6} alt="" />

    <p>
      Campo com a Espécie de Documento contendo a forma prevista para
      recebimento do título.
    </p>
    <img src={img7} alt="" />

    <p>Plano financeiro informado o motivo da receita.</p>
    <img src={img8} alt="" />

    <p>Banco emissão que foi emitido o título e a moeda corrente.</p>
    <img src={img9} alt="" />

    <p>Campo destinado a serem inseridas informações no título.</p>
    <img src={img10} alt="" />

    <p>
      Campos destinados a demonstração do Status do título (baixado ou aberto) e
      a data da baixa em caso de já ter sido finalizado. Contém também flags
      destinados a informar se o título foi baixado por permuta, se está
      integrado a outro lançamento e se foi originado de uma previsão
      financeira.
    </p>
    <img src={img11} alt="" />

    <p>
      Campos destinados a informar a situação do título quando seu Status está
      em Aberto. A situação em Carteira é o status inicial. Ao gerar o boleto, e
      receber o retorno o Título altera automaticamente para Em cobrança.
    </p>
    <img src={img12} alt="" />

    <p>
      Os demais status são alterados de forma manual acessando o Menu
      Ferramentas/Alterar Situação do Título.
    </p>
    <img src={img13} alt="" />
    <br />
    <img src={img14} alt="" />
    <br />
    <img src={img15} alt="" />

    <p>
      Campos destinados à informação dos valores, adicionais/acréscimos ou
      reduções/descontos.
    </p>
    <img src={img16} alt="" />

    <p>
      Campos destinados a demonstrar o valor do título, valor da baixa e o valor
      do saldo final.
    </p>
    <img src={img17} alt="" />

    <p>Aba centro de custo pode ser informado um centro de custo.</p>
    <img src={img18} alt="" />

    <p>
      <b>
        Para acessar o manual de cadastro de centro de custo
        <a target="_blank" href="/manuais/centroCusto">clique aqui</a>:
      </b>
    </p>

    <p>
      Aba destinada a demonstrativo das baixas totais ou parciais do título.
    </p>
    <img src={img19} alt="" />

    <p>
      Na parte posterior da tela, os campos Baixas por Vínculos, são
      demonstrados os títulos que são baixados por Adiantamento ou por Permuta
      (pessoa/empresa que tem títulos a receber e a pagar, ambos são descontados
      um do outro para verificar o saldo restante a pagar ou a receber).
    </p>
    <img src={img20} alt="" />

    <p>
      <b>
        Para utilizar o recurso de baixa por permuta clique aqui para acessar o
        manual.
      </b>
    </p>

    <p>
      A aba títulos vinculados é utilizada para demonstração de um título que
      foi gerado a partir de agrupamentos.
    </p>
    <img src={img21} alt="" />

    <p>
      Aba Cobrança Bancária é utilizada para demonstrativo quando houve a
      impressão do boleto com a informação da conta bancária, o layout e o nosso
      número.
    </p>
    <img src={img22} alt="" />

    <p>
      Campos visuais para verificação se o boleto foi impresso e se foi gerado
      arquivo de cobrança.
    </p>
    <img src={img23} alt="" />

    <p>
      Mais abaixo as abas de informativos se o arquivo de cobrança foi gerado
      (para o caso do boleto apenas ter sido impresso).
    </p>
    <img src={img24} alt="" />

    <p>Na aba Retorno Bancário estão as informações dos retornos bancários.</p>
    <img src={img25} alt="" />

    <p>
      <b>
        Para informações sobre retorno bancário acesse o manual
        <a href="/manuais/retornoBancario">clicando aqui</a>.
      </b>
    </p>

    <p>
      Aba com log contendo informações das remoções dos vínculos de impressão.
    </p>
    <img src={img26} alt="" />

    <p>
      Aba contendo Log com os usuários que realizaram impressões e reimpressões
      do boleto referente ao título.
    </p>
    <img src={img27} alt="" />

    <p>
      A aba Adicionais contém a informação da empresa responsável pelo convênio
      quando dentro do cadastro do cliente há um vínculo de empresa responsável.
    </p>
    <img src={img28} alt="" />

    <p>
      Aba Adicionais que contém a informação do vinculo do título a um contrato,
      pode ser informado manualmente ou carregado do pedido (quando informado)
      ou do financeiro quando gerado pelo Contrato.
    </p>
    <img src={img29} alt="" />

    <p>
      Campos destinados à informativos de condicional de descontos, onde é
      proposta uma condição de desconto quando há a antecipação de pagamento de
      um título.
    </p>
    <img src={img30} alt="" />

    <p>
      Aba Follow up é destinada a inserção manual de informações pertinentes ao
      título.
    </p>
    <img src={img31} alt="" />

    <p>
      Menu ferramentas para baixa, cópia dos títulos, remoções de vínculos com
      boleto, alterar a origem do lançamento ou alterar a situação do título.
    </p>
    <img src={img32} alt="" />

    <p>
      Menu Relatórios para acessar relatório de títulos em aberto, baixados,
      fluxo de caixa, impressão de boleto, recibo ou nota promissória.
    </p>
    <img src={img33} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>21/02/2023</p>
    </div>
  </main>
</Layout>
