---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/transferenciaBancaria/img1.png";
import img2 from "../../imagens/transferenciaBancaria/img2.png";
import img3 from "../../imagens/transferenciaBancaria/img3.png";
import img4 from "../../imagens/transferenciaBancaria/img4.png";
import img5 from "../../imagens/transferenciaBancaria/img5.png";
import img6 from "../../imagens/transferenciaBancaria/img6.png";
import img7 from "../../imagens/transferenciaBancaria/img7.png";
import img8 from "../../imagens/transferenciaBancaria/img8.png";
import img9 from "../../imagens/transferenciaBancaria/img9.png";
import img10 from "../../imagens/transferenciaBancaria/img10.png";
import img11 from "../../imagens/transferenciaBancaria/img11.png";
---

<Layout title="Transf. Contas Bancárias">
  <main>
    <h1>Transferências Entre Contas Bancárias</h1>

    <p>Acessar o menu Bancos Cofres / Transf. Contas Bancárias:</p>
    <img src={img1} alt="" />

    <p>
      Utilizado para transferir valores de uma conta bancária para outra, por
      exemplo, quando o dinheiro em espécie será depositado no banco.
    </p>
    <img src={img2} alt="" />

    <p>Informar a conta que será realizado o débito.</p>
    <img src={img3} alt="" />

    <p>Informar a operação de saída/débito.</p>
    <img src={img4} alt="" />

    <p>Informar a conta bancária que será realizado o depósito.</p>
    <img src={img5} alt="" />

    <p>Informar a operação de entrada/crédito.</p>
    <img src={img6} alt="" />

    <p>Informar a data da operação.</p>
    <img src={img7} alt="" />

    <p>Informar o valor.</p>
    <img src={img8} alt="" />

    <p>
      Pode ser informada uma observação notificando o motivo do saque/deposito.
    </p>
    <img src={img9} alt="" />

    <p>Confirme a operação.</p>
    <img src={img10} alt="" />
    <br />
    <img src={img11} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>07/02/2023</p>
    </div>
  </main>
</Layout>
