---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/trocas/img1.png";
import img2 from "../../imagens/trocas/img2.png";
import img3 from "../../imagens/trocas/img3.png";
import img4 from "../../imagens/trocas/img4.png";
import img5 from "../../imagens/trocas/img5.png";
import img6 from "../../imagens/trocas/img6.png";
import img7 from "../../imagens/trocas/img7.png";
---

<Layout title="Trocas">
  <main>
    <h1>Trocas</h1>

    <p>Acessar o Menu/ Vendas / Trocas:</p>
    <img src={img1} alt="" />

    <h2>Aba Dados</h2>
    <p>
      Nessa primeira aba, é importante informar e se atentar as datas de Emissão
      e Base de Vencimento dessa troca.
    </p>

    <p>
      Logo abaixo, também é importante informar o Cliente e o Vendedor
      responsavel por essa troca.
    </p>
    <p>
      Informar o Tipo de Documento (Ex.: Dinheiro, cartão, boleto, cheque,
      pix...).
    </p>
    <p>
      Informar o Prazo de Pagamento (Ex.: A vista, 10 Dias, 15 Dias, 30/60/90
      Dias...).
    </p>

    <p>
      No final da tela, existe o campo Dados Adicionais, resendo para
      observações referenetes a troca.
    </p>

    <p>
      Apenas nessa tela também é possivel visualizar um resumo sobre a troca, no
      lado direito da tela.
    </p>
    <img src={img2} alt="" />

    <h2>Aba Itens / Itens Entrada</h2>
    Nessa aba, clicando no botão Selecionar Produtos, irá mostrar todos os produtos
    cadastrado, deverá marcar o produto que está sendo devolvido, e em seguida colocar
    a quantidade referente ao item, e conferir os valores.
    <img src={img3} alt="" />

    <h2>Aba Itens / Itens Saida</h2>
    <p>
      Nessa aba o processo se repete igual ao anterior, a diferença é que nessa
      abal, os produtos devoluvidos, são os produtos que o cliente está levando.
    </p>
    <img src={img4} alt="" />

    <p>Após esses processos basta salvar a troca</p>
    <p>Em seguida basta ir em ferramentas - Efetivar Troca</p>
    <img src={img7} alt="" />

    <p>
      Depois de efetivar a troca o sistema gera um pedido de venda referente aos
      produtos que o cliente está levando, e um pedido de devolução referente
      aos produtos que foram devolvidos.
    </p>

    <h2>Integrações / Pedidos</h2>
    <p>
      Após a efetivação, nessa aba é possivel verificar todos os pedidos criados
      a partir dessa troca.
    </p>
    <img src={img5} alt="" />

    <h2>Integrações / Financeiro</h2>
    <p>
      Após a efetivação, nessa aba é possivel verificar todos os titulos criados
      a partir dessa troca.
    </p>
    <img src={img6} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>03/02/2023</p>
    </div>
  </main>
</Layout>
