---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/trocas/img1.png";
import img2 from "../../imagens/trocas/img2.png";
import img3 from "../../imagens/trocas/img3.png";
import img4 from "../../imagens/trocas/img4.png";
import img5 from "../../imagens/trocas/img5.png";
import img6 from "../../imagens/trocas/img6.png";
import img7 from "../../imagens/trocas/img7.png";
---

<Layout title="Trocas">
  <main>
    <h1>Trocas</h1>

    <p>Acessar o Menu/ Vendas / Trocas:</p>
    <img src={img1} alt="" />

    <h2>Aba dados</h2>
    <img src={img2} alt="" />

    <h2>Aba Itens / Itens Entrada</h2>
    <img src={img3} alt="" />

    <h2>Aba Itens / Itens Saida</h2>
    <img src={img4} alt="" />

    <p>Após esses processos basta salvar a troca</p>
    <p>Em seguida basta ir em ferramentas - Efetivar Troca</p>
    <img src={img7} alt="" />

    <p>
      Depois de efetivar a troca o sistema gera um pedido de venda referente aos
      produtos que o cliente está levando, e um pedido de devolução referente
      aos produtos que foram devolvidos.
    </p>

    <h2>Integrações / Pedidos</h2>
    <img src={img5} alt="" />

    <h2>Integrações / Financeiro</h2>
    <img src={img6} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>03/02/2023</p>
    </div>
  </main>
</Layout>
