---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/unidades/img1.png";
import img2 from "../../imagens/unidades/img2.png";
import img3 from "../../imagens/unidades/img3.png";
import img4 from "../../imagens/unidades/img4.png";
import img5 from "../../imagens/unidades/img5.png";
import img6 from "../../imagens/unidades/img6.png";
import img7 from "../../imagens/unidades/img7.png";
import img8 from "../../imagens/unidades/img8.png";
import img9 from "../../imagens/unidades/img9.png";
---

<Layout title="Unidades Comerciais">
  <main>
    <h1>Cadastro de Unidades Comerciais</h1>

    <p>Acessar o Menu / Cadastros / Estoque / Unidades Comerciais:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>
      Utilizada no Cadastro de produto para venda, compra, na engenharia,
      emissão de Nota Fiscal Eletrônica e relatórios.
    </p>
    <img src={img3} alt="" />

    <p>
      Marcando o parâmetro Bloqueado, Inativa o uso da Operação Fiscal no Tipo
      de Movimento.
    </p>
    <img src={img4} alt="" />

    <p>Informar o código da unidade de medida como UN, KG, LT, MT.</p>
    <img src={img5} alt="" />

    <p>
      Informar a sigla fiscal que pode ser a mesma do código da unidade de
      medida, utilizada na emissão de nota fiscal.
    </p>
    <img src={img6} alt="" />

    <p>
      Utilizado para cálculo de múltiplos em vendas realizadas no móbile, por
      exemplo, 12 unidades em cada caixa de produto, sendo duas caixas o sistema
      irá interpretar 24 unidades.
    </p>
    <img src={img7} alt="" />

    <p>Informar a classificação da Unidade que será utilizada no FCI.</p>
    <img src={img8} alt="" />

    <p>
      <b>Para acessar o manual de cadastro do FCI <a href="">clique aqui</a>.</b
      >
    </p>

    <p>
      Dados Adicionais contem os campos Inclusão e Última alteração, onde audita
      o usuário que criou e/ou alterou o registro.
    </p>
    <img src={img9} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>23/12/2022</p>
    </div>
  </main>
</Layout>
