---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/vasilhame/img1.png";
import img2 from "../../imagens/vasilhame/img2.png";
import img3 from "../../imagens/vasilhame/img3.png";
import img4 from "../../imagens/vasilhame/img4.png";
import img5 from "../../imagens/vasilhame/img5.png";
import img6 from "../../imagens/vasilhame/img6.png";
import img7 from "../../imagens/vasilhame/img7.png";
---

<Layout title="Controle de Vasilhames">
  <main>
    <h1>Controle de Vasilhames</h1>

    <p>Acessar o Menu/ Vendas / Controle de Vasilhames:</p>
    <img src={img1} alt="" />

    <p>
      Na tela de Controle de vasilhame é importante informar a quantidade de
      vasilhames que estão sendo entregues.
    </p>
    <p>E o cadatro do vasilhame.</p>
    <img src={img2} alt="" />

    <p>Após informar a quantidade e o vasilhame basta clicar em salvar.</p>
    <p>O sistema abrirá a opção de Finalizar o controle do vasilhame.</p>
    <img src={img7} alt="" />

    <p>
      Caso não tenha finalizado o controle no momento que salvou o lançamento,
      basta clicar em Ferramentas e Finalizar Controle.
    </p>
    <img src={img6} alt="" />

    <p>
      Em seguida é possivel cancelar o lançamento, ou fazer a devolução do
      vasilhame.
    </p>
    <img src={img4} alt="" />

    <p>
      Em relatórios, é possivel imprimir o controle do registro lançado. Nele o
      caixa terá a informação do vasilhame devolvido, a quantidade e um codigo
      de barras para a leitura no momento da venda,
    </p>
    <img src={img5} alt="" />

    <p>
      Na aba movimentação, é possivel verificar em qual pedido foi utilizado
      esse vasilhame.
    </p>
    <img src={img3} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>13/02/2023</p>
    </div>
  </main>
</Layout>
